[2021-07-05 11:45] TechWriter-Mayur commented on #1107
Created the PR #1108 to address this issue.

[2021-07-07 00:01] johnbent opened #1109 "Tested by Section needed"
[https://github.com/Seagate/cortx/blob/main/doc/Community-Build/Building-CORTX-From-Source-for-SingleNode.md](https://github.com/Seagate/cortx/blob/main/doc/Community-Build/Building-CORTX-From-Source-for-SingleNode.md)

Needs a tested-by section.  @TechWriter-Mayur , can you please do the needful?

[2021-07-07 04:07] TechWriter-Mayur commented on #1109
Sure @johnbent, let me add the tested by section.

[2021-07-07 18:25] johnbent opened #1111 "PDF needs to be rotated"
[https://github.com/Seagate/cortx/blob/main/doc/meetings/PDFs/MTA_april.pdf](https://github.com/Seagate/cortx/blob/main/doc/meetings/PDFs/MTA_april.pdf)

@TechWriter-Mayur , can you please download and fix this PDF?  The rotation is not correct.  Thanks.

[2021-07-08 17:51] johnbent opened #1113 "Community Roadmap"
@TechWriter-Mayur , can you please update the hackathon row in the community roadmap?  Need to change the flag for July to be Singapore and add the link.

[2021-07-09 10:37] TechWriter-Mayur commented on #1111
Raised the #1114 for the same.

[2021-07-09 10:38] TechWriter-Mayur commented on #1113
Raised the #1114 for the same.

[2021-07-12 03:59] mukul-seagate11 commented on #1109
Issue has been addressed, hence closing

[2021-07-12 03:59] #1109 closed

[2021-07-12 04:16] mukul-seagate11 commented on #1107
Issue addressed, hence closing

[2021-07-12 04:16] #1107 closed

[2021-07-14 10:59] mukul-seagate11 commented on #1113
As PR#1114 is merged so closing this issue

[2021-07-14 10:59] #1113 closed

[2021-07-15 07:03] wow123yf opened #1117 "first preboarding procedure"
HI  .   I used CORTX for the first time
when  i   first use the preboarding procedure  . i  get  it . My browser is Firefox   .
![image](https://user-images.githubusercontent.com/30836989/125743262-7b493db7-9345-4193-a427-dd0806ca165f.png)

hctl status  is ok
s3authserver , haproxy  is  running

Looking forward to your reply

[2021-07-15 23:44] justinzw commented on #1117
@wow123yf  Thank you for reporting this and I'm sorry you are running into issues. I'll work with you to solve this issue.

Could you tell me more about your setup?

Are you running this on VMware Workstation and is 192.168.11.232 the management IP?

[2021-07-16 03:20] wow123yf commented on #1117
Thank you for your reply  。
Virtualize is vmware vsphere 6.7   .
192.168.11.232 is my  ens33 - Public data IP  . This  IP assigned through DHCP   .
if  i  use  ens32 - Management IP.  I can't connect the web page . I'm sure the IP is communicable .

[2021-07-16 17:43] justinzw commented on #1117
ok, thank you for reporting this. It seems to be a firewall/networking issue.

Which OVA are you using?

Could you run this: ` systemctl stop firewalld` as root and see whether you can connect?

[2021-07-18 06:03] 1156564544 commented on #1117
I have an issue exactly like you. I can't connect the web page if I use ens32 - Management IP. If I use ens33 - Public IP, I opened a webpage just like you. Did you solve this problem?

[2021-07-19 01:33] wow123yf commented on #1117
OVA is  1.0.4
i stop firewalld  .  But the trouble is still there .
I tried installing Firefox local .  access a website for 127.0.0.1 . But the trouble is still there .

[2021-07-19 05:56] mukul-seagate11 commented on #1117
We don't have to stop the firewalld, seems some networking issue at your end, what network adaptors you had configured for your VM in VMware?

[2021-07-19 07:48] wow123yf commented on #1117
network adaptors is  E1000
ens32 - Management IP and ens33 - Public IP  both addresses are retrieved from DHCP server .
The network both can be pinging
And  i use local Firefox with CortX still failed

[2021-07-19 19:16] justinzw commented on #1117
@wow123yf and @1156564544 it looks like the management service may not be running or there might be a networking issue like @mukul-seagate11 suggested.

2 things:

1) Can you run these commands?

`systemctl status rabbitmq-server`
`systemctl status elasticsearch`
`systemctl status haproxy`
`systemctl status s3authserver`
`systemctl status sspl-ll`
`systemctl status csm_agent`
`systemctl status csm

[2021-07-20 03:41] wow123yf commented on #1117
The above services are active.
I have reserved   jump on a live session with you .
debug this together

[2021-07-21 14:34] mukul-seagate11 commented on #1094
@Saumya-Sunder, If this issue has been addressed then we can close the same?

[2021-07-21 14:38] mukul-seagate11 commented on #1111
As issue has been addressed in https://github.com/Seagate/cortx/pull/1114 so closing the issue

[2021-07-21 14:38] #1111 closed

[2021-07-21 14:39] mukul-seagate11 commented on #1078
Please close the issue If the same has been addressed

[2021-07-21 16:11] justinzw commented on #1117
Thanks @wow123yf  for jumping on the call. The issue was resolved by appending port 28100 to the URL.

For NFS we don't have any immediate roadmap plans but we have most of the code ready and in github, we just need some testing and a bit more development.

[2021-07-21 16:11] #1117 closed

[2021-07-21 16:12] justinzw commented on #1117
Feel free to reopen/ping me if you have any further issues.

[2021-07-21 16:20] johnbent commented on #1117
@justinzw , do we need to add something about appending port 28100 to the documents?

[2021-07-21 16:35] justinzw commented on #1117
Good point and I'm investigating. The issue is that some OVAs versions do and some don't. I'll need to check which one does and which one doesn't and add it to the appropriate doc.

[2021-07-22 10:29] #1099 closed

[2021-07-22 10:29] #1100 closed

[2021-07-22 10:29] #1101 closed

[2021-07-22 10:29] #1102 closed

[2021-07-27 06:43] mukul-seagate11 commented on #1078
Haven't received any update so please feel free to reopen the issue if any issue is observed

[2021-07-27 06:43] #1078 closed

[2021-07-28 14:36] mukul-seagate11 commented on #136
Closing the issue as the same has been addressed in PR# 839

[2021-07-28 14:36] #136 closed

[2021-07-28 22:01] mengwanguc opened #1131 "cortx GUI refused to connect"
Hello, I was following [this OVA QSG](https://github.com/Seagate/cortx/blob/main/doc/ova/1.0.4/CORTX_on_Open_Virtual_Appliance.rst) on ova 1.0.4.
I'm using VMWare Workstation on a Windows10 laptop.
And I'm currently trying to[ configure the Cortx GUI](https://github.com/Seagate/cortx/blob/main/doc/Preboarding_and_Onboarding.rst).

However, when I tried to open https://<management IP>/#/preboarding

[2021-07-28 22:02] mengwanguc commented on #1131
This is output of `ip a l`:

[code]

[2021-07-28 22:38] mengwanguc commented on #1131
This is resolved by doing the following steps:

1. Open port 28100 by running
[code]

2. Visit port 28100:
https://<management IP>:28100/#/preboarding/welcome

Actually, these solutions were in the guide in old versions. However they were removed.
Step 1 was removed in #831. In this PR the troubleshooting was removed.
Step 2 was modified in #1096 . In this PR, the guide no longer uses port 1096.

[2021-07-28 23:20] mengwanguc opened #1133 "Unable to do `yum install` in the OVA"
Hello I'm running OVA 1.0.4 in VMWare Workstation on a Windows10 laptop.

I tried to do "sudo yum install nano" but got the following error message:

[code]

Same error happens when doing `yum install` for other packages.

From error message, this is because `yum` always tries to query packages from "cortx-storage.colo.seagate.com", but "cortx-storage.colo.seagate.com" looks like an internal site

[2021-07-29 04:13] johnbent commented on #1133
@mengwanguc , which QSG are you following?

[2021-07-29 05:25] shailesh-vaidya commented on #1133
@mengwanguc  Thanks for raising this issue. We advise not to install any package on OVA system as it might cause an adverse impact on CORTX services. Hence we disable all yum repositories in OVA VM.

We have fixed the internal URL configured in yum in the latest OVA release available at - https://github.com/Seagate/cortx/releases/tag/cortx-ova-2.0.0-264

You can build CORTX from source code and ru

[2021-07-29 05:44] mukul-seagate11 commented on #1131
@mengwanguc, As you are OVA 1.0.4 where port 28100 is required in URL so thanks for reported & let me take forward to fix the Wiki page

Also, we dont have to open the port or tamper the configuration as the port, 28100 is already opened

[2021-07-29 11:03] mengwanguc commented on #1133
Hi @johnbent , I was following https://github.com/Seagate/cortx/blob/main/doc/ova/1.0.4/CORTX_on_Open_Virtual_Appliance.rst

In step 17, it directs me to [Checking Health Doc](https://github.com/Seagate/cortx/blob/main/doc/checking_health.rst)
And in Checking Health Doc, it tells users to use `dstat ` to show IO activity.
However, OVA 1.0.4 doesn't have dstat installed. That's why I raised this is

[2021-07-29 11:12] mengwanguc commented on #1131
Thanks @mukul-seagate11 !

So I guess we don't need to specify port 28100 in OVA 2.0.0? (and that's why the port number is removed from the doc?)

I will try out OVA 2.0.0 later.

I was working on OVA 1.0.4 mainly because in Hackathon participants will be encouraged to use OVA 1.0.4 based on[ this slack discussion](https://cortxcommunity.slack.com/archives/G01EZQ2LUH1/p1627495168156800?thread_ts=1

[2021-07-29 16:31] johnbent commented on #1133
Thanks @mengwanguc !  @shailesh-vaidya and @mukul-seagate11 , seems like it is OK to disable yum (but not to show the error due to internal link) but seems like we need to install dstat.  Agreed?

[2021-07-29 16:34] shailesh-vaidya commented on #1133
@johnbent  Yes, we should do that.
@mengwanguc  We will add `dstat` command in the next OVA release.  CC: @mukul-seagate11

[2021-07-29 21:38] #1131 closed

[2021-07-30 03:23] mukul-seagate11 commented on #1131
yes you are correct

[2021-07-30 04:38] mukul-seagate11 commented on #1133
OK, as reported & noted, dstat command will be added in next OVA release

[2021-07-30 04:38] #1133 closed

[2021-08-03 08:38] 1156564544 opened #1153 "Is there an easy way to test I/O performance ？"
In addition to using the s3 client, is there a simpler data input and output method for cortx ?

[2021-08-03 08:46] 1156564544 commented on #1153
![image](https://user-images.githubusercontent.com/49397140/127985609-0829dcd7-052c-4bb8-8007-e6bca131c1bf.png)
I can't create an s3 account, so I would like to ask if there are other ways to achieve cortx data input and output ？

[2021-08-03 08:50] 1156564544 commented on #1153
![image](https://user-images.githubusercontent.com/49397140/127986368-f120080d-7cf6-4114-97e8-7e2d14008752.png)
I can not create a s3 account.
Is there any other way to input and output data to cortx ?

[2021-08-03 09:47] bariarviv opened #1154 "An issue in build a Single Node on CentOS"
I build a Single Node according to the following guides (in order):

1.  https://github.com/Seagate/cortx/blob/main/doc/community-build/Building-CORTX-From-Source-for-SingleNode.md
2.  https://github.com/Seagate/cortx/blob/main/doc/community-build/Generate-Cortx-Build-Stack.md
3.  https://github.com/Seagate/cortx/blob/main/doc/community-build/ProvisionReleaseBuild.md

In guide number 3 I got stuck

[2021-08-05 07:26] #241 closed

[2021-08-05 07:26] #444 closed

[2021-08-06 13:49] nikitadanilov opened #1159 "Kernel modules in the docker images."
I am trying to use ghcr.io/seagate/cortx-build:centos-7.8.2003.

$(uname -r) gives "5.10.25-linuxkit", but in /lib/modules there are only 3.10.0-1160.25.1.el7.x86_64 and 3.10.0-1160.el7.x86_64.

As a result, build of motr (and build of any other software relying on kernel modules, I assume), fails.

Is there a workaround?

[2021-08-09 10:33] whitesource-for-github-com[bot] opened #1160 "CVE-2021-32804 (High) detected in tar-6.1.0.tgz"
## CVE-2021-32804 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2021-08-09 10:34] whitesource-for-github-com[bot] opened #1161 "CVE-2021-32803 (High) detected in tar-6.1.0.tgz"
## CVE-2021-32803 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-6.1.0.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-6.1.0.tgz">https://registry.npmjs.org/tar/-/tar-6.1.0.tgz</a></p>
<p>Path to d

[2021-08-09 10:40] mukul-seagate11 commented on #1154
@bariarviv, as updated in https://github.com/Seagate/cortx/blob/main/doc/community-build/ProvisionReleaseBuild.md so please use commands instead of pcs,

`cortx cluster start`
`hctl status`

[2021-08-09 11:38] hessio commented on #1159
Hi @nikitadanilov I think this is a workaround for your issue: #1130

[2021-08-09 12:11] hessio commented on #1154
Have you had a chance to try the above mentioned steps @bariarviv ?

[2021-08-09 12:15] hessio commented on #1153
You can use cortx-motr to read and write data but s3 is the simplest way to do IO in cortx.

Can you check that all the services are running? Also has this cortx installation been left idle for a long time by any chance? I am trying to figure out why this issue might occur. 

Can you check all the services are running correctly:

[code]

If they are not active you can run:

[code]

[2021-08-09 12:27] bariarviv commented on #1154
Yes, I performed them now but there is no change, the services are still on 'Stopped' @mukul-seagate11 @hessio

[2021-08-09 22:36] johnbent commented on #1159
@hessio and @nikitadanilov , what guide was this following?

[2021-08-10 02:35] 1156564544 commented on #1153
@hessio Thank you for your reply. At the beginning, I installed cortx version 1.0.4 according to the steps in the official documentation. After the installation, the haproxy service could not be started. Now I use cortx version 1.0.3 and can create s3 account.

[2021-08-10 06:01] mukul-seagate11 commented on #1154
@bariarviv, can you create a fresh setup & follow the instructions as per documented

[2021-08-10 09:45] hessio commented on #1153
Oh ok what hypervisor are you using?

[2021-08-10 09:47] hessio commented on #1159
I am thinking @nikitadanilov was trying to use the community build guide: [https://github.com/Seagate/cortx/tree/main/doc/community-build](https://github.com/Seagate/cortx/tree/main/doc/community-build) and if you go to this guide step 4 you call docker run to use this docker container https://github.com/Seagate/cortx/blob/main/doc/community-build/Generate-Cortx-Build-Stack.md

[2021-08-11 13:57] nikitadanilov commented on #1159
I am doing a manual build within a docker on macos.

[2021-08-11 13:58] #1159 closed

[2021-08-11 14:29] #1160 closed

[2021-08-11 14:29] #1161 closed

[2021-08-11 14:39] #533 closed

[2021-08-11 16:49] johnbent commented on #537
Closed by https://github.com/Seagate/cortx/pull/1166

[2021-08-11 16:50] #537 closed

[2021-08-18 14:28] mukul-seagate11 commented on #1154
@bariarviv, did any issue was reported again else we can close the issue?

[2021-08-18 14:28] mukul-seagate11 commented on #1153
Any update on this issue?

[2021-08-18 14:29] mukul-seagate11 commented on #1094
@Saumya-Sunder, can this issue be closed?

[2021-08-18 14:32] mukul-seagate11 commented on #703
@Saumya-Sunder, can this issue be closed?

[2021-08-18 14:32] mukul-seagate11 commented on #613
@johnbent, can this issue be closed if done?

[2021-08-18 14:33] mukul-seagate11 commented on #104
@all, can this issue be closed if addressed?

[2021-08-18 14:37] mukul-seagate11 commented on #93
@Jeetandra, thank you for testing so closing this issue  and feel free to open another issue if you encounter any other issue

[2021-08-18 14:37] #93 closed, assigned to justinzw, Jeetandra

[2021-08-20 10:12] r-wambui commented on #1154
@mukul-seagate11 I managed to set up and access the GUI, but at the preboarding process, I don't have an option to register for an a/c. I'm redirected to log in, which I don't have the credentials.

[2021-08-21 19:42] whitesource-for-github-com[bot] opened #1179 "CVE-2021-23424 (High) detected in ansi-html-0.0.7.tgz"
## CVE-2021-23424 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ansi-html-0.0.7.tgz</b></p></summary>

<p>An elegant lib that converts the chalked (ANSI) text to HTML.</p>
<p>Library home page: <a href="https://registry.npmjs.org/ansi-html/-/ansi-html-0.0.7.tgz">

[2021-08-23 06:18] bariarviv commented on #1154
I am currently working with a virtual machine, I will try to do the instructions again soon. 

@mukul-seagate11 - you can close the issue, thanks!

[2021-08-23 12:15] hseow-seagate opened #1181 "Invalid System Name in Cortx Onboarding"
In the [Onboarding Guide](https://github.com/Seagate/cortx/blob/main/doc/Preboarding_and_Onboarding.rst) number 2, an image is shown to enter "**opensource ova**" as System Name. However, it seems that any name with spaces are considered invalid.

Is there any reason for such validations? If so, perhaps the image should be changed?

[2021-08-24 20:13] r-wambui opened #1188 "Cannot register an account on CORXT GUI- while building CORTX From Source."
I managed to build CORTX from the source for a single node; however, I cannot register an account on the GUI.
<img width="622" alt="Screenshot 2021-08-24 at 21 18 20" src="https://user-images.githubusercontent.com/27200863/130682906-7046bf83-a1df-4636-940a-9f89f4a58bde.png">

<img width="586" alt="Screenshot 2021-08-24 at 21 18 25" src="https://user-images.githubusercontent.com/27200863/130682926-

[2021-08-25 14:35] mukul-seagate11 commented on #1154
@bariarviv, Ok sure & feel free to open a new Issue If you encounter any other issue.

[2021-08-25 14:37] mukul-seagate11 commented on #1153
@1156564544, Do you have any update on this issue?

[2021-08-25 14:47] mukul-seagate11 commented on #1188
@r-wambui, please refer the Preboarding section [5] in https://github.com/Seagate/cortx/blob/main/doc/Preboarding_and_Onboarding.rst#Preboarding for more details.

![image](https://user-images.githubusercontent.com/65269273/130812666-ec73ae1e-b36d-4a4e-b56f-0ea9a747ccbf.png)

[2021-08-25 16:16] r-wambui commented on #1188
@mukul-seagate11 Thanks for the link. However, I cannot create an account, after step 4 when you accept the terms and conditions, step 5 is skipped and redirected to login. There's no option to create a user.

I shared a link of a commit where the adminuser route seems to have been removed and replaced with login.

[2021-08-30 15:29] hessio commented on #1188
I see you made this commit **@azam93 should this cause this issue that @r-wambui is seeing it seems that it should be the cause of this issue right?**

**How does one create an account now? Is there something we are missing here?**

**cc** @kupranay

[2021-08-30 15:33] hessio commented on #1181
cc @kupranay

[2021-08-30 15:34] r-wambui commented on #1188
@hessio I reached out to @azam93; the designs have slightly changed; they have replaced registering an A/c with a default username and password; once you log in, you are requested to change the password.

Should we include this in the documentation for clarity?

[2021-08-30 15:35] hessio commented on #1188
Oh please do this if you don't mind, thanks @r-wambui

[2021-09-01 14:33] mukul-seagate11 commented on #703
closing the issue as no update is received

[2021-09-15 14:38] mukul-seagate11 commented on #1188
Issue has been fixed in PR#1191

[2021-09-15 14:44] #1094 closed

[2021-09-15 14:44] hessio commented on #1153
Hi @1156564544 is there any update on this issue, if not I will close this issue?

[2021-09-15 14:46] mukul-seagate11 commented on #703
@novium258, can you look into the issue or close if not required

[2021-09-15 14:47] mukul-seagate11 commented on #613
@johnbent, can this issue be closed if no work is required?

[2021-09-15 14:48] mukul-seagate11 commented on #104
@johnbent @max-seagate, any update on this issue or the same can be closed?

[2021-09-16 19:16] #1188 closed

[2021-09-19 06:21] hseow-seagate opened #1214 "Cortx 2.0.0 OVA slow download"
I am able to download Cortx 1.0.4 from GitHub Release considerably much faster than Cortx 2.0.0 OVA (from cortx aws?).
Are there better mirrors or links for the new release?

_Note: Slow download also means it's easier to fail from interruption._

![image](https://user-images.githubusercontent.com/39552540/133917552-3f370105-b3f9-49a5-a4ac-fb97915a441e.png)

[2021-09-20 13:36] hessio commented on #1214
Hi @mukul-seagate11 do you know if there is a faster way to download this?

[2021-09-20 13:36] hessio commented on #1214
Hi @mukul-seagate11 do you know if there is a faster way to download this?

[2021-09-24 16:46] #703 closed

[2021-09-27 05:15] mukul-seagate11 commented on #1214
@hseow-seagate, this is expected behavior based on latency where 1.0.4 image is been downloaded from GitHub cloud and 2.0.0 is being downloaded from AWS cloud

[2021-09-27 05:33] cortx-admin commented on #1214
@hseow-seagate, this is expected behavior based on latency where 1.0.4 image is been downloaded from GitHub cloud and 2.0.0 is being downloaded from AWS cloud

[2021-09-27 05:55] cortx-admin commented on #1214
Closing this issue as expected behavior due to latency

[2021-09-27 05:55] cortx-admin commented on #1214
Issue closed

[2021-09-27 06:16] #1214 closed

[2021-09-27 06:16] cortx-admin commented on #1214
Closed in GitHub issue

[2021-09-30 05:55] johnbent opened #1235 "Need link to new QSG"
@shailesh-vaidya just added a great new QSG! [https://github.com/Seagate/cortx/blob/main/doc/community-build/cloud/AWS/README.md](https://github.com/Seagate/cortx/blob/main/doc/community-build/cloud/AWS/README.md)

@mukul-seagate11 can you please work with @swatid-seagate to add a link to this new page from an existing page?

[2021-09-30 07:57] shailesh-vaidya commented on #1235
@mukul-seagate11 I feel we can add a link for this in https://github.com/Seagate/cortx/blob/main/doc/community-build/Building-CORTX-From-Source-for-SingleNode.md#prerequisites page.
Here we can guide developers that they can use AWS to set up VM and perform the next operations (CORTX Build and Deploy) on it.

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1249 "Upgrade package ssh2-0.8.9.tgz from 0.8.9 to version 1.4.0 or above."
This vulnerability is used to keep track of upgrade for package ssh2

from version 0.8.9 to 1.4.0 or above.

 

It is expected to fix problems mentioned below.

 

 

CVE-2020-26301 - High Severity Vulnerability
 <details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ssh2-0.8.9.tgz</b></p></summary>

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1250 "CVE-2021-27923 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-27923 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1251 "CVE-2021-39134 (High) detected in arborist-2.4.0.tgz"
## CVE-2021-39134 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>arborist-2.4.0.tgz</b></p></summary>

<p>Manage node_modules trees</p>
<p>Library home page: <a href="https://registry.npmjs.org/@npmcli/arborist/-/arborist-2.4.0.tgz">https://registry.npmjs.org/@npm

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1252 "Upgrade package arborist-2.4.0.tgz from version 2.4.0 to version 2.4.2 or above"
This bug is used to track upgrade of package arborist-2.4.0.tgz from version 2.4.0 to version 2.4.2 or above

 

It is expected to fix vulnerabilities as follows

 

CVE-2021-39135 -

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1253 "Upgrade package trim-newlines-1.0.0.tgz from 1.0.0 to 4.0.1 or above."
This bug is used to track Upgrade package trim-newlines-1.0.0.tgz from 1.0.0 to 4.0.1 or above.

It is expected to resolve vulnerabilities mentioned below

 

CVE-2021-33623 -

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1254 "Upgrade package tar-5.0.5.tgz from 5.0.5 to 5.0.10 OR above"
This bug is used to track the progress related to upgrade of

package tar-5.0.5.tgz from 5.0.5 to 5.0.10 OR above

 

It is expected to fix vulnerabilities mentioned below

 

CVE-2021-37712 - 

CVE-2021-37701
CVE-2021-37713
CVE-2021-32803
CVE-2021-32804

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1255 "CVE-2021-25290 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-25290 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1256 "CVE-2021-25291 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-25291 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1257 "Upgrade package Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl to v. 8.3.2 or above"
This bug is used to track upgrade for package Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl to v. 8.3.2 or above

It is expected to fix following vulnerabilities

CVE-2021-25293 -

CVE-2021-27921

CVE-2021-23437

CVE-2021-27923

CVE-2021-25290

CVE-2021-25291

CVE-2021-27921

CVE-2021-25288

CVE-2021-25289

CVE-2021-28677

CVE-2021-28676

CVE-2021-25287

CVE-2020-35653

CVE-2020-35654

CVE-2021-34

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1258 "CVE-2021-3820 (High) detected in i-0.3.6.tgz - autoclosed"
## CVE-2021-3820 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>i-0.3.6.tgz</b></p></summary>

<p>custom inflections for nodejs</p>
<p>Library home page: <a href="https://registry.npmjs.org/i/-/i-0.3.6.tgz">https://registry.npmjs.org/i/-/i-0.3.6.tgz</a></p>
<p>Pat

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1259 "CVE-2021-3749 (High) detected in axios-0.21.1.tgz"
## CVE-2021-3749 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>axios-0.21.1.tgz</b></p></summary>

<p>Promise based HTTP client for the browser and node.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/axios/-/axios-0.21.1.tgz">https://registry.np

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1260 "CVE-2021-3803 (High) detected in nth-check-2.0.0.tgz, nth-check-1.0.2.tgz"
## CVE-2021-3803 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>nth-check-2.0.0.tgz</b>, <b>nth-check-1.0.2.tgz</b></p></summary>
<p>

<details><summary><b>nth-check-2.0.0.tgz</b></p></summary>

<p>Parses and compiles CSS nth-checks to highly optimized functions

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1261 "CVE-2021-23436 (High) detected in immer-8.0.1.tgz"
## CVE-2021-23436 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>immer-8.0.1.tgz</b></p></summary>

<p>Create your next immutable state by mutating the current one</p>
<p>Library home page: <a href="https://registry.npmjs.org/immer/-/immer-8.0.1.tgz">https://regis

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1262 "CVE-2021-3828 (High) detected in nltk-3.6.3-py3-none-any.whl"
## CVE-2021-3828 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>nltk-3.6.3-py3-none-any.whl</b></p></summary>

<p>Natural Language Toolkit</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/5e/a0/04763ddc4bf3bac6f3bd38934c36a0f3ac30e48c39a5

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1263 "Upgrade package mpath-0.7.0.tgz from v 0.7.0 to 0.8.4 or above"
This bug is used to track upgrade package mpath-0.7.0.tgz from v 0.7.0 to 0.8.4 or above

 

It is expected to resolve vulnerabilities mentioned below.

 

CVE-2021-23438

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1264 "Upgrade package ansi-regex.tgz from 3.0.0,4.1.0,5.0.0 to 5.0.1"
This bug is used to track upgrade of package ansi-regex.tgz from 3.0.0,4.1.0,5.0.0 to 5.0.1 or above.

 

It is expected to resolve vulnerability as follows

 

CVE-2021-3807 -

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1265 "CVE-2021-37701 (High) detected in tar-5.0.5.tgz"
## CVE-2021-37701 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-5.0.5.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-5.0.5.tgz">https://registry.npmjs.org/tar/-/tar-5.0.5.tgz</a></p>
<p>Path to d

[2021-10-04 16:55] whitesource-for-github-com[bot] opened #1266 "CVE-2021-37713 (High) detected in tar-5.0.5.tgz"
## CVE-2021-37713 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-5.0.5.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-5.0.5.tgz">https://registry.npmjs.org/tar/-/tar-5.0.5.tgz</a></p>
<p>Path to d

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1267 "CVE-2021-34552 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-34552 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1268 "CVE-2020-35654 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2020-35654 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1269 "CVE-2020-35653 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2020-35653 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1270 "CVE-2021-25287 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-25287 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1271 "CVE-2021-28676 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-28676 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1272 "CVE-2021-28677 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-28677 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1273 "Upgrade package immer-8.0.1.tgz from 8.0.1 to version 9.0.6"
This bug is used to upgrade package immer-8.0.1.tgz from 8.0.1 to version 9.0.6

It is expected to resolve following vulnerabilities

CVE-2021-3757

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1274 "CVE-2021-25289 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-25289 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1275 "Upgrade package tmpl-1.0.4.tgz from 1.0.4 to version 1.0.5 or above"
This bug is used to track upgrade package tmpl-1.0.4.tgz from 1.0.4 to version 1.0.5 or above.

It is expected to fix following vulnerabilities

CVE-2021-3777

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1276 "CVE-2021-25288 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-25288 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1277 "CVE-2021-27921 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-27921 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 16:56] whitesource-for-github-com[bot] opened #1278 "CVE-2021-27922 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-27922 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 18:05] paulq11 opened #1282 "Problem with 'Deploy CORTX Build Stack' process."
The instructions for 'Deploy CORTX Build Stack' fail for me at Step 11, 'cortx_setup node initialize'.
I am on a VMWare workstation VM with centos 7.9.2009. The build goes perfectly, and the deploy sequence works until 11. The console output is attached as 'console.output.txt'
[console.output.txt](https://github.com/Seagate/cortx/files/7280202/console.output.txt)
.
The logs in /var/log/seagate/pro

[2021-10-04 18:08] johnbent commented on #1282
Thanks @paulq11! As @r-wambui is the DA assigned to parent, Rose, can you please attempt to reproduce this? 

[https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/127894381/Gatekeepers+Gatekeeping+and+Community+Triage+and+Support](https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/127894381/Gatekeepers+Gatekeeping+and+Community+Triage+and+Support)

[2021-10-04 18:23] r-wambui commented on #1282
@johnbent Sure.

@paulq11 I'll test the build on my end and keep you updated.

[2021-10-04 18:48] johnbent commented on #1282
Hey @paulq11 , I just merged a PR for this set of instructions: #1247 . Maybe that fixed it?

[2021-10-04 19:17] paulq11 commented on #1282
Great -
Checking it now on both machines.

Paul

Seagate Internal
From: John Bent ***@***.***>
Sent: Monday, October 4, 2021 2:49 PM
To: Seagate/cortx ***@***.***>
Cc: Paul Heath ***@***.***>; Mention ***@***.***>
Subject: Re: [Seagate/cortx] Problem with 'Deploy CORTX Build Stack' process. (#1282)

This message has originated from an External Source. Please use proper judgment and caution when op

[2021-10-04 19:19] whitesource-for-github-com[bot] opened #1287 "CVE-2021-23437 (High) detected in Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl"
## CVE-2021-23437 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl</b></p></summary>

<p>Python Imaging Library (Fork)</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/af/fa/c1302a26d5e1a17fa8e1

[2021-10-04 19:21] #1258 closed

[2021-10-04 20:33] johnbent commented on #1282
@paulq11 , are you just trying to replicate the FDMI sample app? If so, I would suggest just building and deploying motr instead of building and deploying the full stack. It's MUCH MUCH easier. So, if you just want to work with FDMI, I think all you need to do is the following:

1. https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst
2. https://github.com/Seagate/cortx-motr/bl

[2021-10-04 22:04] johnbent commented on #1282
@r-wambui , I talked to Paul and this remains a priority. He does need the full stack so thanks for helping him here!

[2021-10-04 22:21] paulq11 commented on #1282
The test with the #1247 tag did not work on the Mac VM... nodecli attached. Looks as if it is trying to reference eth0 -- and on this vm we have only ens33, ens34, and ens35

[nodecli.log.mac.txt.log](https://github.com/Seagate/cortx/files/7281629/nodecli.log.mac.txt.log)
.

[2021-10-05 01:00] whitesource-for-github-com[bot] opened #1288 "Upgrade package axios-0.21.1.tgz from 0.21.1 to 0.21.2 or above"
This bug is used to track upgrade of package axios-0.21.1.tgz from 0.21.1 to 0.21.2 or above.

 

It is expected to resolve following vulnerabilities

 

CVE-2021-3749 -

CVE-2020-28168

 

[2021-10-05 01:00] whitesource-for-github-com[bot] opened #1289 "Upgrade package nth-check from version 1.0.2 or 2.0.0 to 2.0.1 or above"
This bug is used to Upgrade package nth-check from version 1.0.2 or 2.0.0 to 2.0.1 or above

It is expected to fix vulnerabilities mentioned below.

 

CVE-2021-3803 -

[2021-10-05 01:27] paulq11 commented on #1282
And it didn't work as well on the windows hosted centos7.9 guest either. Same step, 11. Nodecli.log attached
[nodecli.win.log.txt](https://github.com/Seagate/cortx/files/7282169/nodecli.win.log.txt)
.

[2021-10-05 06:44] swanand-gadre commented on #1179
Reopening this issue, as PR 1290 is used to make fix for this issue

[2021-10-05 07:39] #1179 closed

[2021-10-05 07:39] cortx-admin commented on #1179
Issue it fixed as PR -> [[Fix for Whitesource CVE-2021-23424] To remove reference to ansi-html by swanand-gadre · Pull Request #1290 · Seagate/cortx (github.com)|https://github.com/Seagate/cortx/pull/1290]

[2021-10-05 07:39] cortx-admin commented on #1179
[[Fix for Whitesource CVE-2021-23424] To remove reference to ansi-html by swanand-gadre · Pull Request #1290 · Seagate/cortx (github.com)|https://github.com/Seagate/cortx/pull/1290]

[2021-10-05 07:39] cortx-admin commented on #1179
[[Fix for Whitesource CVE-2021-23424] To remove reference to ansi-html by swanand-gadre · Pull Request #1290 · Seagate/cortx (github.com)|https://github.com/Seagate/cortx/pull/1290]

[2021-10-05 11:36] ketanarlulkar opened #1292 "Terms and Condition link in release page is broken"
Release Page: https://github.com/Seagate/cortx/releases
Terms and Condition link: https://github.com/Seagate/cortx/blob/main/terms_and_conditions.rst

[2021-10-05 12:53] whitesource-for-github-com[bot] opened #1294 "Upgrade package i-0.3.6.tgz to i-0.3.7 or above"
This bug will be used to track upgrade to package i-0.3.6.tgz to i-0.3.7 or above

It is expected to fix following vulnerabilities

CVE-2021-3820 -

[2021-10-05 12:53] #1021 closed

[2021-10-05 17:26] hessio commented on #1153
Hi @1156564544 is there any update on this issue?

[2021-10-05 17:28] novium258 commented on #1292
@swatid-seagate Can you update the link to your new file?

[2021-10-06 01:00] whitesource-for-github-com[bot] opened #1296 "Upgrade package pip-19.2-py2.py3-none-any.whl to 20.1.1 or above"
This bug will be used to upgrade package pip-19.2-py2.py3-none-any.whl to 20.1.1 or above

 

It is expected to address following vulnerabilities

CVE-2018-20225 -

[2021-10-06 03:50] mukul-seagate11 commented on #1282
@paulq11, the error in nodecli log is due to, your interfaces are different so you have to select the same according as,

[code]

Which is clearly mentioned in step 7 as NOTE as,

![image](https://user-images.githubusercontent.com/65269273/136137826-b7373f37-f30a-467a-8209-518e585d3168.png)

[2021-10-06 12:53] paulq11 commented on #1282
Hi @mukul-seagate11
My interfaces are set on that VM to ens33, ens34, and ens35. Attached is a screen shot
Thank you for looking in to this !

![mac_cortx_vm_net_interfaces jpg](https://user-images.githubusercontent.com/8881528/136205901-a4ee26d3-cc30-4570-bac4-f6982b6ecd5a.png)

[2021-10-06 16:20] paulq11 commented on #1282
Here's an update to the windows host (vmware workstation 16.1.2) with centos 7.9.2009 guest - completely fresh install this morning - build was fine, deploy failed at step 5 "sh install.sh -t http://${LOCAL_IP}/0"  with a message saying it could not stat a file (see screen shot). Install log does not have errors.
![step5_snip](https://user-images.githubusercontent.com/8881528/136243661-e4306111-08

[2021-10-07 03:37] #1292 closed

[2021-10-07 08:26] mukul-seagate11 commented on #1282
@paulq11, yes this error has already been identified & reported to the respective component as to fix the same.

[2021-10-08 23:41] johnbent commented on #1282
Just an update for Seagate folks who want to see the progress on fixing this bug: [https://jts.seagate.com/browse/EOS-25301](https://jts.seagate.com/browse/EOS-25301) FYI @paulq11 and @r-wambui

[2021-10-09 01:58] paulq11 commented on #1282
I just tried a build based on #1302 of https://github.com/Seagate/cortx/blob/main/doc/community-build/ProvisionReleaseBuild.md and got a bit further. Fail on step 12 this time - the cortx_setup node finalize. Here
is the last output..

[root@deploy-test scripts]# cortx_setup storage config --cvg dgB01 --data-devices /dev/sdb1,/dev/sdb2,/dev/sdb3 --metadata-devices /dev/sdb4
[root@deploy-test scrip

[2021-10-12 03:35] swanand-gadre commented on #1296
[This is related installtion of pip, where a high version gets installed.
it is driven by a option --extra-index-url
Also there is a dispute, if it is intended functionality]

What is Vulnerability

** DISPUTED ** An issue was discovered in pip (all versions) because it installs the version with the highest version number, even if the user had intended to obtain a private package from a private in

[2021-10-12 08:04] mukul-seagate11 commented on #1282
@paulq11, yes as its not merged yet so in the meantime you can follow similar updated instructions in https://github.com/mukul-seagate11/cortx-1/blob/main/doc/community-build/ProvisionReleaseBuild.md

[2021-10-13 11:57] mukul-seagate11 commented on #1282
@paulq11, Have you tested again on fresh VM?

[2021-10-13 15:21] #1282 closed

[2021-10-14 05:21] mukul-seagate11 commented on #1282
@paulq11, yes this error is actually fixed in 2.0.0-527 TAG & the same has been updated in https://github.com/mukul-seagate11/cortx-1/blob/main/doc/community-build/Generate-Cortx-Build-Stack.md

Feel free to open a new issue If you still observe the same issue in 527

[2021-10-14 14:41] paulq11 commented on #1282
Great, Thanks Mukul !

Will verify today on all my machines.

Paul

Seagate Internal
From: mukul-seagate11 ***@***.***>
Sent: Thursday, October 14, 2021 1:22 AM
To: Seagate/cortx ***@***.***>
Cc: Paul Heath ***@***.***>; Mention ***@***.***>
Subject: Re: [Seagate/cortx] Problem with 'Deploy CORTX Build Stack' process. (#1282)

This message has originated from an External Source. Please use proper

[2021-10-14 18:20] paulq11 commented on #1282
Hi Rose,
Thanks. I am seeing issues in the initial make clean build step (step 4) in tag 2.0.0-257.  This
Here's my log.

***@***.*** cortx-s3server]# docker run --rm -v /root/cortx:/cortx-workspace ghcr.io/seagate/cortx-build:centos-7.9.2009 make checkout BRANCH=2.0.0-527 > /dev/null 2>&1
cd ~/cortx/cortx-s3server; git checkout 2.0.0-527
***@***.*** cortx-s3server]# cd ~/cortx/cortx-s3server; git

[2021-10-16 01:12] paulq11 commented on #1282
Hi Rose,
I found the issue with my previous build. As I said it was selinux being on. I did run the commands
In the pre-req doc which turns selinix off ... however I did not reboot.
Fixed that and I am at what I think is the same errors you are getting. Here is the log.

***@***.*** scripts]# cortx_setup node initialize
***@***.*** scripts]# cortx_setup node finalize --force
One or more node valid

[2021-10-18 11:58] cortx-admin commented on #613
Verified

[2021-11-08 13:00] hessio commented on #104
@max-seagate can you take a look at this issue when you get a chance?

[2021-11-12 17:05] johnbent opened #1324 "Creating a dummy issue so I can paste some images"
![](https://user-images.githubusercontent.com/2047294/141506111-ab0cfbd3-0cf2-41bd-9aa9-052763860c70.png)

![](https://user-images.githubusercontent.com/2047294/141506155-314850b7-2ca3-4b13-a44b-66c22d8c9743.png)

![](https://user-images.githubusercontent.com/2047294/141506212-ba706092-94a6-4aaa-9c2b-8140f8b35425.png)

[2021-11-12 17:06] johnbent commented on #1324
closing

[2021-11-12 17:06] #1324 closed

[2021-11-12 17:29] cortx-admin commented on #1324
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26103. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-12 18:39] cortx-admin commented on #1324
why is it so hard to close an issue?

[2021-11-12 18:39] cortx-admin commented on #1324
fixed

[2021-11-12 18:39] cortx-admin commented on #1324
fixed

[2021-11-19 06:52] #1256 closed

[2021-11-19 06:53] cortx-admin commented on #1256
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 06:53] cortx-admin commented on #1256
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 06:53] cortx-admin commented on #1256
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 10:16] #1255 closed

[2021-11-19 10:16] cortx-admin commented on #1255
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 10:16] cortx-admin commented on #1255
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 10:16] cortx-admin commented on #1255
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 10:16] #1250 closed

[2021-11-19 10:16] cortx-admin commented on #1250
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 10:16] cortx-admin commented on #1250
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 10:16] cortx-admin commented on #1250
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:29] #1287 closed

[2021-11-19 12:29] cortx-admin commented on #1287
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:29] cortx-admin commented on #1287
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:29] cortx-admin commented on #1287
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:29] #1278 closed

[2021-11-19 12:29] cortx-admin commented on #1278
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:29] cortx-admin commented on #1278
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1278
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] #1277 closed

[2021-11-19 12:30] cortx-admin commented on #1277
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1277
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1277
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] #1276 closed

[2021-11-19 12:30] cortx-admin commented on #1276
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1276
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1276
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1276
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] #1274 closed

[2021-11-19 12:30] cortx-admin commented on #1274
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1274
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1274
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] #1272 closed

[2021-11-19 12:30] cortx-admin commented on #1272
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1272
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 12:30] cortx-admin commented on #1272
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] #1271 closed

[2021-11-19 13:36] cortx-admin commented on #1271
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] cortx-admin commented on #1271
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] cortx-admin commented on #1271
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] #1270 closed

[2021-11-19 13:36] cortx-admin commented on #1270
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] cortx-admin commented on #1270
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] cortx-admin commented on #1270
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] #1269 closed

[2021-11-19 13:36] cortx-admin commented on #1269
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] cortx-admin commented on #1269
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 13:36] cortx-admin commented on #1269
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] #1268 closed

[2021-11-19 14:47] cortx-admin commented on #1268
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] cortx-admin commented on #1268
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] cortx-admin commented on #1268
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] cortx-admin commented on #1268
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] #1267 closed

[2021-11-19 14:47] cortx-admin commented on #1267
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] cortx-admin commented on #1267
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-19 14:47] cortx-admin commented on #1267
Closing this bug as duplicate of 

https://jts.seagate.com/browse/EOS-25173

All the Pillow-8.0.1-cp37-cp37m-manylinux1_x86_64.whl package related vulnerability bugs will be tracked thru 

https://jts.seagate.com/browse/EOS-25173

[2021-11-22 08:33] #1266 closed

[2021-11-22 08:33] cortx-admin commented on #1266
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25170

 

All the tar package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25170

[2021-11-22 08:33] cortx-admin commented on #1266
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25170

 

All the tar package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25170

[2021-11-22 08:33] cortx-admin commented on #1266
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25170

 

All the tar package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25170

[2021-11-22 09:39] cortx-admin commented on #1289
|VE-2021-3803
nth-check is vulnerable to Inefficient Regular Expression Complexity
POC published -> [https://huntr.dev/bounties/8cf8cc06-d2cf-4b4e-b42c-99fafb0b04d0/]
This needs to be fixed, because even if we are not using any of the
regex calls, only the fact that vulnerable package is installed
on npm server, makes npm server vulnerable for attaks.|

[2021-11-22 09:40] #1265 closed

[2021-11-22 09:40] cortx-admin commented on #1265
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25170

 

All the tar package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25170

[2021-11-22 09:40] cortx-admin commented on #1265
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25170

 

All the tar package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25170

[2021-11-22 09:40] cortx-admin commented on #1265
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25170

 

All the tar package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25170

[2021-11-22 09:40] cortx-admin commented on #1252
My analysis

 
|This vulnerability allows arbitrary contents could be written to any location
on the filesystem.
A package pwn-a could define a dependency in their package.json file
such as "foo": "file:/some/path".
Another package, pwn-b could define a dependency such as FOO: "file:foo.tgz".
On case-insensitive file systems, if pwn-a was installed, and
then pwn-b was installed afterwards, the con

[2021-11-22 09:40] #1251 closed

[2021-11-22 09:40] cortx-admin commented on #1251
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25168

 

All the arborist package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25168

[2021-11-22 09:40] cortx-admin commented on #1251
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25168

 

All the arborist package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25168

[2021-11-22 09:40] cortx-admin commented on #1251
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25168

 

All the arborist package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25168

[2021-11-22 09:40] cortx-admin commented on #1249
|This is vulnerability causes command injection, malicious user can
inject any command which wll get executed on npm server
But its applicable only on windows platform (If npm server installed on windows)
POC is available here
[https://securitylab.github.com/advisories/GHSL-2020-123-mscdex-ssh2/]
If npm server is not installed on windows, then this fix doesn't become
must fix, however, we must upg

[2021-11-22 16:27] cortx-admin commented on #1273
-

[2021-11-22 16:27] cortx-admin commented on #1273
|Used with immutable objects, however I did not see any reference
of using immer clauses in the code. [Can dev confirmed it]?
Vulnerability
The software receives input from an upstream component that specifies
multiple attributes, properties, or fields that are to be initialized or
updated in an object, but it does not properly control which
attributes can be modified.|

[2021-11-22 16:27] cortx-admin commented on #1261
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25189

 

All the immer package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25189

[2021-11-22 16:27] cortx-admin commented on #1261
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25189

 

All the immer package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25189

[2021-11-22 16:27] cortx-admin commented on #1261
Closing this bug as duplicate of

https://jts.seagate.com/browse/EOS-25189

 

All the immer package related vulnerability bugs will be tracked thru

https://jts.seagate.com/browse/EOS-25189

[2021-11-23 12:24] cortx-admin commented on #1262
Closing this defect, as latest whitesource scans did not report this issue.

[2021-11-23 12:24] cortx-admin commented on #1262
Closing this defect, as latest whitesource scans did not report this issue.

I checked following repos

cortx

cortx management portal

cortx_prvsnr

[2021-11-23 12:24] cortx-admin commented on #1262
Closing this defect, as latest whitesource scans did not report this issue.

[2021-11-29 16:39] johnbent opened #1347 "EOS-26653: Add k8s submodule"
@priyankdal , can you please assign someone to add a [https://github.com/Seagate/cortx-k8s](https://github.com/Seagate/cortx-k8s) submodule to this parent repo?

[2021-11-29 16:46] cortx-admin commented on #1347
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26653. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-29 16:54] johnbent opened #1348 "EOS-26654: Parent QSG needs to be updated"
@gregnsk  instructions for k8s deployment:

[https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md](https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md)
 

We need to add a link to this from our parent QSG. Who is driving this? I'll create a github issue as well. Also, I think now that we have k8s, we need to completely redo our parent QS

[2021-11-29 16:56] johnbent commented on #1348
@priyankdal can you please get this assigned and scheduled? I think it already should have happened at the end of PI4. You can work with @novium258 because @swatid-seagate might be able to do this work.

[2021-11-29 16:58] johnbent opened #1349 "k8s instructions should have video added to them"
The k8s instructions (https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md) should be updated to include the video (https://www.linkedin.com/posts/gtouret_opensource-sds-kubernetes-activity-6867206757735919616-Hzcq).

@priyankdal can you work with @novium258 to get this assigned/scheduled please?

[2021-11-29 17:02] cortx-admin commented on #1348
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26654. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-29 17:02] cortx-admin commented on #1349
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26655. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-11-29 17:12] johnbent commented on #1348
What is the relationship between @gregnsk instructions in k8s repo and this PR in this repo which I worry is adding a redundant set of instructions: #1341.

[2021-12-02 09:04] mukul-seagate11 commented on #1349
@swatid-seagate

[2021-12-02 09:07] mukul-seagate11 commented on #1348
@swatid-seagate

[2021-12-02 09:09] mukul-seagate11 commented on #1347
@venkuppu-chn

[2021-12-02 10:27] cortx-admin commented on #1282
request closed as part of triage process

[2021-12-02 10:27] cortx-admin commented on #1282
request closed as part of triage process

[2021-12-02 10:27] cortx-admin commented on #1282
.

[2021-12-02 10:27] cortx-admin commented on #1235
Issue fix in https://github.com/Seagate/cortx/pull/1297

[2021-12-02 10:27] cortx-admin commented on #1235
request closed as part of triage process

[2021-12-02 10:27] cortx-admin commented on #1235
request closed as part of triage process

[2021-12-02 10:27] cortx-admin commented on #1153
[~930816], any update on this otherwise can be closed?

[2021-12-02 10:27] cortx-admin commented on #1153
I have not heard any new update

[2021-12-06 15:41] #1260 closed

[2021-12-06 15:41] cortx-admin commented on #1260
Closing it as duplicate of EOS-25200

[2021-12-06 15:41] cortx-admin commented on #1260
Closing it as duplicate of EOS-25200

[2021-12-06 15:41] cortx-admin commented on #1260
Closing it as duplicate of EOS-25200

[2021-12-06 15:41] cortx-admin commented on #1260
Closing it as duplicate of EOS-25200

[2021-12-06 15:41] #1259 closed

[2021-12-06 15:41] cortx-admin commented on #1259
Closing it as duplicate of EOS-25199

[2021-12-06 15:41] cortx-admin commented on #1259
Closing it as duplicate of EOS-25199

[2021-12-06 15:41] cortx-admin commented on #1259
Closing it as duplicate of EOS-25199

[2021-12-06 15:41] cortx-admin commented on #1258
Closing this as duplicate of EOS-25244

[2021-12-06 15:41] cortx-admin commented on #1258
Closing this as duplicate of EOS-25244

[2021-12-06 15:41] cortx-admin commented on #1258
Closing this as duplicate of EOS-25244

[2021-12-06 15:41] cortx-admin commented on #1258
Closing this as duplicate of EOS-25244

[2021-12-08 13:07] swatid-seagate commented on #1348
@mukul-seagate11 please help me understand which link to update or do we need to add a new point in QSG.md file?

[2021-12-09 13:51] cortx-admin commented on #1348
As discussed with Shailesh, will work on following for QSG update.
 * Image creation - [https://github.com/Seagate/cortx/blob/main/doc/community-build/docker/cortx-all/README.md]
 * Deployment - [https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md]
 * RPM - [https://github.com/Seagate/cortx/blob/main/doc/community-build/Generate-Cortx-Build-Stack.md]

 * Image - [htt

[2021-12-10 07:29] swanand-gadre commented on #1020
This is tracked thru JIRA -> https://jts.seagate.com/browse/EOS-25252
So closing it on github

[2021-12-10 07:29] #1020 closed

[2021-12-13 06:52] mukul-seagate11 opened #1360 "Dummy: Github Issue as prefix in Jira title"
Github Issue as prefix in Jira title

[2021-12-13 06:59] cortx-admin commented on #1360
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26901. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-13 08:06] #1360 closed

[2021-12-13 08:06] cortx-admin commented on #1360
dummy issue created for internal test

[2021-12-13 08:06] cortx-admin commented on #1360
dummy issue created for internal test

[2021-12-13 11:04] hseow-seagate opened #1364 "Images API Integration"
[Images API](https://github.com/Seagate/cortx/tree/main/doc/integrations/images-api) integration seems to have some issue, the Dockerfile CMD uses `gunicorn` but the base image (or requirements.txt) doesn't contain this module.

I had to add `RUN pip install gunicorn` in the Dockerfile, however there are still issues related to `gunicorn`'s configuration where it seemingly runs the app twice, caus

[2021-12-13 11:10] cortx-admin commented on #1364
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-26906. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-14 06:34] cortx-admin commented on #1347
[~744954], can you please help get this assigned?

[2021-12-14 06:34] cortx-admin commented on #1347
[~747271], can you please help get this scheduled?

[2021-12-15 05:57] cortx-admin commented on #1347
[~747271], when we do this can we also do the same for the cortx-re module? If not, please let me know and I'll create another ticket.

[2021-12-17 10:40] cortx-admin commented on #1347
[~535110], We will address it in the same ticket for cortx-re repository as well.   

[2021-12-21 19:46] cortx-admin commented on #1347
[~747271], We have to rename/create a new token in RE repo to follow the uniformity. Other repositories have the secrets as ACCESS_TOKEN but RE has just TOKEN.

!image-2021-12-22-00-03-54-315.png!

[2021-12-21 19:46] cortx-admin commented on #1347
[~747271], Also please create a secrets as ACCESS_TOKEN in cortx-k8s repository.  

[2021-12-22 06:14] cortx-admin commented on #1347
PRs:

Cortx Repo:

[https://github.com/Seagate/cortx/pull/1370]

 

RE Repo:

[https://github.com/Seagate/cortx-re/pull/765]

 

K8s Repo:

 

[2021-12-22 08:34] cortx-admin commented on #1347
Review Required

[2021-12-22 12:52] #1296 closed

[2021-12-22 12:52] cortx-admin commented on #1296
This issue is reported under following folder

/doc/integrations/parlAI

in cortx (parent) repo -? [Seagate/cortx: CORTX Community Object Storage is 100% open source object storage uniquely optimized for mass capacity storage devices. (github.com)|https://github.com/Seagate/cortx]

contents from "doc" folder are not bundled with cortx, so 

Whitesource configuration is modified to ignore this fold

[2021-12-22 12:52] cortx-admin commented on #1296
This issue is reported under following folder

/doc/integrations/parlAI

in cortx (parent) repo -? [Seagate/cortx: CORTX Community Object Storage is 100% open source object storage uniquely optimized for mass capacity storage devices. (github.com)|https://github.com/Seagate/cortx]

contents from "doc" folder are not bundled with cortx, so 

Whitesource configuration is modified to ignore this fold

[2021-12-22 12:52] cortx-admin commented on #1296
This issue is reported under following folder

/doc/integrations/parlAI

in cortx (parent) repo -? [Seagate/cortx: CORTX Community Object Storage is 100% open source object storage uniquely optimized for mass capacity storage devices. (github.com)|https://github.com/Seagate/cortx]

contents from "doc" folder are not bundled with cortx, so 

Whitesource configuration is modified to ignore this fold

[2021-12-22 12:52] cortx-admin commented on #1296
This issue is reported under following folder

/doc/integrations/parlAI

in cortx (parent) repo -? [Seagate/cortx: CORTX Community Object Storage is 100% open source object storage uniquely optimized for mass capacity storage devices. (github.com)|https://github.com/Seagate/cortx]

contents from "doc" folder are not bundled with cortx, so 

Whitesource configuration is modified to ignore this fold

[2021-12-22 12:52] #1294 closed

[2021-12-22 12:52] cortx-admin commented on #1294
This issue is reported under following folder

/doc/integrations/myDrive/node_modules/i/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] cortx-admin commented on #1294
This issue is reported under following folder

/doc/integrations/myDrive/node_modules/i/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] cortx-admin commented on #1294
This issue is reported under following folder

/doc/integrations/myDrive/node_modules/i/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] cortx-admin commented on #1294
This issue is reported under following folder

/doc/integrations/myDrive/node_modules/i/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] #1289 closed

[2021-12-22 12:52] cortx-admin commented on #1289
This issue is reported under following folder

doc/integrations/myDrive/node_modules/nth-check/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] cortx-admin commented on #1289
This issue is reported under following folder

doc/integrations/myDrive/node_modules/nth-check/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] cortx-admin commented on #1289
This issue is reported under following folder

doc/integrations/myDrive/node_modules/nth-check/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] cortx-admin commented on #1289
This issue is reported under following folder

doc/integrations/myDrive/node_modules/nth-check/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:52] #1275 closed

[2021-12-22 12:53] cortx-admin commented on #1275
This issue is reported under following folder

doc/integrations/myDrive/node_modules/tmpl/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1275
This issue is reported under following folder

doc/integrations/myDrive/node_modules/tmpl/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1275
This issue is reported under following folder

doc/integrations/myDrive/node_modules/tmpl/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1275
This issue is reported under following folder

doc/integrations/myDrive/node_modules/tmpl/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1275
This issue is reported under following folder

doc/integrations/myDrive/node_modules/tmpl/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1273 closed

[2021-12-22 12:53] cortx-admin commented on #1273
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/immer/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1273
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/immer/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1273
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/immer/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1273
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/immer/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1264 closed

[2021-12-22 12:53] cortx-admin commented on #1264
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/webpack-dev-server/node_modules/cliui/node_modules/ansi-regex/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

It is also reported under following folder in

experiments/full_stack/gui/node_modules/@vue/cli-plugin-eslint/node_modules/ansi-regex/package.json

in CSM rep

[2021-12-22 12:53] cortx-admin commented on #1264
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/webpack-dev-server/node_modules/cliui/node_modules/ansi-regex/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

It is also reported under following folder in

experiments/full_stack/gui/node_modules/@vue/cli-plugin-eslint/node_modules/ansi-regex/package.json

in CSM rep

[2021-12-22 12:53] cortx-admin commented on #1264
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/webpack-dev-server/node_modules/cliui/node_modules/ansi-regex/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

It is also reported under following folder in

experiments/full_stack/gui/node_modules/@vue/cli-plugin-eslint/node_modules/ansi-regex/package.json

in CSM rep

[2021-12-22 12:53] cortx-admin commented on #1264
This issue is reported under following folder

doc/integrations/edgehealth/edgehealth-chatbot/node_modules/webpack-dev-server/node_modules/cliui/node_modules/ansi-regex/package.json

in cortx (parent) repo > https://github.com/Seagate/cortx

It is also reported under following folder in

experiments/full_stack/gui/node_modules/@vue/cli-plugin-eslint/node_modules/ansi-regex/package.json

in CSM rep

[2021-12-22 12:53] #1263 closed

[2021-12-22 12:53] cortx-admin commented on #1263
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1263
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1263
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1263
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1257 closed

[2021-12-22 12:53] cortx-admin commented on #1257
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1257
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1257
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1257
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1254 closed

[2021-12-22 12:53] cortx-admin commented on #1254
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1254
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1254
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1254
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1254
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1253 closed

[2021-12-22 12:53] cortx-admin commented on #1253
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1253
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1253
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1253
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1253
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1252 closed

[2021-12-22 12:53] cortx-admin commented on #1252
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1252
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1252
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1252
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] #1249 closed

[2021-12-22 12:53] cortx-admin commented on #1249
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1249
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1249
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-22 12:53] cortx-admin commented on #1249
This issue is reported under following folder

doc/ folder

in cortx (parent) repo > https://github.com/Seagate/cortx

contents from "doc" folder are not bundled with cortx,

so Whitesource configuration is modified to ignore this folder.

Closing this defect

[2021-12-28 16:18] cortx-admin commented on #1347
[~747271], Can you please merge the PRs. 

[2021-12-29 11:39] #1288 closed

[2021-12-29 11:39] cortx-admin commented on #1288
Closing it now.

This vulnerability is not appearing after excluding "experiment" folder from the scan.

[2021-12-29 11:39] cortx-admin commented on #1288
Closing it now.

This vulnerability is not appearing after excluding "experiment" folder from the scan.

[2021-12-29 11:39] cortx-admin commented on #1288
Closing it now.

This vulnerability is not appearing after excluding "experiment" folder from the scan.

[2021-12-29 11:39] cortx-admin commented on #1288
Closing it now.

This vulnerability is not appearing after excluding "experiment" folder from the scan.

[2022-01-04 15:54] hseow-seagate commented on #1364
I can't recall the exact error, but I remember that just by running `pip3 install -r requirements.txt` is not enough. Apparently you still need to install `gunicorn` and `image` (I think) as well.

IIRC, the initial error has something to do with this `ImportError: No module named PIL`, I also had this [page](https://stackoverflow.com/questions/8863917/importerror-no-module-named-pil) in my browse

[2022-01-06 22:59] johnbent opened #1381 "Need AWS Cloud Formation template"
We now have K8S deployment guide for AWS which works great but has a lot of manual steps. It would be awesome if it was improved with a Cloud Formation template.
https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md

FYI @gregnsk

[2022-01-06 23:00] cortx-admin commented on #1381
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27306. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-10 16:38] cortx-admin commented on #1347
[~744417] and [~747271], what is status of this please?

[2022-01-11 04:55] #1347 closed

[2022-01-11 04:55] cortx-admin commented on #1347
Request has already been addressed by raising below PRs:

https://github.com/Seagate/cortx/pull/1370
https://github.com/Seagate/cortx-re/pull/775
https://github.com/Seagate/cortx-re/pull/774
https://github.com/Seagate/cortx-k8s/pull/41

Hence closing request.

[2022-01-11 04:55] cortx-admin commented on #1347
Done

[2022-01-12 11:09] cortx-admin commented on #1348
QSG is updated and raised a PR for the same. Please review and share your suggestion:

[https://github.com/Seagate/cortx/pull/1383]

I am bit unsure linking following url to which QSG hyperlink. Can anyone help me in this?

[https://github.com/Seagate/cortx-k8s/blob/stable/doc/cortx-aws-k8s-installation.md]

 

[2022-01-13 14:30] alfhad opened #1384 "Unable to create images by following the community doc"
I was trying to follow the [community doc](https://github.com/Seagate/cortx/blob/main/doc/community-build/docker/cortx-all/README.md)   but I am getting the following error while trying to build an image:
[code]

[2022-01-17 08:00] cortx-admin commented on #1348
 

PR raised: [https://github.com/Seagate/cortx/pull/1383]

[2022-01-17 15:01] r-wambui commented on #1384
Hi @alfhad I have not seen this issue before, I'll try to reproduce the image.

[2022-01-17 20:23] r-wambui commented on #1384
@alfhad I'm able to build the image on my end. `cortx-all:2.0.0-0 2022-01-18 02:21:55 +0300 EAT`

The error you are having is related to the docker compose,  could you check the following link https://github.com/docker/compose/issues/8296, and let me know if this helps.

[2022-01-17 21:42] alfhad commented on #1384
@r-wambui I took reference from the following link https://github.com/docker/compose/issues/8296 and seems the error was due to an older version of docker installed. I tried reinstalling docker to the latest version and it fixed the error, I was able to build the images successfully, Thanks!!

[2022-01-18 09:20] r-wambui commented on #1384
@alfhad Great!, I'll therefore close this issue.

[2022-01-18 09:20] #1384 closed

[2022-01-19 16:53] cortx-admin commented on #1384
Fixed in GitHub

[2022-01-19 16:53] cortx-admin commented on #1384
Closed in github

[2022-01-19 21:31] johnbent opened #1388 "IOR Integration"
IOR (and mdtest) is a frequently used performance benchmark. It has an abstract backend interface. It would be great to create a motr backend and it would also be great to test the existing S3 backend against CORTX.
https://github.com/hpc/ior <- main repo
https://github.com/hpc/ior/blob/main/src/aiori.h <- backend interface

[2022-01-19 21:33] cortx-admin commented on #1388
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27682. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-20 10:18] cortx-admin commented on #1384
Testing Jira access, 

[2022-01-20 10:18] cortx-admin commented on #1384
The issue is already resolved, I'm using it to test my access rights to Jira

[2022-01-20 10:18] cortx-admin commented on #1384
Already resolved

[2022-01-20 10:18] cortx-admin commented on #1384
Resolve

[2022-01-24 07:39] deelaaay opened #1393 "fuck"

[2022-01-24 07:42] cortx-admin commented on #1393
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27954. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-24 08:37] #1393 closed

[2022-01-24 08:39] cortx-admin commented on #1348
@Rose Wambui,  this issue has been resolved. I request  you to please close this. I could not make changes to the status of the issue.

[2022-01-24 09:40] mukul-seagate11 commented on #1348
Changed in https://github.com/Seagate/cortx/blob/main/QUICK_START.md so hence closing the issue

[2022-01-24 09:40] #1348 closed

[2022-01-24 17:31] johnbent commented on #1393
Hello @deelaaay , were you able to get it working?

[2022-01-24 23:41] cortx-admin commented on #1393
Weird spam github issue created; closing

[2022-01-24 23:41] cortx-admin commented on #1393
Weird spam github issue created; closing

[2022-01-24 23:41] cortx-admin commented on #1393
Weird spam github issue created; closing

[2022-01-24 23:41] cortx-admin commented on #1393
Weird spam github issue created; closing

[2022-01-26 15:09] hessio opened #1402 "Update CORTX on AWS Guide"
CORTX is an open-source object store. It would be great if someone could build CORTX in AWS following this [guide](https://github.com/Seagate/cortx/tree/main/doc/integrations/AWS_EC2) if you could use the latest OVA release and then update this guide to reflect the changes.

As a bonus challenge to make this guide dynamically update to the newest OVA each time a new OVA is released.

You can see t

[2022-01-26 15:10] cortx-admin commented on #1402
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28370. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-26 17:51] hessio opened #1403 "Code improvement: replace bubble sort with heap sort"
Currently the file \`motr/io.c\` uses the bubble sort algorithm. As we already know this algorithm has a bad time complexity. One solution to this issue as mentioned in this comment: https://github.com/Seagate/cortx-motr/blob/409f711fcfa22b393e34a14f49eab5fa142131bb/motr/io.c#L136  is to replace bubble sort with heap sort. 

\<br>\<br>

Here is a link to the code in question: [https://github.com/S

[2022-01-26 17:53] cortx-admin commented on #1403
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28372. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-26 18:14] hessio opened #1404 "Code Improvement: Code appears to be redundant"
It would be nice to figure out whether this code is actually redundant or not.

This [comment](https://github.com/Seagate/cortx-motr/blob/409f711fcfa22b393e34a14f49eab5fa142131bb/motr/io.c#L86) suggests that the code may be redundant.

Identify if code is redundant and if not fix comment and mention why it is required.

[2022-01-26 18:16] cortx-admin commented on #1404
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28373. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-26 19:15] hessio opened #1405 "Create CORTX Components UML Diagram"
The current CORTX UML diagram is ugly and not up to date.

Objective of this issue is to create a UML Diagram of the different components of CORTX and how they interact with one another.

Current [CORTX components page](https://github.com/Seagate/cortx/blob/main/doc/Components.md)

[2022-01-26 19:18] cortx-admin commented on #1405
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28374. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-26 19:32] hessio opened #1406 "Create installation script for Motr"
The Motr \[Quick Start Guide\](https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst) involves very manual steps of copying and pasting commands to your terminal.

Instead create a script that once you clone the project from GitHub you can just run `./motr_install_script` and Motr will install on your machine.

You can also create this script to install Motr+HARE so once the sc

[2022-01-26 19:35] cortx-admin commented on #1406
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28375. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-26 19:38] hessio opened #1407 "Create installation guide for CORTX on VirtualBox"
Currently there is a wiki for installing and running CORTX on VirtualBox. This guide has not been tested or reviewed in a long time and also it is not formatted cleanly.

The objective of this issue to reformat this wiki so it looks nice and that it works correctly.

Here is the link to the [Wiki](https://github.com/Seagate/cortx/wiki/CORTX-VM-on-VirtualBox)

VirtualBox is free software whereas VM

[2022-01-26 19:39] cortx-admin commented on #1407
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28376. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-27 12:05] r-wambui opened #1409 "Update generate cortx-all doc"
Step 4 on this document https://github.com/Seagate/cortx/tree/main/doc/community-build/docker/cortx-all is not required in generating cortx-all image.

The step raises this error `make: *** No rule to make target  iso_generation'.  `

Issue raised on [slack](https://cortxcommunity.slack.com/archives/C014WFC5KEF/p1643281049865369)

[2022-01-27 12:07] cortx-admin commented on #1409
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28397. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-28 06:02] cortx-admin commented on #1347
{panel:bgColor=#c1c7d0}h2. hare - main branch build pipeline SUCCESS
h3. Build Info:
* Author: noreply
* Component Build  :  347
* Release Build    :  847

  h3. Artifact Location  :
*  http://cortx-storage.colo.seagate.com/releases/cortx/github/main/centos-7.9.2009/847
{panel}

[2022-01-31 10:32] swatid-seagate commented on #1349
Where do we expect to add the link to the Gregory's video? At the beginning or at the end of the document?

[2022-01-31 16:12] johnbent opened #1423 "test issue"
just a test issue, will delete

[2022-01-31 16:12] #1423 closed

[2022-01-31 16:14] cortx-admin commented on #1423
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28442. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-31 17:24] cortx-admin commented on #1423
was test issue, closing

[2022-01-31 17:24] cortx-admin commented on #1423
closing test issue

[2022-01-31 17:24] cortx-admin commented on #1423
closing test issue

[2022-02-01 18:12] cortx-admin commented on #1409
Update step 4 of the documentation

[2022-02-01 18:12] cortx-admin commented on #1409
Completed

[2022-02-01 18:13] cortx-admin commented on #1409
Fixed on GitHub

[2022-02-01 18:13] cortx-admin commented on #1409
The document has been updated

[2022-02-07 06:49] mukul-seagate11 commented on #1349
@johnbent @novium258

[2022-02-07 06:53] swatid-seagate commented on #1349
PR for this change:
https://github.com/Seagate/cortx-k8s/pull/85

[2022-02-10 03:55] hseow-seagate commented on #1364
@r-wambui that looks great, I'll try it out this week (hopefully) and if all goes well, I'll close the issue.

[2022-02-11 12:00] swatid-seagate commented on #1349
https://github.com/Seagate/cortx-k8s/pull/85

[2022-02-11 13:55] #1153 closed

[2022-02-11 13:58] cortx-admin commented on #1153
Issue closed

[2022-02-11 13:58] cortx-admin commented on #1153
Issue closed

[2022-02-11 13:58] cortx-admin commented on #1153
Issue closed

[2022-02-16 02:05] #1364 closed

[2022-02-16 20:33] trshaffer commented on #1381
Currently debugging the guide in seagate/cortx-k8s#103

[2022-02-23 16:13] justinzw opened #1440 "Network troubleshooting instructions need to be updated"
These need to be updated as the OVA has changed.

https://github.com/Seagate/cortx/blob/main/doc/troubleshoot_virtual_network.rst

[2022-02-23 16:15] cortx-admin commented on #1440
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29015. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-02-24 05:06] nrady commented on #1405
@hessio I got this diagram from Cortx Exec review package. Not sure its usable or not ?

![image](https://user-images.githubusercontent.com/19796509/155461366-644e550a-86b5-4f69-a7c0-9f2cc40eedcf.png)

[2022-02-24 15:03] johnbent commented on #1405
Hello @nrady probably @ujjwalpl has the latest architectural diagram. When you create it, instead of UML can you please use Mermaid since that works natively with github markdown?

https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/

[2022-02-25 16:39] johnbent commented on #1405
Yeah, do whatever you think looks best. That mermaid is not very attractive for sure. :)

[2022-03-01 04:18] #1405 closed

[2022-03-01 04:18] cortx-admin commented on #1405
updated and merged per PR#1446

[2022-03-01 04:18] cortx-admin commented on #1405
h1. Update CORTX UML Diagram #1446

[2022-03-01 04:18] cortx-admin commented on #1405
h1. Update CORTX UML Diagram #1446

[2022-03-01 18:18] trshaffer commented on #1381
PR to provide CloudFormation templates is at Seagate/cortx-k8s#119, will update this repo once that PR lands

[2022-03-02 13:25] stx-hseow opened #1453 "AWS_EC2 Integration link"
There's a broken link in this [documentation](https://github.com/Seagate/cortx/tree/main/doc/integrations/AWS_EC2) =>

The best next link I could find is either [wiki.debian](https://wiki.debian.org/NetworkInterfaceNames#THE_.22PERSISTENT_NAMES.22_SCHEME) or [StackExchange](https://unix.stackexchange.com/a/75437).

Since I have never seen the original link (web page), I'm not sure what is the orig

[2022-03-02 13:26] cortx-admin commented on #1453
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29161. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-02 17:27] justinzw opened #1454 "Validate CORTX integrations"
We have a list of CORTX integrations [here](https://github.com/Seagate/cortx/blob/main/doc/integrations/README.rst).

These are community created integrations and many still need validation and testing

You can setup CORTX [here](https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-5/CORTX_on_Open_Virtual_Appliance_PI-5.rst).

Choose an integration and then add a "Tested-by" section when yo

[2022-03-02 17:29] cortx-admin commented on #1454
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29165. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-02 17:57] r-wambui opened #1455 "Deploy CORTX on a cluster using MINIKUBE"
Currently, we can deploy CORTX on Minikube on a [single node](https://github.com/Seagate/cortx-k8s/blob/integration/doc/cortx-minikube-k8s-installation.md)

Deploy CORTX on a cluster(either 2 nodes or 3 nodes). Minikube is quite resource-intensive; to deploy on a cluster will require 2 or 3 virtual machines running concurrently, each with the minimum specification indicated on the single node docu

[2022-03-02 17:59] cortx-admin commented on #1455
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29166. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-03 10:38] hessio opened #1457 "Create Curl S3 tests"
There is a repo in CORTX called CORTX S3 sample code which provides code samples for how to use the s3 API in different languages. Currently the Curl API has not been completed. 

For this task you should change all the 'TODO' sections with the required the code.

repo: [https://github.com/Seagate/cortx/tree/main/cortx-s3samplecode](https://github.com/Seagate/cortx/tree/main/cortx-s3samplecode)

R

[2022-03-03 10:39] cortx-admin commented on #1457
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29178. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-07 12:50] r-wambui commented on #1453
@justinzw You are one of the contributors of the document referenced here
, could you please what the original link was meant to redirect to.

[2022-03-08 12:46] cortx-admin commented on #1348
Closed

[2022-03-08 12:46] cortx-admin commented on #1348
.

[2022-03-08 12:46] cortx-admin commented on #1348
.

[2022-03-15 17:43] r-wambui commented on #104
@max-seagate Any update on this, has this been completed? if yes, can we close the issue?

[2022-03-19 10:22] alfhad commented on #1407
@hessio I see the help wanted tag. I will take this up.

[2022-03-19 11:22] rkothiya commented on #1406
We already have such a script in place. You can fire the below command to install motr+hare :
[code]

[2022-03-21 13:19] alfhad commented on #1407
@hessio I have tried the steps mentioned in the [document ](https://github.com/Seagate/cortx/wiki/CORTX-VM-on-VirtualBox) but I was stuck at the below step:

[code]
I tried modifying and creating network interface configuration file, but I was not able to change the interface names to ens*
IMHO the document needs to be modified for a better explanation and instruction of this step.

[2022-03-21 15:06] hessio commented on #1407
Hi @alfhad what is the error you are getting? Thanks for taking on this issue by the way :)

cc: @justinzw as he created this wiki

[2022-03-22 07:15] alfhad commented on #1407
Hey @hessio, there is a step in the doc which says to updated the network interface names to ens*, but there isn't a clear explanation to do so.
I am not able to change the interface names to ens*, I need help with the same.

[2022-03-25 08:50] stx-hseow opened #1471 "Cortx Request Rate Limit"
Is there a default limit to Cortx's request rate?

I am testing out the [H2O integration](https://github.com/Seagate/cortx/tree/main/doc/integrations/h2o) and I'm hitting the below error, which seems to indicate the request rate is too high. Is there any way to configure the request rate limit?

[code]

The step that failed is under [section 7](https://github.com/Seagate/cortx/blob/main/doc/integr

[2022-03-25 08:51] cortx-admin commented on #1471
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29714. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-28 10:07] cortx-admin commented on #901
[~532357] [~744292] [~720600]

This appears to be looking at some decisions about replication design.  Is this inherently resolved with RGW?  I assume this functionality already exists there?  or we still have to add this worker/scheduler capability?

[2022-03-28 10:07] cortx-admin commented on #703
[~535110] [~930816]
I see Sage listed in here, where does this 'live'  I don't recognize anything CORTX Dev about these docs?

[2022-03-28 10:07] cortx-admin commented on #104
[~744292] [~532357] [~747271] [~930816] [~935494]
I would assume we have since updated out 'backend images' in recent months?  is this addressed already?

[2022-03-28 10:13] r-wambui commented on #1471
Hi @hseow-seagate thank you for raising the issue, I haven't faced rate limit on CORTX before,  I'll also try the H20 integration and reproduce the same.

[2022-03-28 11:19] cortx-admin commented on #901
In the current form, this ticket is invalid as it depends on legacy S3 design. This may need to redesigned with RGW differently. 

[2022-03-28 12:23] cortx-admin commented on #901
{quote}why would we need to evaluate the best language if it already exists in RGW? 
{quote}
Yes, this is the reason, I mentioned that this ticket is invalid and needs to be relooked/redesign. RGW does not have python and like this may already be there in C++. RGW has threads unlike legacy S3 server with multiple processes. 

[2022-03-28 12:23] cortx-admin commented on #104
There has been significant changes to the Architecture, in the last 5-6 months. I think the image may need to be re looked at and updated. Can be assigned to someone for completion. 

[2022-03-29 07:54] cortx-admin commented on #901
[~720600] [~533453]

Does this already exist in RGW (this scheduler function this appears to be referring to)?  If so, we should close this as no work or something as it already exists in RGW

[2022-03-29 10:04] cortx-admin commented on #901
we should close it, for reasons given by Ujjwal already, doesnt apply in RGW 

[2022-03-29 11:10] cortx-admin commented on #901
[~533453]  I think what you are saying is that the language decision is already de facto as we are using RGW (ie C++)

[~535110] this ticket is unassigned from Board Genius.  I do not know what protocol we used to assign this for someone to close?  Would this be closed by Ruth or someone?  I assigned to you in the interim.

[2022-03-29 11:10] cortx-admin commented on #901
{quote} I think what you are saying is that the language decision is already de facto as we are using RGW (ie C++)
{quote}
yes [~211146]

[2022-03-29 12:15] cortx-admin commented on #104
[~535110] I believe we have some documentation folks on the Opensource team.  Would they update these diagrams (maybe with the help of [~530903] [~520479] to identify the recent collateral)?

[2022-03-30 18:56] johnbent opened #1477 "Need Issue Templates"
The community team needs to create new Issue templates. Here is what it looks like when someone creates a new issue in cortx-k8s:

<img width="1309" alt="image" src="https://user-images.githubusercontent.com/2047294/160910141-88a4fabd-fce4-43cf-b339-efb7a29344d6.png">

We need the same but we also need to add a feature request template.

[2022-03-30 18:58] cortx-admin commented on #1477
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29856. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-30 21:49] johnbent commented on #1477
Done in https://github.com/Seagate/.github/commit/02422bff27b87f3fb54e5d45a5110cc124110b43. Closing.

[2022-03-30 21:49] #1477 closed

[2022-03-31 08:40] cortx-admin commented on #1094
Closed

[2022-03-31 08:40] cortx-admin commented on #1094
.

[2022-03-31 08:40] cortx-admin commented on #1094
.

[2022-03-31 16:24] trshaffer commented on #1381
@johnbent the link on the quick start page now points to my new CloudFormation guide, so this issue can be closed

[2022-03-31 16:52] r-wambui commented on #1471
Hi @hseow-seagate I have tested the integration on my end using k8s OVA, I'm getting the same error. However when you  reduce the h2o.csv file from ~10k rows to 50 rows the error is not raised.

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

@johnbent you are one of the contributors of the notebook, could you please let us know if you tested the int

[2022-03-31 17:40] johnbent commented on #1471
Hi @r-wambui , I merged the pull request and now github mistakenly tags me as a contributor. I'm afraid that I did not test this myself.

[2022-03-31 17:42] johnbent commented on #1381
Thanks @trshaffer !

[2022-03-31 17:42] #1381 closed

[2022-04-01 10:01] cortx-admin commented on #1360
.

[2022-04-08 09:02] mukul-seagate11 opened #1481 "exported method Endpoint.Init should have comment or be unexported"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=634010752) detected an issue:
#### Message: `exported method Endpoint.Init should have comment or be unexported`

#### Currently on:
+ **Commit**:  dc4a09c4cc8ff7ce9eff537ce18a389f84579377
+ **File**:    [doc/integrations/drp/DRP-go/drpold/drpclient.go](https://github.com/Seagate/cortx/blob/dc4a09c4cc8ff7ce9eff537ce18a389f84579377/doc

[2022-04-08 09:03] #1481 closed

[2022-04-08 09:03] cortx-admin commented on #1481
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-30722. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-04-13 09:09] cortx-admin commented on #1477
Issue closed in GitHub

[2022-04-13 09:09] cortx-admin commented on #1477
Closed on Github

[2022-04-18 07:55] shailesh-vaidya commented on #1471
Hi @r-wambui   - Sorry for the delayed reply. I am not aware of any request rate limit on the CORTX side.  @bkirunge7 Can you please help on this.

[2022-04-19 14:22] r-wambui commented on #1453
@stx-hseow I'm not very certain but I think the url has been changed to this : https://www.linuxfromscratch.org/lfs/view/9.0/chapter07/network.html

[2022-04-20 01:55] stx-hseow commented on #1453
That seems to be accurately relevant, would you update the documentation then?

[2022-04-26 11:23] mukul-seagate11 opened #1492 "Possible hardcoded password: 'XXXXXX'"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=637499739) detected an issue:
#### Message: `Possible hardcoded password: 'XXXXXX'`

#### Currently on:
+ **Commit**:  04557c074918fb7f4bc92b13f79f7862a585f0d0
+ **File**:    [cortx-s3samplecode/python/cortx-s3samplecode-python.py](https://github.com/Seagate/cortx/blob/04557c074918fb7f4bc92b13f79f7862a585f0d0/cortx-s3samplecode/python

[2022-04-26 11:24] mukul-seagate11 commented on #1492
False Positive, hence closing

[2022-04-26 11:24] #1492 closed

[2022-04-26 11:25] cortx-admin commented on #1492
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31021. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-04-28 10:32] chandradharraval commented on #104
@max-seagate , @nikitadanilov - Do we have updated diagram for this?

[2022-04-28 11:38] cortx-admin commented on #1492
identified false positive in code

[2022-04-28 11:38] cortx-admin commented on #1492
issue closed

[2022-04-28 11:38] cortx-admin commented on #1492
.

[2022-05-02 09:51] mukul-seagate11 opened #1499 "Unexpected character (']' (code 93)): expected a value"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=638830698) detected an issue:
#### Message: `Unexpected character (']' (code 93)): expected a value`

#### Currently on:
+ **Commit**:  01f5b881af977d2b55391a1237186f4d9feb1127
+ **File**:    [doc/integrations/myDrive/tsconfig.json](https://github.com/Seagate/cortx/blob/01f5b881af977d2b55391a1237186f4d9feb1127/doc/integrations/myDrive

[2022-05-02 09:52] cortx-admin commented on #1499
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31096. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-03 03:44] wb-droid commented on #1471
Hi @r-wambui, I just tested the H2O integration with the original h2o.cvs (9.5k rows), and did not encounter any error.
I'm using the latest OVA-2.0.0-713 (PI-6).
![h2o_integration](https://user-images.githubusercontent.com/80816959/166401829-ac17e82c-a99a-4c1c-984d-4011d4f95842.png)

Suggest you try the latest OVA too.

[2022-05-09 01:55] stx-hseow commented on #1453
Closing this as PR is opened, and no longer an issue

[2022-05-09 01:55] #1453 closed

[2022-05-09 06:24] mukul-seagate11 opened #1505 "Unexpected console statement."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=639759933) detected an issue:
#### Message: `Unexpected console statement.`

#### Currently on:
+ **Commit**:  0b9e5e1cd5f42ff590cf7ba6c37d146daea6684b
+ **File**:    [doc/integrations/myDrive/backend/controllers/file.ts](https://github.com/Seagate/cortx/blob/0b9e5e1cd5f42ff590cf7ba6c37d146daea6684b/doc/integrations/myDrive/backend/co

[2022-05-09 06:25] cortx-admin commented on #1505
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31250. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-09 07:30] #1505 closed

[2022-05-09 07:30] cortx-admin commented on #1505
ESLint deprecated as reported, hence ignored

[2022-05-09 07:30] cortx-admin commented on #1505
ESLint deprecated as reported, hence ignored

[2022-05-09 07:30] cortx-admin commented on #1505
.

[2022-05-09 12:52] cortx-admin commented on #1453
Closed on github

[2022-05-09 12:52] cortx-admin commented on #1453
Closed on github

[2022-05-09 12:52] cortx-admin commented on #1453
Closed on github

[2022-05-16 10:46] mukul-seagate11 opened #1511 "[False Positive] Possible hardcoded secret key (secret)"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=640872077) detected an issue:
#### Message: `Possible hardcoded secret key (secret)`

#### Currently on:
+ **Commit**:  1a28a619d2bb0ab3a4c889a9b0a9c318a658a76e
+ **File**:    [cortx-s3samplecode/python/cortx-s3samplecode-python.py](https://github.com/Seagate/cortx/blob/1a28a619d2bb0ab3a4c889a9b0a9c318a658a76e/cortx-s3samplecode/pytho

[2022-05-16 10:47] cortx-admin commented on #1511
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31345. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-16 12:05] #1511 closed

[2022-05-16 12:05] cortx-admin commented on #1511
Issue is reported as false positive

[2022-05-16 12:05] cortx-admin commented on #1511
Issue reported as false positive

[2022-05-16 12:05] cortx-admin commented on #1511
.

[2022-05-17 08:55] nrady commented on #1499
@mukul-seagate11 @r-wambui
 The ']' character in Line#77 is the correct one.
The problematic line should be lLine#76 that should not have comma on the last element.

![image](https://user-images.githubusercontent.com/19796509/168771819-35dcb524-329d-4204-8a3c-d52ee30c29f2.png)

[2022-05-18 04:23] #1499 closed

[2022-05-18 04:23] cortx-admin commented on #1499
https://github.com/Seagate/cortx/issues/1499

[2022-05-18 04:23] cortx-admin commented on #1499
Trailing comma bug  fix.

[2022-05-18 04:23] cortx-admin commented on #1499
remove trailing comma per PR#1512

https://github.com/Seagate/cortx/pull/1512

[2022-05-18 05:34] cortx-admin commented on #1499
fix trailing comma

[2022-05-18 06:19] mukul-seagate11 opened #1513 "Expected indentation of 4 spaces (indentation)"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=641343600) detected an issue:
#### Message: `Expected indentation of 4 spaces (indentation)`

#### Currently on:
+ **Commit**:  b5604cba1f4d4735fc9c166d7442ce0fb33bffdf
+ **File**:    [doc/integrations/myDrive/src/styles/components/_MoverMenu.scss](https://github.com/Seagate/cortx/blob/b5604cba1f4d4735fc9c166d7442ce0fb33bffdf/doc/inte

[2022-05-18 06:21] cortx-admin commented on #1513
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31451. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-18 06:22] mukul-seagate11 opened #1514 "Expected indentation of 14 spaces (indentation)"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=641343600) detected an issue:
#### Message: `Expected indentation of 14 spaces (indentation)`

#### Currently on:
+ **Commit**:  b5604cba1f4d4735fc9c166d7442ce0fb33bffdf
+ **File**:    [doc/integrations/myDrive/src/styles/components/settings.scss](https://github.com/Seagate/cortx/blob/b5604cba1f4d4735fc9c166d7442ce0fb33bffdf/doc/integ

[2022-05-18 06:23] cortx-admin commented on #1514
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31452. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-20 10:11] cortx-admin commented on #1364
Issue already closed on GitHub

[2022-05-20 10:11] cortx-admin commented on #1364
.

[2022-05-20 10:11] cortx-admin commented on #1364
Issue already closed on Github

[2022-05-23 07:41] mukul-seagate11 opened #1520 "Expected a conditional expression and instead saw an assignment."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=641976325) detected an issue:
#### Message: `Expected a conditional expression and instead saw an assignment.`

#### Currently on:
+ **Commit**:  278bdc471b899bb62c99b57a7f74237328223e0e
+ **File**:    [doc/integrations/myDrive/public/fontawesome/js/fontawesome.min.js](https://github.com/Seagate/cortx/blob/278bdc471b899bb62c99b57a7f74

[2022-05-23 07:42] cortx-admin commented on #1520
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31577. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-23 08:53] #1513 closed

[2022-05-23 08:53] cortx-admin commented on #1513
correct indent to match coding standard

[2022-05-27 07:15] mukul-seagate11 opened #1523 "[no-emphasis-as-heading] Don’t use emphasis to introduce a section, use a heading"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=642452916) detected an issue:
#### Message: `[no-emphasis-as-heading] Don’t use emphasis to introduce a section, use a heading`

#### Currently on:
+ **Commit**:  6c26ac60bf5383f80b541e9cb579727b9f9353c6
+ **File**:    [doc/integrations/parlAI/docs/source/tutorial_metrics.md](https://github.com/Seagate/cortx/blob/6c26ac60bf5383f80b541

[2022-05-27 07:16] mukul-seagate11 opened #1524 "[fenced-code-flag] Missing code language flag"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=642452916) detected an issue:
#### Message: `[fenced-code-flag] Missing code language flag`

#### Currently on:
+ **Commit**:  6c26ac60bf5383f80b541e9cb579727b9f9353c6
+ **File**:    [doc/integrations/parlAI/docs/source/tutorial_torch_generator_agent.md](https://github.com/Seagate/cortx/blob/6c26ac60bf5383f80b541e9cb579727b9f9353c6/do

[2022-05-27 07:16] cortx-admin commented on #1523
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31650. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-27 07:20] mukul-seagate11 opened #1525 "[emphasis-marker] Emphasis should use `_` as a marker"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=642573142) detected an issue:
#### Message: `[emphasis-marker] Emphasis should use `_` as a marker`

#### Currently on:
+ **Commit**:  1d7bacb75c92b1fab51898bc3757f452661dafa2
+ **File**:    [doc/integrations/parlAI/docs/source/tutorial_task.md](https://github.com/Seagate/cortx/blob/1d7bacb75c92b1fab51898bc3757f452661dafa2/doc/integra

[2022-05-27 07:21] cortx-admin commented on #1525
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31652. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-27 07:24] mukul-seagate11 opened #1526 "[no-emphasis-as-heading] Don’t use emphasis to introduce a section, use a heading"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=642460985) detected an issue:
#### Message: `[no-emphasis-as-heading] Don’t use emphasis to introduce a section, use a heading`

#### Currently on:
+ **Commit**:  97723172661ee8ac1542f2977bd92bd14e71d69d
+ **File**:    [doc/integrations/dvc/README.md](https://github.com/Seagate/cortx/blob/97723172661ee8ac1542f2977bd92bd14e71d69d/doc/i

[2022-05-31 03:14] yanqingfu opened #1528 "Codacy Badge is not rendering properly for five docs"
### Problem

Codacy Badge sign is not rendering properly in the markdown doc
![image](https://user-images.githubusercontent.com/68423216/171085390-f903880b-6a72-4df1-906d-908d1d41fc52.png)

### Expected behavior

should see the badge clearly as
![image](https://user-images.githubusercontent.com/68423216/171085368-a3db589e-45f1-4b59-97de-20a873a40aab.png)

### How to reproduce

go to the following

[2022-05-31 03:15] cortx-admin commented on #1528
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31845. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-31 06:30] mukul-seagate11 opened #1530 "Unexpected unknown at-rule "@include" (at-rule-no-unknown)"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=642969790) detected an issue:
#### Message: `Unexpected unknown at-rule "@include" (at-rule-no-unknown)`

#### Currently on:
+ **Commit**:  119efa65721cdb86d32664a8333fe0e2e6c30d6a
+ **File**:    [doc/integrations/myDrive/public/fontawesome/scss/_screen-reader.scss](https://github.com/Seagate/cortx/blob/119efa65721cdb86d32664a8333fe0e

[2022-05-31 06:33] mukul-seagate11 opened #1531 "Unnecessary semicolon."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=642970174) detected an issue:
#### Message: `Unnecessary semicolon.`

#### Currently on:
+ **Commit**:  1ab0a8107abfc77f34ba3d723b05e94beeab1f10
+ **File**:    [doc/integrations/myDrive/backend/models/user.ts](https://github.com/Seagate/cortx/blob/1ab0a8107abfc77f34ba3d723b05e94beeab1f10/doc/integrations/myDrive/backend/models/user.ts

[2022-05-31 06:38] cortx-admin commented on #1531
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31862. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-31 06:42] mukul-seagate11 commented on #1531
raised https://github.com/Seagate/cortx/pull/1532

[2022-05-31 07:01] cortx-admin commented on #1531
raised https://github.com/Seagate/cortx/pull/1532

[2022-06-06 09:01] mukul-seagate11 commented on #1531
https://github.com/Seagate/cortx/pull/1532 merged, hence closing issue

[2022-06-06 09:01] #1531 closed

[2022-06-06 09:02] cortx-admin commented on #1531
Done

[2022-06-06 09:02] cortx-admin commented on #1531
.

[2022-06-08 09:01] mukul-seagate11 opened #1538 "[Codacy Cleanup] Unnecessary semicolon."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=644594319) detected an issue:
#### Message: `Unnecessary semicolon.`

#### Currently on:
+ **Commit**:  ac25b4d0ccf38b96601022d16ce50c40cf71b18f
+ **File**:    [doc/integrations/myDrive/backend/services/ChunkService/MongoService.ts](https://github.com/Seagate/cortx/blob/ac25b4d0ccf38b96601022d16ce50c40cf71b18f/doc/integrations/myDrive

[2022-06-08 09:02] cortx-admin commented on #1538
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32092. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-10 03:33] cortx-admin commented on #1520
Inspect by Stylelint no issue and merged to main.

[2022-06-10 03:33] cortx-admin commented on #1520
Merged to main per PR#1535

[2022-06-10 03:33] cortx-admin commented on #1520
closed

[2022-06-13 06:11] mukul-seagate11 opened #1545 "'User' was used before it was defined."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=645137178) detected an issue:
#### Message: `'User' was used before it was defined.`

#### Currently on:
+ **Commit**:  85dc2f16566d014ab74f753678df52edf7cada85
+ **File**:    [doc/integrations/myDrive/backend/models/user.ts](https://github.com/Seagate/cortx/blob/85dc2f16566d014ab74f753678df52edf7cada85/doc/integrations/myDrive/backen

[2022-06-13 06:12] cortx-admin commented on #1545
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32147. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-14 06:32] mukul-seagate11 opened #1547 "Possible hardcoded secret key (secret)"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=645273528) detected an issue:
#### Message: `Possible hardcoded secret key (secret)`

#### Currently on:
+ **Commit**:  86ee55d4efa91ffcbaf4a53c0af9267c0aad2175
+ **File**:    [doc/integrations/parlAI/application.py](https://github.com/Seagate/cortx/blob/86ee55d4efa91ffcbaf4a53c0af9267c0aad2175/doc/integrations/parlAI/application.py)

[2022-06-14 08:34] mukul-seagate11 opened #1548 "Unnecessary semicolon."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=645285474) detected an issue:
#### Message: `Unnecessary semicolon.`

#### Currently on:
+ **Commit**:  200915377c5039362281acf8b1694febf7a406d5
+ **File**:    [doc/integrations/drp/DRP-nodejs/webroot/assets/cytoscape/js/cytoscape-context-menus.js](https://github.com/Seagate/cortx/blob/200915377c5039362281acf8b1694febf7a406d5/doc/inte

[2022-06-14 08:35] mukul-seagate11 opened #1549 "Unnecessary semicolon."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=645285474) detected an issue:
#### Message: `Unnecessary semicolon.`

#### Currently on:
+ **Commit**:  200915377c5039362281acf8b1694febf7a406d5
+ **File**:    [doc/integrations/drp/DRP-nodejs/webroot/assets/cytoscape/js/cytoscape-context-menus.js](https://github.com/Seagate/cortx/blob/200915377c5039362281acf8b1694febf7a406d5/doc/inte

[2022-06-14 08:37] mukul-seagate11 opened #1550 "Unnecessary semicolon."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=645285474) detected an issue:
#### Message: `Unnecessary semicolon.`

#### Currently on:
+ **Commit**:  200915377c5039362281acf8b1694febf7a406d5
+ **File**:    [doc/integrations/myDrive/src/axiosInterceptor/index.js](https://github.com/Seagate/cortx/blob/200915377c5039362281acf8b1694febf7a406d5/doc/integrations/myDrive/src/axiosInterc

[2022-06-14 08:40] mukul-seagate11 opened #1551 "Missing semicolon."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=645285474) detected an issue:
#### Message: `Missing semicolon.`

#### Currently on:
+ **Commit**:  200915377c5039362281acf8b1694febf7a406d5
+ **File**:    [doc/integrations/myDrive/serverUtils/setupServer.js](https://github.com/Seagate/cortx/blob/200915377c5039362281acf8b1694febf7a406d5/doc/integrations/myDrive/serverUtils/setupServe

[2022-06-14 17:50] #1514 closed

[2022-06-14 17:50] cortx-admin commented on #1514
Correct per Stylelint coding standard

[2022-06-14 17:50] cortx-admin commented on #1514
Correct per Stylelint coding standard

[2022-06-14 17:50] cortx-admin commented on #1514
Merged and Closed

[2022-06-14 17:50] cortx-admin commented on #1263
[~936818]  Did you intend to close this?  Or do you need someone else to take the final step for closure?

[2022-06-14 17:50] cortx-admin commented on #1263
whitesource is not showing any vulnerabilities in cortx repository.

Closing this vulnerability

[2022-06-14 17:50] cortx-admin commented on #1548
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32204. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-14 17:50] cortx-admin commented on #1549
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32205. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-14 17:50] cortx-admin commented on #1550
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32206. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-14 17:50] cortx-admin commented on #1551
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32207. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-18 21:43] #1520 closed

[2022-06-20 06:02] #1547 closed

[2022-06-20 06:02] cortx-admin commented on #1547
Issue already fixed in code

[2022-06-20 06:02] cortx-admin commented on #1547
issue fixed

[2022-06-20 06:02] cortx-admin commented on #1547
.

[2022-06-20 07:07] cortx-admin commented on #1549
PR, [CORTX-32205: Fix minor issue by mukul-seagate11 · Pull Request #1558 · Seagate/cortx (github.com)|https://github.com/Seagate/cortx/pull/1558] has been raised to fix the issue in code

[2022-06-21 04:15] #1550 closed

[2022-06-21 09:33] #1549 closed

[2022-06-27 10:57] cortx-admin commented on #1538
Raised, [CORTX-32092: Codacy code Fix by mukul-seagate11 · Pull Request #1570 · Seagate/cortx (github.com)|https://github.com/Seagate/cortx/pull/1570]

[2022-06-28 08:34] mukul-seagate11 commented on #1538
PR#1570 merged, hence issue closed

[2022-06-28 09:15] mukul-seagate11 opened #1577 "[Codacy Cleanup]: GITHUB ISSUE-Possible SCM diff in code (diff) 1"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=648120665) detected an issue:
#### Message: `Possible SCM diff in code (diff)`

#### Currently on:
+ **Commit**:  a2bee64889e665bb16194c817ebef0a34f0aae02
+ **File**:    [metrics/mk_community_partnership_report.py](https://github.com/Seagate/cortx/blob/a2bee64889e665bb16194c817ebef0a34f0aae02/metrics/mk_community_partnership_report.py

[2022-06-28 09:17] mukul-seagate11 opened #1578 "[Codacy Cleanup]: GITHUB ISSUE-Possible SCM diff in code (diff) 2"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=648120665) detected an issue:
#### Message: `Possible SCM diff in code (diff)`

#### Currently on:
+ **Commit**:  a2bee64889e665bb16194c817ebef0a34f0aae02
+ **File**:    [metrics/mk_community_partnership_report.py](https://github.com/Seagate/cortx/blob/a2bee64889e665bb16194c817ebef0a34f0aae02/metrics/mk_community_partnership_report.py

[2022-06-28 09:17] cortx-admin commented on #1538
PR merged

[2022-06-28 09:17] cortx-admin commented on #1538
Done as issue fixed in code

[2022-06-28 09:17] cortx-admin commented on #1577
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32543. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-28 09:19] cortx-admin commented on #1578
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32544. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-28 10:32] mukul-seagate11 opened #1579 "[Codacy Cleanup] Using variable 'response' before assignment"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=648130795) detected an issue:
#### Message: `Using variable 'response' before assignment`

#### Occurred on:
+ **Commit**:  e0340e54f3be0b1fd9906adb22165188f24f4e2b
+ **File**:    [metrics/scrape_slack.py](https://github.com/Seagate/cortx/blob/e0340e54f3be0b1fd9906adb22165188f24f4e2b/metrics/scrape_slack.py)
+ **LineNum**: [111](https

[2022-06-28 10:33] cortx-admin commented on #1579
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-32546. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-07-01 08:30] 3lLobo opened #1582 "Tiny completion in README 📜"
### Problem

Missing cmd when compared to prev version
https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-7/S3_IO_Operations.md
https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-6/S3_IO_Operations.md

v7:

- Validate and download the object from the bucket
[code]

v6:

- Validate and download the object from the bucket
[code]

### Expected behavior

- Validate and download the o

[2022-07-05 08:48] mukul-seagate11 opened #1592 ""vue" is not found."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=649249280) detected an issue:
#### Message: `"vue" is not found.`

#### Currently on:
+ **Commit**:  f81359d018f9e357a7531949c199114e4ab81e11
+ **File**:    [doc/integrations/edgehealth/edgehealth/src/router/index.js](https://github.com/Seagate/cortx/blob/f81359d018f9e357a7531949c199114e4ab81e11/doc/integrations/edgehealth/edgehealth/

[2022-07-05 08:48] mukul-seagate11 opened #1593 ""express" is not found."
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=649249280) detected an issue:
#### Message: `"express" is not found.`

#### Currently on:
+ **Commit**:  f81359d018f9e357a7531949c199114e4ab81e11
+ **File**:    [doc/integrations/myDrive/backend/controllers/userGoogle.ts](https://github.com/Seagate/cortx/blob/f81359d018f9e357a7531949c199114e4ab81e11/doc/integrations/myDrive/backend/co

[2022-07-05 08:49] #1578 closed, assigned to mukul-seagate11

[2022-07-05 08:49] cortx-admin commented on #1578
Raised PR#1591 to fix the code

[2022-07-05 08:49] cortx-admin commented on #1578
.

[2022-07-05 08:49] cortx-admin commented on #1578
.

[2022-07-05 08:49] #1577 closed

[2022-07-05 08:49] cortx-admin commented on #1577
Raised PR#1591 to fix the code

[2022-07-05 08:49] cortx-admin commented on #1577
.

[2022-07-05 08:49] cortx-admin commented on #1577
.

[2022-07-05 08:49] cortx-admin commented on #1592
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33531. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-07-05 08:49] cortx-admin commented on #1593
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33532. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-07-13 04:24] mukul-seagate11 opened #1598 "Possible hardcoded secret key (secret)"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=649344438) detected an issue:
#### Message: `Possible hardcoded secret key (secret)`

#### Currently on:
+ **Commit**:  c3120f2baf8d7b408e228ed08b324566898fb2eb
+ **File**:    [doc/integrations/CORTX-Flask-MediaViewer/app.py](https://github.com/Seagate/cortx/blob/c3120f2baf8d7b408e228ed08b324566898fb2eb/doc/integrations/CORTX-Flask-Me

[2022-07-13 04:31] mukul-seagate11 opened #1599 "Possible hardcoded password: 'ldapadmin'"
### [Codacy](https://app.codacy.com/gh/Seagate/cortx/commit?cid=649344124) detected an issue:
#### Message: `Possible hardcoded password: 'ldapadmin'`

#### Currently on:
+ **Commit**:  76d4bd775a1b60c91f6ee58d2b715e8e27ed0fc7
+ **File**:    [doc/integrations/here_cortx_traffic_data.py](https://github.com/Seagate/cortx/blob/76d4bd775a1b60c91f6ee58d2b715e8e27ed0fc7/doc/integrations/here_cortx_traff

[2022-07-13 04:43] cortx-admin commented on #1598
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33608. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-07-13 04:43] cortx-admin commented on #1599
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33609. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-07-22 22:21] cortx-admin commented on #1154
[~747271]  this is not closed...

[2022-07-25 07:43] cortx-admin commented on #1154
.

[2022-07-25 07:43] cortx-admin commented on #1154
@[~211146], Its closed now

[2022-08-03 13:49] hessio opened #1619 "OVA cannot survive reboot"
### Problem

I was running [OVA PI-7](https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-7/CORTX_on_Open_Virtual_Appliance_PI-7.rst) and when I rebooted my machine for windows update the OVA would not work on restart.

`[root@cortx-ova-rgw ~]# hctl status
The connection to the server 192.168.1.12:6443 was refused - did you specify the right host or port?
error: pod, type/name or --filenam

[2022-08-03 13:51] cortx-admin commented on #1619
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33840. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-03 15:43] hessio opened #1620 "Cannot create new bucket outside of OVA"
### Problem

When I try to make a new bucket on the OVA outside of the OVA I get an error with the location-constraint. This error does not occur when creating the bucket from inside the OVA.

[code]

### Expected behavior

Should be able to create new bucket from a remote machine using the AWS cli (or any s3 client).

### How to reproduce

Setup [OVA PI-7](https://github.com/Seagate/cortx/blob/ma

[2022-08-03 15:45] cortx-admin commented on #1620
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33841. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-03 15:51] hessio commented on #1620
I can list buckets or upload data to bucket without any issues but creating a new bucket causes an issue with location constraint

[2022-08-03 16:46] r-wambui opened #1621 "Internet connectivity is lost after restarting the OVA"
### Problem

After restarting the OVA, sometimes the internet connectivity is lost, the IP address of the VM is also lost; commands that don't require the internet like `hctl status` raises an error.

This issue was also experienced during the hackathon, multiple users were using the same pre-configured OVA in cloudshare.

The solution was to revert back to an earlier snapshot or deploy/install a

[2022-08-03 16:49] cortx-admin commented on #1621
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33842. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-05 06:01] mukul-seagate11 commented on #1621
@rshenoy0831, did you tested this scenario as raised?

[2022-08-05 07:04] mukul-seagate11 commented on #1620
@rshenoy0831, did you come across this scenario in your test case?

[2022-08-05 07:06] mukul-seagate11 commented on #1619
@hessio, as per OVA instructions, did you wait for 5 to 10 mins till the cluster services are started after reboot?

[2022-08-05 09:57] rshenoy0831 commented on #1621
@mukul-seagate11 we have tested this scenario. we have not observed this behaviour.

[2022-08-05 10:58] rshenoy0831 commented on #1620
we have not came across this behaviour in our testing.
All our testing happens from separate client with OVA Server on different machine.

[2022-08-08 07:20] hessio commented on #1599
Issue no longer relevant

[2022-08-08 07:20] #1599 closed

[2022-08-08 07:22] hessio commented on #1598
Issue no longer relevant

[2022-08-08 07:22] #1598 closed

[2022-08-08 08:26] hessio commented on #1551
Issue resolved

[2022-08-08 08:26] #1551 closed

[2022-08-08 08:27] hessio commented on #1545
Hi @r-wambui is there any update on this?

[2022-08-08 08:55] hessio commented on #1526
Issue resolved on main branch

[2022-08-08 08:55] #1526 closed

[2022-08-08 11:16] hessio commented on #1548
issue resolved

[2022-08-08 11:16] #1548 closed

[2022-08-10 14:59] r-wambui opened #1628 "Update the cortx-s3samplecode to work with the newer OVA versions"
### Problem

The documentation on the [CORTX s3 sample code](https://github.com/Seagate/cortx/tree/main/cortx-s3samplecode); used for testing S3 API IO using various programming languages is outdated and does not work with the new OVA. Most of them are still structured to use the OVA with 3 network interfaces.

Example:
- During the hackathon, participants who followed the Node JS guide to make S3

[2022-08-10 15:00] cortx-admin commented on #1628
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33918. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-10 16:16] hessio commented on #1619
Yes sometimes when you wait it will come back online but most of the time it will completely crash and become unusable

[2022-08-10 16:28] hessio opened #1629 "Current OVA requires ports that are not industry standard"
### Problem

1. During our most hackathon users experienced an issue where they were not able to use common s3 clients like CyberDuck because the client would not allow port https requests on port 31949 (OVA PI-6 was used in the hackathon and OVA PI-7 uses a different port again)

2. For the hackathon we used a CloudShare to provide instance of CORTX to hackathon participants and we had some issue

[2022-08-10 16:29] cortx-admin commented on #1629
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33919. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-11 16:08] hessio opened #1630 "Completing s3 IO setup guide crashes OVA"
### Problem

I was following the steps outlined in the [IO setup guide](https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-7/S3_IO_Operations.md) associated with [OVA PI-7](https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-7/S3_IO_Operations.md) when following this guide I got to the testing section when I ran this [command](https://github.com/Seagate/cortx/blob/main/doc/ova/2.0

[2022-08-11 16:09] cortx-admin commented on #1630
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33922. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-15 12:13] hessio commented on #1620
@rshenoy0831 do you have any idea why this might happen for users?

[2022-08-16 04:15] mukul-seagate11 commented on #1619
We haven't observed or reported this issue during QA validation, also once its rebooted the K8s services takes times to come up which is after 10mins

[2022-08-16 04:26] mukul-seagate11 commented on #1630
@hessio, OVA is still not tested on AWS and is in the roadmap

[2022-08-16 05:45] mukul-seagate11 commented on #1621
@r-wambui, as commented by Rahul who haven't observed this issue during QA validation so might be we can close this issue as we are also in the process of starting the next OVA release where most of the know bugs will be fixed

[2022-08-16 05:52] mukul-seagate11 commented on #1620
@rshenoy0831, can you check the test validation report if this test case was covered?

[2022-08-16 08:26] hessio commented on #1619
Yes sometimes if you reboot and wait for some time maybe even 30 minutes it will not work.

[2022-08-16 09:14] hessio commented on #1630
I was running this on VMWare but when I did the IO setup, the OVA stopped working completely, all commands would fail

[2022-08-16 10:04] hessio commented on #1528
PRs are made to resolve this issue, just waiting for them to be reviewed and merged

[2022-08-17 11:26] hessio commented on #1528
Will leave open until all 4 PRs are merged cc: @r-wambui

[2022-08-18 10:28] sainarasim opened #1634 "OVA 2.0.0 - 790 issue with Fusion (on Mac)"
### Problem

Once the OVA boots and the network is up, hctl status takes indefinite time time to complete, or just throws an error.

### Expected behavior

hctl status needs to complete in 5-10 mins

### How to reproduce

Start VM,
 start networking on VM,
hctl status
[ Just hangs or throws an error]

#hctl status
Unable to connect to the server: dial tcp 10.230.242.76:6443: i/o timeout
error: pod

[2022-08-18 10:31] cortx-admin commented on #1634
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33985. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-19 09:51] wb-droid opened #1636 "cortx-terraform integration's "Source + Instructions" link is broken"
### Problem

This is more of a documentation error, not bug. But I cannot find another more suitable issue type.

In [cortx-terraform integration](https://github.com/Seagate/cortx/tree/main/doc/integrations/cortx-terraform#terraform-provider---seagate-cortx), the line 7 has a broken link for "Source + Instructions".
Source and instructions are critical information for an integration. Without these

[2022-08-19 09:52] cortx-admin commented on #1636
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-34005. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-23 09:30] hessio commented on #1636
Hi @DMW2151 - would it be possible to share what you were linking to here in the "Source + Instructions" link?

[2022-08-23 09:32] hessio commented on #1634
@mukul-seagate11 please see issue faced by user when trying to use OVA on MacOS and VMWare Fusion

[2022-08-23 09:35] hessio commented on #1634
When working with @sainarasim on debugging there was a time when the OVA started fine first time and there were times when hctl status would take much longer than 30 minutes before you could use it.

The other issue faced by @sainarasim was when he tried connect to the OVA he got RequestTimeTooSkewed error where he had to set the timezone and the time to be the same as the timezone and time he was

[2022-08-24 16:40] novium258 commented on #1621
@mukul-seagate11 it sounds like since the team hasn't observed this issue, it wouldn't be a known isssue that would be fixed in a new release? We should probably identify the cause of this issue. Has anyone attempted to replicate this issue? We observed mulitple times. Before we close it, we'd like to know for certain that it has been fixed, or is no longer applicable in newer releases.

[2022-08-24 16:43] hessio commented on #1619
Can you try and replicate the setup to make sure?

[2022-08-24 16:48] novium258 commented on #1619
@mukul-seagate11 it sounds like the QA validation isn't catching some of these common user experiences. That's expected, of course. But then when these issues do turn up in the community, that's an opportunity to find out what the QA testing missed. Surely the process should be DA replicates (done) - > raises issue -> someone on the engineering team replicates and attempts to ID the issue -> then

[2022-08-24 18:01] rshenoy0831 commented on #1620
@mukul-seagate11 Yes, we have a coverage.
refer test plan - https://jts.seagate.com/browse/TEST-43121
and test execution - https://jts.seagate.com/browse/TEST-43125

[2022-08-25 04:44] mukul-seagate11 commented on #1619
CC @rshenoy0831, can you check the test validation report if this test case was covered other will take in next release to be fixed?

[2022-08-25 04:45] mukul-seagate11 commented on #1620
@hessio, as per QA, it was covered in test plan & test execution

[2022-08-25 06:38] cortx-admin commented on #104
[~522123] - Can we confirm latest design for BE and generate new image?

[2022-08-25 09:54] hessio commented on #1620
I am going through this testing guide to see but I am finding it difficult to identify what command you are running to create the bucket. It seems to be that when you create a bucket using the command: `aws s3api create-bucket --bucket my-bucket --region us-east-1` it works but when you run `aws s3 mb s3://mybucket` it does not work so maybe you are only using `aws s3api create-bucket` to test and

[2022-08-25 14:04] rshenoy0831 commented on #1620
@hessio - we have validated following github page.
https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-7/S3_IO_Operations.md
it has aws s3 mb s3://mybucket command anf it worked.

[2022-08-25 14:14] rshenoy0831 commented on #1620
can we check whether the issue is reproducible if we specify location as default during aws configuration

[2022-08-25 14:37] hessio commented on #1620
Yes it is - when you try location as 'None',  'eu-west-1' or 'us-west-1' issue still occurs

[2022-08-25 17:59] rshenoy0831 commented on #1619
@mukul-seagate11 yes, we have tested this scenario.

[2022-08-26 14:39] hessio commented on #1630
The problem I faced was when I setup the OVA in VMWare Workstation `hctl status` command worked so cluster was running.

The next step in the process is to setup the s3 api endpoints and done this following the [this guide](https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-7/S3_IO_Operations.md) once I tried to test that these steps had worked correctly I faced an error trying to create

[2022-08-29 07:06] hessio commented on #1630
I tried once again to verify issue - this time `hctl status` command completed but was showing services offline and s3 commands were not completing successfully.

[code]

Here is the output of `aws s3 ls`

[code]

[2022-08-31 14:37] hessio commented on #1636
@wb-droid I will try to recreate this page without input from the creator

[2022-08-31 14:51] hessio commented on #1619
Issue is being looked into for next sprint. OVA issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint.

[2022-08-31 14:51] hessio commented on #1620
ova issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint

[2022-08-31 14:52] hessio commented on #1621
ova issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint

[2022-08-31 14:52] hessio commented on #1628
ova issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint.

[2022-08-31 14:52] hessio commented on #1629
ova issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint.

[2022-08-31 14:53] hessio commented on #1630
ova issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint.

[2022-08-31 14:53] hessio commented on #1634
ova issues which are reported by community https://github.com/Seagate/cortx/issues?q=is%3Aopen+is%3Aissue+label%3Aova will be further raised to QA and tracked in next sprint.

[2022-08-31 17:53] DMW2151 commented on #1636
Thanks for opening. I'm not maintaining this integration, it was a rushed POC for the CORTX hackathon a few months ago. I really don't think it should be included as a functional integration in these docs.

[2022-08-31 17:55] DMW2151 commented on #1636
Despite the above, I just made the repository public again. Link should work.

[2022-09-08 11:41] mukul-seagate11 commented on #1621
Havent observed this issue as per https://github.com/Seagate/cortx/pull/1644

[2022-09-08 11:42] mukul-seagate11 commented on #1620
Haven't observed this issue as per https://github.com/Seagate/cortx/pull/1644

[2022-09-08 11:42] mukul-seagate11 commented on #1619
Haven't observed this issue as per https://github.com/Seagate/cortx/pull/1644

[2022-09-08 11:44] mukul-seagate11 commented on #1629
Haven't observed this issue as per https://github.com/Seagate/cortx/pull/1644
Also, did you follow the correct ova instructions?

[2022-09-08 15:19] johnbent opened #1645 "Move glossary"
### Please describe the feature you would like to see added.

We have a glossary currently maintained at https://github.com/Seagate/cortx-k8s/blob/integration/GLOSSARY.md. We need to do the following:
1. Copy the GLOSSARY into the parent repo
2. Replace the content of the current GLOSSARY with a pointer to the new GLOSSARY in the parent repo
3. Edit the README in this parent repo to include a link

[2022-09-08 15:21] cortx-admin commented on #1645
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-34180. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-09-12 18:23] johnbent commented on #1645
Fixed in https://github.com/Seagate/cortx/pull/1648 #1648

[2022-09-12 18:23] #1645 closed

[2022-09-13 12:06] hessio commented on #1629
But @mukul-seagate11 you didn't test outside of OVA to make sure you don't need an obscure port like 31949 so this has not been checked in #1644. We need to try outside of OVA. I am downloading OVA now to test this scenario and will let you know.

[2022-09-13 15:55] hessio commented on #1620
As you can see this issue still appears with new OVA:

`
930816@SPR-U930816L001 MINGW64 /
$ aws s3 mb s3://test --endpoint-url http://192.168.1.13:30080
make_bucket failed: s3://test An error occurred (InvalidLocationConstraint) when calling the CreateBucket operation: The specified location-constraint is not valid

930816@SPR-U930816L001 MINGW64 /
$ ssh root@192.168.1.13
root@192.168.1.13's passw

[2022-09-13 15:57] hessio commented on #1620
@mukul-seagate11 this issue is only faced if you try to create a new bucket from a remote machine. When you try to create a bucket on the OVA terminal there is no issue. So in this #1644 you have not tested for this scenario. And as you can see from above comment that when I tested this issue it failed the test.

[2022-09-14 15:08] hessio commented on #1634
@mukul-seagate11 do we have someone with a Mac to verify if this issue is present on the new OVA?

[2022-09-14 15:11] hessio commented on #1630
issue is still relevant for PI-7 but doesn't seem to appear in PI-8. cc: @mukul-seagate11

[2022-09-14 15:42] mukul-seagate11 commented on #1629
@hessio, please refer the recommended hypervisors on which OVA images is tested in https://github.com/Seagate/cortx/blob/main/doc/ova/2.0.0/PI-8/CORTX_on_Open_Virtual_Appliance_PI-8.rst

[2022-09-14 15:49] mukul-seagate11 commented on #1630
@hessio, you can refer the exit criteria and validations logs of PI-7 OVA in https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/1036517377/PI-7+Test+Entry+Criteria+Dev+RE+Validation

[2022-09-14 15:52] mukul-seagate11 commented on #1634
CC @pranav-sahasrabudhe

[2022-09-14 16:00] mukul-seagate11 commented on #1620
@hessio, this is not in the requirement so only 1 S3 instance is defined

[2022-09-14 16:15] hessio commented on #1620
Yes I only have 1 s3 instance. The remote machine is just the host machine that I have my VMWare client installed on

[2022-09-15 03:26] mukul-seagate11 commented on #1620
@hessio, Ok but with remote machine, the IO functionality hasn't tested yet

[2022-09-15 07:21] hessio commented on #1620
Ok ya that's fine, would we be able to add his functionality to the testing?

[2022-09-15 07:46] mukul-seagate11 commented on #1620
Not yet as its not in the roadmap yet

[2022-09-15 07:47] hessio commented on #1620
Ok when is the roadmap being updated? I think this is an important feature for using the OVA

[2022-09-15 15:01] hessio commented on #1407
No longer relevant

[2022-09-15 15:01] #1407 closed

[2022-09-15 15:02] hessio commented on #1440
This guide is no longer relevant and so closing issue

[2022-09-15 15:02] #1440 closed

[2022-09-16 04:23] osmboy opened #1653 "make: *** No rule to make target `rpms-notests'. Stop."
### Problem

Once the OVA boots and login in, excute build-prep-1node.sh script  just throws an error.

### Expected behavior

build-prep-1node.sh script to git-clone, build and prepare for the 1st startup. It takes about 20 mins to get everything ready

### How to reproduce

Start VM,
log in ,
[code]

### Deployment information

VMware ESXi™    Version:     6.7.0 Update 1 (Build 10302608)
Guest O

[2022-09-16 04:25] cortx-admin commented on #1653
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-34304. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-09-16 04:56] osmboy opened #1655 "pip: No module named setuptools_rust"
### Problem

Once the OVA boots , excute build-prep-1node.sh script just throws an error.

### Expected behavior

build-prep-1node.sh -dev  get everything ready

### How to reproduce

Start VM,
log in ,

[code]

### Deployment information

VMware ESXi™ Version: 6.7.0 Update 1 (Build 10302608)
Guest OS: Other 3.x Linux (64-bit)
Compatibility Workstation 12 (VM version 12)
VMware Tools: Yes
CPUs: 4

[2022-09-16 04:57] cortx-admin commented on #1655
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-34305. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-09-16 05:22] osmboy commented on #1655
it will use python cryptophy, so you should install the follow deps first
1. setuptools-rust
[code]
2. wheel
[code]
3. rust compile
[code]

[2022-09-16 07:18] mukul-seagate11 commented on #1630
https://github.com/Seagate/cortx/pull/1657 is validated as per latest OVA image and no issue is observed

[2022-09-16 07:18] #1630 closed

[2022-09-16 07:19] mukul-seagate11 commented on #1629
https://github.com/Seagate/cortx/pull/1657 is validated as per latest OVA image and no issue is observed

[2022-09-16 07:19] #1629 closed

[2022-09-16 07:20] mukul-seagate11 commented on #1628
https://github.com/Seagate/cortx/pull/1657 is validated as per latest OVA image and no issue is observed

[2022-09-16 07:21] mukul-seagate11 commented on #1621
https://github.com/Seagate/cortx/pull/1657 is validated as per latest OVA image and no issue is observed as well this was passed during the test entry criteria in https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/1170014209/PI-8+Test+Entry+Criteria+Dev+OVA+Community+Build

[2022-09-16 07:21] #1621 closed

[2022-09-16 07:21] #1620 closed

[2022-09-16 07:22] #1628 closed

[2022-09-16 07:22] mukul-seagate11 commented on #1619
Its already validated as per test entry criteria in https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/1170014209/PI-8+Test+Entry+Criteria+Dev+OVA+Community+Build

[2022-09-16 07:22] #1619 closed

[2022-09-16 08:01] osmboy commented on #1655
you may need install `cortx-py-utils` first
[code]

[2022-09-16 09:10] osmboy commented on #1655
1, error with `/dev/lnet`  not found, solution here:
[code]

[2022-09-16 11:28] osmboy commented on #1655
but hctl bootstrap --mkfs singlenode.yaml report a mistake
[code]
![image](https://user-images.githubusercontent.com/20849756/190629038-34edbbaa-b665-4970-956c-bbcce2805f9e.png)

[2022-09-16 20:04] novium258 commented on #1621
@mukul-seagate11 were you able to replicate this in the tests for the release in which it occurred?

[2022-09-19 11:47] hessio commented on #1655
Hi @osmboy thanks a lot for trying this out. I will download and try this on my own machine to see if I can recreate your issue and try to resolve it

[2022-09-19 11:50] hessio commented on #1653
Hi @osmboy I will take a look and see if I can figure out this issue

[2022-09-19 12:17] hessio commented on #1653
Hi @osmboy so when you get this error you need to move into the cortx-motr directory and run the `make` command

so run these 2 commands:

[code]

[2022-09-20 14:32] #1582 closed, assigned to nobody

[2022-09-20 14:55] cortx-admin commented on #1582
- Closed on Github

[2022-09-20 14:55] cortx-admin commented on #1582
Closed on Github

[2022-09-22 10:58] QueenTreatsDread commented on #1655
Queen Treats Dread
![image005](https://user-images.githubusercontent.com/112498266/191729395-16a4abfd-5c9d-49d4-abc1-7d1e33384b97.png)
Aka Tilwana Simone Colson...21 Bridge's as used as the regency Flow Commission Office..****