[2020-05-09 19:16] kachhwahadivya opened #5 "Error while cloning s3 server repo on the VM"
Doc: BUILD_ENVIRONMENT.md
Error:

Last login: Sat May  9 22:49:14 2020
LNET configure error 100: Network is down
[root@localhost ~]# ls
anaconda-ks.cfg
[root@localhost ~]# mkdir dk
[root@localhost ~]# cd dk
[root@localhost dk]# git clone ssh://532698@gerrit.mero.colo.seagate.com:29418/s3server  && scp -p -P 29418 532698@gerrit.mero.colo.seagate.com:hooks/commit-msg   s3server/.git/hooks/
Cloning i

[2020-05-10 13:33] nikitadanilov opened #7 "CamelCase in filenames in doc/"
For some reason, the style of file names in doc/ has been changed. E.g., coding-style.md became CodingStyle.md. Is there any reason for this? If not, please revert to the old style and use it for both existing and new files.

[2020-06-02 20:39] johnbent opened #17 "Contributing.md doc needs explanation of DCO and CLA"
Add documentation about how DCO and CLA will be required

- Set up DCO and CLA bots
- DCO will be always required
- Corporate CLA will be required when a contributor belongs to a corporation and is making a large contributions; in typical cases CLA bot can/will be overridden
- When corporate CLA is deemed to be required, we’ll ask them to sign Apache CLA

[2020-06-26 17:47] dbagchee opened #37 "Update readme for larger audience"
Update readme file to address new contributors.

[2020-06-30 13:42] #37 closed, assigned to dbagchee

[2020-06-30 23:52] johnbent opened #44 "S3 Opengrok in README points internal"
@amolkongre , can we have someone update the link in the README for the S3 Opengrok please?

[2020-07-01 00:23] johnbent opened #45 "Change access for most members to read"
@gauravchaudhari02 @venkuppu-chn , some community members are directly merging their own contributions!  :)
For example, https://github.com/Seagate/cortx/pull/25.
Can we make it so that everyone, with just the exception of a few gatekeepers, have only read access to our soon-to-be open source modules?

[2020-07-01 23:39] johnbent opened #48 "Submodule pointers in the repo please"
@gauravchaudhari02 , can you please add the submodule pointers in this repo?

[2020-07-02 00:07] #5 closed, assigned to nobody

[2020-07-02 15:07] #48 closed, assigned to gauravchaudhari02

[2020-07-02 15:09] #44 closed

[2020-07-02 19:03] vvv opened #55 "Problem: pestering SSO prompts"
SSO prompt appears several times a day.  It is followed by the Username/Password prompt.  This is bad UX.

Solution: increase SSO time-out interval to 12 hours.

<img width="377" alt="SSO prompt" src="https://user-images.githubusercontent.com/17462/86399099-58014b80-bcaf-11ea-925e-2847cadbf53c.png">
<img width="674" alt="Password prompt" src="https://user-images.githubusercontent.com/17462/8639812

[2020-07-10 11:59] #55 closed, assigned to nobody

[2020-07-16 09:08] nikitadanilov opened #65 "SSO connection reset"
Few times a day, when trying to access github.com/Seagate, I am getting
![Screen Shot 2020-07-09 at 20 36 57](https://user-images.githubusercontent.com/357282/87652291-afe28c80-c75c-11ea-8240-8434a91242e7.png)
Following the link gets me to
![Screen Shot 2020-07-09 at 20 37 06](https://user-images.githubusercontent.com/357282/87652346-c557b680-c75c-11ea-942d-09a6c044e5bb.png)
which after some time

[2020-07-17 20:25] johnbent opened #66 "CLA not working anymore?"
Hey @xahmad , did CLA stop working on this repo?  @gauravchaudhari02 do you know anything about this?

[2020-07-19 19:08] vvv opened #67 "Problem: too many users have Write access to Cortx repositories"
A significant portion of English-speaking world has **Write** access to Cortx repositories.

E.g., https://github.com/Seagate/cortx-motr/settings/access:
<img width="1103" alt="write-access" src="https://user-images.githubusercontent.com/17462/87882815-73888800-ca0b-11ea-986c-c9ae863d9427.png">

⚠️ This situation is dangerous.

**Write** access should be restricted to those who actively push to th

[2020-07-23 10:41] #67 closed, assigned to nobody

[2020-07-23 21:16] johnbent opened #71 "Change 'master' branch to 'main'"
https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/

[2020-07-26 14:45] ttwalkertt opened #75 "kernel version mismatch"
Hello-

I installed the Centos 7.7 ISO  http://mirrors.oit.uci.edu/centos/7.7.1908/isos/x86_64/CentOS-7-x86_64-DVD-1908.iso specified by  https://github.com/Seagate/cortx/blob/master/doc/VIRTUAL_MACHINE.md. The VM setup document requires kernel version 3.10.0-1062.12.1 but I ended up with kernel version 3.10.0-1127.13.1.el7.x86_64. I did not deliberately upgrade the kernel, but I did update the di

[2020-07-26 15:46] ttwalkertt opened #76 "bazel dependency not documented"
The S3 build process fails with "bazel: command not found". Bazel is not mentioned in any of the build preparation guides and is not available on the standard Centos repos. We need instructions on which version of bazel to use, and how to safely install it. It should also be included in the list of build prerequisites somewhere. Thanks.

[2020-07-26 16:24] ttwalkertt opened #77 "S3 rebuild-all fails"
Hello-

S3 rebuild-all script fails:
server/s3_bucket_metadata_v1.h:25:30: fatal error: gtest/gtest_prod.h: No such file or directory
 #include <gtest/gtest_prod.h>

See attached complete build output.

Thanks,
-Tim
[builderrs.ttw.txt](https://github.com/Seagate/cortx/files/4977919/builderrs.ttw.txt)

[2020-07-27 11:56] #77 closed, assigned to nobody

[2020-07-27 11:58] #76 closed, assigned to nobody

[2020-07-27 12:00] #75 closed, assigned to nobody

[2020-07-28 02:18] ttwalkertt opened #80 "internal links"
https://github.com/Seagate/cortx/blob/master/doc/CortxMotrQuickStart.md contains a link to an internal Seagate site, which would not be available to a community member. Please move the resource to a public location and update the link. Thanks.

Reference:
#$ scp -p -P 29418 g${GID}@gerrit.mero.colo.seagate.com:hooks/commit-msg ${gitdir}/hooks/commit-msg

[2020-07-28 06:57] shailesh-vaidya opened #82 "Kernel version mentioned in BUILD_ENVIRONMENT.md need to be updated."
[BUILD_ENVIRONMENT.md](https://github.com/Seagate/cortx/blob/master/doc/BUILD_ENVIRONMENT.md)  says,  Currently CORTX requires the CentOS 7.7.1908 distribution running the `3.10.0-1062.12.1` kernel.  I feel we are supporting `3.10.0-1062.el7.x86_64`  Kernel version as of now. Hence document need to be updated.

[2020-07-28 13:14] #82 closed, assigned to nobody

[2020-07-28 15:53] ttwalkertt opened #85 "Fatal error: Kernel devel source not available for required kernel version."
https://github.com/Seagate/cortx/blob/master/doc/CortxMotrQuickStart.md has us run _sudo ./scripts/install-build-deps_ to install the build dependencies. The **script fails** when fetching the kernel source:

However, if the OS release is updated (sudo yum update) to pick up the current versions of Centos 7.7 packages, we get kernel 3.10.0-1127.13.1.el7.x86_64 which does have the devel package ava

[2020-07-28 19:56] ttwalkertt opened #88 "pip dependency not documented"
**Create a local repository** requires pip, but pip is not installed by any of the preparation scripts or documented.

[2020-07-28 21:05] ttwalkertt opened #90 "S3 jenkins test fail for missing s3iamcli"
Hello-

After the S3 build, the jenkins unit tests fail for missing s3amicli. The error message states:

However the s3iamcli rpm is not present anywhere in the S3 tree, although I do see the build script in rpms/s3iamcli. Is there a missing compile step?

Thanks.

The other error and warning messages are in here: [s3test.txt](https://github.com/Seagate/cortx/files/4991177/s3test.txt)

[2020-07-30 07:19] Jeetandra opened #93 "Add support for el8"
Current mero repository works with Centos7.7.

Plan is to add support for Centos8 (starting with CentOS8.2)

@huanghua78 @justinzw @johnbent

[2020-07-30 18:13] vvv opened #94 "MS collaboration tools are a pain to use"
# Problem

* SharePoint documents are slow 🐌  to open and rather taxing on the CPU. 💻🔥
  - PowerPoint presentations are particularly bad in this respect: multi-slide presentations take ages to load or, in case of slow network, may not open at all.
* UX of SharePoint products is much worse than that of Google Documents, which engineers used before.   The shortcomings are too many to list, but how a

[2020-08-03 15:21] yanqingfu opened #104 "BE Components picture needs higher resolution"
BE components image is not clear, hard to read, see here :

https://github.com/Seagate/cortx/blob/master/doc/be/BE_TheMetadataBackend.md#be-components-relationship

https://github.com/Seagate/cortx/blob/master/doc/be/images/be-components.png

[2020-08-04 14:09] Jeetandra opened #108 "CortxMotrQuickStart.md - points to invalid branch"
This command (as in https://github.com/Seagate/cortx/blob/master/doc/CortxMotrQuickStart.md) doesn't work:

`git clone --recursive git@github.com:Seagate/cortx-motr.git -b main`

Correct command is `git clone --recursive git@github.com:Seagate/cortx-motr.git -b dev`

either we need to rename "dev" branch as "main" or update specs.

I prefer 'master', as this is typical for repositories in git.

[2020-08-05 04:49] yanqingfu opened #109 "CORTX QUICK START GUIDE item 9 link is not valid"
Submitting contributions link to demo video

404 NOT FOUND

[2020-08-05 05:24] yanqingfu opened #110 "Support page GitHub Team Discussions link in not valid"
please feel free to create a new Discussion in our GitHub Team Discussions room:

https://github.com/orgs/Seagate/teams/seagate-cortx-innersource/discussions

404

[2020-08-06 16:33] #17 closed, assigned to mukul-seagate11

[2020-08-07 09:31] mehjoshi opened #115 "Failure while setting up dev environment for cortx-s3server"
There is a failure while setting up dev environment for cortx-s3server.

I saw this failure in the script/env/dev/init.sh script that is run while trying to setup a development environment for cortx-s3server.
The failure happens while installing the packages bundled in ansible/awscli-bundle.zip. The install script in the bundle fails suggesting duplicates for some of the packages. I was able to ci

[2020-08-08 03:21] harrison-seow-seagate opened #116 "Standardize Git Protocol (https / ssh)"
### I think we should standardize git protocols among all submodules
Most if not all submodules protocol uses https (e.g. https://github.com/Seagate/cortx-s3server.git).
However, in the [cortxs3 documentation](https://github.com/Seagate/cortx/blob/master/doc/CortxS3ServerQuickStart.md), it recommends (instruct) to setup ssh access which won't work when you git clone recursively. You still need to

[2020-08-09 22:22] PengMacro opened #117 "504 Error: Gateway Timeout"
I am testing CORTX using 60000 MNIST images.
[mnist_up.zip](https://github.com/Seagate/cortx/files/5048512/mnist_up.zip) is my python program to upload those images to CORTX. It worked fine with loading a portion of those images (eg. 10000), but caused “gateway timeout” error if I tried to upload more than 30000 images.
![image](https://user-images.githubusercontent.com/37490734/89742746-43f4fa80-

[2020-08-11 00:30] rupasree-roy opened #119 "VM image for virtual box has issues; cortx motr install-build-deps script fails"
I downloaded the vm image for virtual box mentioned in directory : https://seagatetechnology-my.sharepoint.com/:f:/g/personal/basavaraj_kirunge_seagate_com/EgkMhqmUbIdFs8Tr9N-bHecBtMDwm02QbG0T8vS7TLOdUg?e=aiRHBr. However, while trying to install dependent packages like lustre using
[code]
it gives the following error

![image](https://user-images.githubusercontent.com/66809998/89843964-fb574300-db

[2020-08-11 08:54] knekrasov opened #120 "I can't understand cla-bot warning"
Can somebody please explain how can I get rid of this noisy message after each my push to GitHub?

![cla-bot-message](https://user-images.githubusercontent.com/69299710/89877676-19718180-dbc9-11ea-9a49-a2bded8651e6.PNG)

Text:

The CLA bot has flagged your contribution as not having a Contributor License Agreement
in place. Note that this is not needed in the overwhelming majority of instances and

[2020-08-11 09:32] shailesh-vaidya opened #121 "source-code-browser url is not working"
Hello,
source-code-browser mentioned at https://github.com/Seagate/cortx#source-code-browser is not working.  http://ssc-vm-c-192.colo.seagate.com:8090/source/ gives "This site can’t be reached"

[2020-08-12 11:40] VenkyOS opened #123 "Content Modification after Open Source"
After going open source, in the GitHub and Codacy.rst document, the following changes must be made.

- PAT related content must be removed

- SSO related content must be removed

- Establish links between documents

#107

[2020-08-14 12:18] ypise opened #130 "Default branch is still Master"
To be in sync with the other component branching strategy, the default branch shouldn't be master (which is also a contentious term).
Kindly correct this to align this with the component repo strategy.

[2020-08-14 16:07] yanqingfu opened #133 "four commands in the cortx-motr module m0 script are not documented"
Commands:

    **run-all**              Run unit and system tests.

    **dist-check**           Create and validate Motr distribution archive and rpm.

    **check-everything**  =  (rebuild + dist-check + run-all) * 2
                         *NOTE* Please run this command before landing.
                         .
                         The command is executed twice (note '* 2' above):

[2020-08-15 00:31] yanqingfu opened #136 "google doc links need to migrate to sharepoint links"
1. https://github.com/Seagate/cortx/blob/master/doc/be/EOSS3IAMDD.rst#references

2. https://github.com/Seagate/cortx/blob/master/doc/be/CORTX-S3OVERVIEW.rst

search keyword google, you should see those three links

2a https://github.com/Seagate/cortx/blob/master/doc/be/CORTX-S3OVERVIEW.rst#cortx-s3-object-to-cortx-motr-object-mapping

2b https://github.com/Seagate/cortx/blob/master/doc/be/CORTX-S

[2020-08-15 01:25] yanqingfu opened #137 "S3 mero vs motr"
From my understanding, we changed mero to motr
but in the S3 (git clone --recursive git@github.com:Seagate/cortx-s3server.git -b main)
still see mero

Submodule path 'third_party/mero': checked out 'a03ba35788f5650678e1086ce8c1edf0644f20c1'
Submodule path 'third_party/mero/extra-libs/galois': checked out '0975162a5fa8d0de3758756fc006097ef24a

[2020-08-15 05:14] yanqingfu opened #139 "'Search for specific commit-id in search box' instruction is not clear"
where can we find the search box?

https://github.com/Seagate/cortx/blob/master/doc/CortxS3ServerQuickStart.md#testing-specific-motr-version-with-cortx-s3server

[2020-08-15 07:05] yanqingfu opened #140 "Prepare the CDF cp command is not correct"
[root@ssc-vm-0922 670951]# cp /opt/seagate/cortx/hare/share/cfgen/examples/singlenode.yaml
cp: missing destination file operand after ‘/opt/seagate/cortx/hare/share/cfgen/examples/singlenode.yaml’
Try 'cp --help' for more information.

which directory should we run this command and where should we put the copy at?

https://github.com/Seagate/cortx/blob/master/doc/Cluster_Setup.md#14-prepare-the-cd

[2020-08-15 07:20] yanqingfu opened #141 "Bootstrap the cluster m0confgen: command not found"
[root@ssc-vm-0922 670951]# hctl bootstrap --mkfs singlenode.yaml
2020-08-15 01:06:36: Generating cluster configuration.../opt/seagate/cortx/hare/libexec/hare-bootstrap: line 234: m0confgen: command not found

I found that m0confgen is located at the following locations:

cortx-motr/st/m0confgen
cortx-motr/utils/m0confgen

cortx-s3server/third_party/mero/st/m0confgen
cortx-s3server/third_party/mero

[2020-08-15 07:36] yanqingfu opened #143 "https://github.com/Seagate/cortx-motr#obtain-sources is not updated"
[root@ssc-vm-0922 test]# git clone --recursive http://gerrit-sage.dco.colo.seagate.com:8080/mero
Cloning into 'mero'...
fatal: unable to access 'http://gerrit-sage.dco.colo.seagate.com:8080/mero/': Could not resolve host: gerrit-sage.dco.colo.seagate.com; Name or service not known

[root@ssc-vm-0922 test]# git clone --recursive https://github.com/seagate-ssg/mero.git
Cloning into 'mero'...
Usernam

[2020-08-15 08:13] yanqingfu opened #145 "Motr High-level designs two links are not valid"
**doc/hld/hld-template.rst.in** in **dev/architecture branch**

https://github.com/Seagate/cortx/blob/master/doc/SuggestedDocumentConversions.md#motr-high-level-designs

[2020-08-16 08:21] #143 closed, assigned to nobody

[2020-08-16 08:22] #110 closed, assigned to nobody

[2020-08-16 10:32] yanqingfu opened #148 "cortx-motr Unit Tests parse trace log run-ut -T hang"
run **./scripts/m0 run-ut -T** in the cortx-motr directory
nothing comes out, it's just hanging there with

----- run_ut -T -----

[2020-08-17 13:33] #148 closed, assigned to nobody

[2020-08-18 04:46] yanqingfu opened #157 "cortx-motr lsmod couldn't see which module is using m0tr"
[root@ssc-vm-0925 cortx-motr]# ./scripts/m0 run-st 01net
----- run_st 01net -----
<< 01net >>
**insmod: ERROR: could not insert module /home/670951/cortx-motr/extra-libs/galois/src/linux_kernel/galois.ko: File exists
Error unloading /home/670951/cortx-motr/m0tr.ko.**
0.00user 0.02system 0:00.04elapsed 85%CPU (0avgtext+0avgdata 4728maxresident)k
24inputs+8outputs (0major+5948minor)pagefaults 0swaps

[2020-08-18 04:57] yanqingfu opened #158 "overlap in CORTX QUICK START GUIDE"
[CORTX QUICK START GUIDE](https://github.com/Seagate/cortx/blob/master/QUICK_START.md).

the current workflow is :

1.Set up your build and test environment
2. Getting cortx-motr ready
3. Getting Cortx-S3 ready
4. A video from CORTX engineer Kevin Price demonstrating the above three steps
5. Contributing
6. Contributing to Cortx Motr
7. Contributing to Cortx S3
.....

I would like to suggest the f

[2020-08-18 10:47] yanqingfu opened #160 "cortx-motr make: doxygen: Command not found"
[root@ssc-vm-0925 cortx-motr]# make doc
make: doxygen: Command not found
make: *** [doc-doxygen] Error 127

https://github.com/Seagate/cortx-motr/tree/dev#go-deep

[2020-08-20 03:43] #108 closed, assigned to nobody

[2020-08-20 03:45] #133 closed, assigned to madhavemuri, max-seagate

[2020-08-20 03:47] #137 closed, assigned to nobody

[2020-08-20 03:48] #140 closed, assigned to vvv, chumakd

[2020-08-20 04:09] #157 closed, assigned to nobody

[2020-08-20 04:10] #160 closed, assigned to nobody

[2020-08-20 22:12] gregnsk opened #167 "Provide proper documentation for CORTX prerequisites"
For example, requirement for RoCE and TCP connectivity.
@ipoddubnyy  - please add other known restrictions

[2020-08-25 15:22] gregnsk opened #186 "Link to Opengrok in the main readme is broken - even inside Seagate"
![image](https://user-images.githubusercontent.com/13031997/91193463-f906f400-e6ab-11ea-8f8d-3039815c70ca.png)

[2020-08-26 14:03] VenkyOS opened #189 "VA Documentation"
Please fill the placeholders in the VA document (installation guide).

[2020-08-26 16:33] justinzw opened #191 "sub-modules in parent repo need to be updated"
In the parent repo the "sub-modules" are not pointing to the latest changes in the child repo.

We need a way to automatically update these or have a process where they are updated.

![image](https://user-images.githubusercontent.com/950172/91330960-004b0200-e77f-11ea-931b-f00b1fd5e1d4.png)

[2020-08-28 12:57] #167 closed, assigned to Saumya-Sunder

[2020-08-28 18:23] johnbent opened #204 "Long Term Goal for Building CORTX"
@shailesh-vaidya , eventually there should be a build script in this parent repo so after doing a recursive clone of all the sub-repos, that there is a 'Makefile' or whatever in this parent repo so that people can just do:

Or something like that.

[2020-08-31 21:37] justinzw opened #209 "updating slack invite on main page"
The current text on the main page says this:

* Join the CORTX Community Slack <!---[Join the CORTX CORTX Community on Slack](https://join.slack.com/t/cortxcommunity/shared_invite/zt-femhm3zm-yiCs5V9NBxh89a_709FFXQ) to get your questions answered and interact the community and Seagate's storage experts.

The wording may need a bit of editing [CORTX mentioned twice for instance] but I was thinking

[2020-09-01 07:15] johnbent opened #210 "Two READMEs?"
@novium258 @justinzw @Saumya-Sunder @VenkyOS , I see that we have two README's in this repo.  This suggests we had multiple breakdowns.
1. Someone created a new README in a PR without removing the old README
2. Someone approved and merged that PR
I'm not interested in figuring out who to blame.  It was probably me actually who did the bad approve/merge.

However, let's please try to not make mista

[2020-09-02 10:38] yanqingfu opened #212 "links not found in QUICK_START.md"
https://github.com/Seagate/cortx/blob/main/QUICK_START.md

link 2 and 7
https://github.com/Seagate/cortx/blob/main/doc/CortxMotrQuickStart.md

https://github.com/Seagate/cortx/blob/main/doc/ContributingToCortxS3.md

[2020-09-02 20:53] #139 closed, assigned to Saumya-Sunder

[2020-09-03 09:05] #141 closed, assigned to vvv, chumakd

[2020-09-04 01:36] #120 closed, assigned to johnbent

[2020-09-04 08:31] yanqingfu opened #225 "language 'master ' still in use"
see https://github.com/Seagate/cortx/search?q=master

multiple docs still use this word

![image](https://user-images.githubusercontent.com/68423216/92218692-1322ac80-eecc-11ea-8e3c-ed263d603fa6.png)

need to do a complete search and replace the word

[2020-09-05 07:21] imvenkip opened #231 "Clovis word is visible in Suggested Contributions"
https://github.com/Seagate/cortx/blob/main/doc/SuggestedContributions.md

![ClovisWord](https://user-images.githubusercontent.com/44456073/92300181-7c5efa00-ef76-11ea-943d-768e616658eb.png)

[2020-09-08 17:18] johnbent opened #238 "Internal links in JBOD document"
All,

In our [document ](https://github.com/Seagate/cortx/blob/main/doc/CORTX%20on%20JBOD.rst
) explaining how to run scale-out CORTX, there are multiple internal URLS.

This is a documentation bug.  We are creating this document for an _external_ community so this document is currently broken.

@VenkyOS @pradeep-gothoskar @ujjwalpl

[2020-09-09 16:38] #209 closed, assigned to nobody

[2020-09-09 23:56] johnbent opened #241 "Tons of internal links . . . ."
README -> Quick Start -> Architecture (https://github.com/Seagate/cortx/blob/main/doc/architecture.md)

That file has tons of internal links.  @VenkyOS or @Saumya-Sunder , can one of you please assign this to yourself and get this cleaned up?

[2020-09-10 06:06] justinzw opened #243 "Github Issues Page - "Want to contribute?" section."
Most open source repos have a "Want to Contribute" section in their Github issues page.

Example:

https://github.com/rails/rails/issues

![image](https://user-images.githubusercontent.com/950172/92687135-d6055280-f2ef-11ea-8a1e-b78b92c1f3f6.png)

https://github.com/atom/atom/issues
https://github.com/twbs/bootstrap/issues

I think it's helpful to have but I can't figure out how to add this to our

[2020-09-10 10:12] #212 closed, assigned to Saumya-Sunder

[2020-09-10 10:17] #88 closed, assigned to nobody

[2020-09-10 10:32] #80 closed

[2020-09-10 10:37] #186 closed, assigned to nobody

[2020-09-10 10:40] #210 closed, assigned to nobody

[2020-09-10 13:40] justinzw opened #247 "Improve new issues experience/ Issue Template"
When a user files a new issue, there needs to be an Issue Template that can guide them and also it would be nice to have a "guide" on the right hand side like the example below:

Example:

https://github.com/minio/minio/issues/new?assignees=&labels=community%2C+triage&template=bug_report.md&title=

![image](https://user-images.githubusercontent.com/950172/92737172-c3127280-f32f-11ea-8ce5-e14226608

[2020-09-11 04:26] yanqingfu opened #250 "main branch is behind dev branch expected?"
![image](https://user-images.githubusercontent.com/68423216/92859268-a195b180-f429-11ea-9638-051579604060.png)
![image](https://user-images.githubusercontent.com/68423216/92859331-b114fa80-f429-11ea-89bb-17d17fdd8a13.png)
![image](https://user-images.githubusercontent.com/68423216/92859375-bc682600-f429-11ea-9504-850a15f2bbdb.png)
![image](https://user-images.githubusercontent.com/68423216/9285940

[2020-09-11 05:16] #191 closed, assigned to gauravchaudhari02

[2020-09-11 05:37] justinzw opened #251 "We need a way to automatically label bugs as "Triage""
Right now there is no way to know whether a bug has been triaged or not. We need a way to automatically label a bug as "Triage needed" so we know we need to triage it.

[2020-09-11 20:11] johnbent opened #256 "Instructions are not clear in 'Deploying a VM'"
https://github.com/Seagate/cortx/blob/main/doc/Deploying%20a%20VM.rst

@VenkyOS , these instructions are not clear.  The instructions need to be very clear and easy to follow.  For example, I have absolutely zero idea what this means: "Pop-ups from ESX server must be allowed."

Also, the filename should not contain spaces.

[2020-09-11 20:15] johnbent opened #257 "Internal links in LocalVMSetup.md"
@shailesh-vaidya , there is an internal link here:
https://github.com/Seagate/cortx/blob/main/doc/LocalVMSetup.md
Can we copy those those files into a release and then change this file to reference the files from their new location?

If not you, can someone else please help with this?

[2020-09-12 01:40] yanqingfu opened #258 "https://github.com/Seagate/cortx/blob/main/README.md suggestions"
![image](https://user-images.githubusercontent.com/68423216/92984339-04e01c00-f4dc-11ea-805e-457c38433c6d.png)

merge and combine A to B

![image](https://user-images.githubusercontent.com/68423216/92984463-dca4ed00-f4dc-11ea-98ae-01cc506e8b9d.png)
where this image comes from? 1. it seems to contradict to the public info: https://www.seagate.com/files/www-content/our-story/trends/files/dataage-idc

[2020-09-12 02:06] yanqingfu opened #259 "https://github.com/Seagate/cortx/blob/main/doc/CORTXContributionGuide.md suggestions"
![image](https://user-images.githubusercontent.com/68423216/92984655-55f10f80-f4de-11ea-8f78-98975a55b63b.png)

![image](https://user-images.githubusercontent.com/68423216/92984720-dadc2900-f4de-11ea-9da1-bdedf890fa94.png)
A can link to https://github.com/Seagate/cortx/blob/main/doc/SSH%20Public%20Key.rst

![image](https://user-images.githubusercontent.com/68423216/92984773-56d67100-f4df-11ea-8799

[2020-09-12 09:00] imvenkip opened #260 "Documentation correction in CortxHAQuickStart.md"
/s/other step on primary node node./other steps on primary node.

![image](https://user-images.githubusercontent.com/44456073/92991907-661be580-f504-11ea-8210-7cfe61c20b8a.png)

[2020-09-12 09:06] #250 closed, assigned to shailesh-vaidya

[2020-09-12 14:03] yanqingfu opened #262 "hctl bootstrap --mkfs singlenode.yaml error"
followed https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md#14-prepare-the-cdf

![image](https://user-images.githubusercontent.com/68423216/92997166-c716de00-f543-11ea-9b78-bd6bcd730527.png)

**[root@ssc-vm-1091 examples]# hctl bootstrap --mkfs singlenode.yaml
2020-09-12 08:01:33: Generating cluster configuration...cfgen: **ERROR** singlenode.yaml: Invalid cluster description
user err

[2020-09-12 23:14] #262 closed, assigned to nobody

[2020-09-13 04:37] yanqingfu opened #266 "hctl bootstrap --mkfs singlenode.yaml failed"
installed cortx-motr and cortx-hare.

[2020-09-14 16:32] #231 closed, assigned to justinzw

[2020-09-14 23:56] johnbent opened #275 "Virtual Appliance EULA"
@VenkyOS , when you create the document explaining how to download the use the VA, please do the following as directed by @pmbickley and @gregnsk:

1. Do not create a direct link to the OVA file
2. Instead, create an indirect link
3. Wherever you say, "Click HERE to download the OVA file," or whatever comparable language you use, HERE should be a link to a file called 'va_eulu.rst'
4. va_eula.rst

[2020-09-15 11:28] #238 closed, assigned to shailesh-vaidya, pradeep-gothoskar, VenkyOS

[2020-09-17 02:23] PengMacro opened #296 "Document Confusion"
I am following [this ](https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md#12-install-the-rpms)to install hare rpms but got the below error. I solved it by [building hare rpms locally instead](https://github.com/Seagate/cortx-hare/blob/dev/README.md#installation). I think that's because my VM is not within seagate. Maybe revising related document is needed.

![image](https://user-image

[2020-09-17 07:09] Saumya-Sunder opened #287 "Add link for DCO/CLA"
Add link for DCO/CLA in the CORTX Contribution Guide

[2020-09-17 07:11] #287 closed, assigned to nobody

[2020-09-17 07:16] johnbent opened #288 "stalebot is closing issues"
https://github.com/Seagate/cortx-prvsnr/issues/283
![image](https://user-images.githubusercontent.com/2047294/93432838-4fb6b680-f883-11ea-9fa4-cab2bc4c46fe.png)

@gauravchaudhari02 @mukul-seagate11 @shailesh-vaidya @amolkongre  , can one of you please assign someone to fix this?  Thanks!

[2020-09-17 07:55] VenkyOS opened #290 "Naming Structure and check for broken links"

[2020-09-18 07:25] gowthamchinna opened #312 "Github : Secret Audit"
Audit Seagate GitHub repo's for GITHUB tokens and other org credentials.

Ref :

- https://docs.github.com/en/github/administering-a-repository/about-secret-scanning
- https://github.com/features/security/advanced-security/signup
- https://docs.github.com/en/github/authenticating-to-github/removing-sensitive-data-from-a-repository
- https://securitytrails.com/blog/github-dorks

Github Action:
- ht

[2020-09-18 11:55] #260 closed, assigned to Saumya-Sunder

[2020-09-18 23:21] johnbent opened #310 "Contribution Guides should be called root/CONTRIBUTING.md"
All of our repos should have a root/CONTRIBUTING.md file as that is a special file name that github recognizes and treats specially like it does README.md and LICENSE.md.  More info here: https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file.

We have contributing guides for each repo but they aren't in the proper location with the proper name.  For

[2020-09-19 06:18] gauravchaudhari02 opened #311 "Add security policy"
`Security Policy` is a feature in GitHub used to give people instructions for responsibly reporting security vulnerabilities in the project and to tell people about which versions of your project are currently being supported with security updates.

https://docs.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository

below is some reference opensource im

[2020-09-21 16:08] #90 closed, assigned to nobody

[2020-09-21 17:12] #158 closed, assigned to Saumya-Sunder

[2020-09-22 07:57] #117 closed, assigned to nobody

[2020-09-22 12:19] #189 closed, assigned to VenkyOS

[2020-09-22 12:20] #290 closed, assigned to VenkyOS

[2020-09-23 01:12] yanqingfu opened #337 "git clone --recursive git@github.com:Seagate/cortx.git -b main failed"
Tried to use `git clone --recursive git@github.com:Seagate/cortx.git -b main` to download the whole package
seems couldn't download cortx-motr

suggestion: in https://github.com/Seagate/cortx/blob/main/QUICK_START.md or somewhere, provide a method to download the whole CORTX package and also put **generate SSH key and PAT** upfront.

[2020-09-23 13:59] johnbent opened #343 "Submodule for cortx-utils please"
@gauravchaudhari02 , can you please add cortx-utils submodule here?

[2020-09-23 14:06] #343 closed, assigned to nobody

[2020-09-23 17:37] #94 closed, assigned to nobody

[2020-09-23 18:09] johnbent opened #350 "Automatically find broken links"
It would be cool to have a tool that automatically finds any broken links in our documentation.  This looks like it might work:

https://github.com/marketplace/actions/broken-link-check

Does it also find orphaned docs that aren’t reachable?

[2020-09-24 09:31] #123 closed, assigned to gauravchaudhari02, shailesh-vaidya, mukul-seagate11, VenkyOS, Saumya-Sunder

[2020-09-24 10:05] #337 closed, assigned to nobody

[2020-09-24 19:48] Saumya-Sunder commented on #109
Hey @justinzw, gentle reminder, you need to add the videos on vimeo to the quickstart guide.

[2020-09-24 19:50] Saumya-Sunder commented on #116
Closing this as we have updated the S3 server documentation.

[2020-09-24 19:50] #116 closed

[2020-09-24 19:55] Saumya-Sunder commented on #259
Resolved in the CORTX CONTRIBUTING.md file

[2020-09-24 19:56] Saumya-Sunder commented on #310
Closing this as it's done

[2020-09-24 19:56] #310 closed

[2020-09-24 19:57] Saumya-Sunder commented on #258
Resolved in CORTX CONTRIBUTING.md file

[2020-09-24 19:57] #258 closed

[2020-09-24 20:17] johnbent commented on #247
Looks like there is an easy automated way to turn this on.  A repo admin can go into repo settings and see this:

![image](https://user-images.githubusercontent.com/2047294/94195724-9ce0ec80-fe70-11ea-8e11-887b475badb3.png)

See how it says, "Setup Templates" in the green button?

[2020-09-25 20:39] johnbent opened #371 "Add SAGE history to the FAQ"
Also, I found it sad to read that this comes from an EU funded project but no mention of that project. It's nice to see something practical come out of i.e. H2020, but one would like to know more.

_Originally posted by @FlorianHeigl in https://github.com/Seagate/cortx/discussions/369_

Some links that might be useful:
https://www.hpcwire.com/2016/11/29/seagate-led-sage-project-delivers-update-exa

[2020-09-26 03:40] huanghua78 commented on #371
There is a doc to talk about the EU H2020 project:

doc/be/CORTX_TUTORIAL.rst

[2020-09-26 18:12] gauravchaudhari02 commented on #311
Security policy is implemented.
https://github.com/Seagate/cortx/blob/main/SECURITY.md

[2020-09-26 18:12] #311 closed

[2020-09-27 20:06] zeronewb opened #373 "Apache TLP"
Subj

[2020-09-28 16:34] johnbent opened #377 "Add motr-in-prose to the FAQ"
Thanks @zacharywhitley , good for you for digging around and finding that!  Yes, for people, clearly like yourself, who like deep technical information, I agree with you that the [motr-in-prose.md](https://github.com/Seagate/cortx-motr/blob/main/doc/motr-in-prose.md) is currently our best document.  I'll create an issue that we should add this to our FAQ to make it more obvious so that the next pe

[2020-09-28 18:11] srmcdowell opened #379 "Virtual Images error installing, port 8500 connection refused."
Hi,

Following the installation instructions for the VM image, I'm encountering a number of errors.   Whatever you're expecting to be on port 8500 seems absent (I've checked firewall rules + looked for a listen on that port).

All services described in the installation troubleshooting section are up, but the "cluster" is down.

I've had the same results with both of the virtual image packages.

Co

[2020-09-28 18:45] johnbent commented on #379
Thank you for reporting this @srmcdowell and I apologize for the difficulties!  What hypervisor are you using?

[2020-09-28 19:45] d283w commented on #379
I have similar issues on ESX 7.0.  I think one of the issues is that interfaces ens224 and ens256 assume you have DHCP provisioning IP addresses.  I was able to get further by manually editing ifcfg-ens224 and ifcfg-ens256 to assign IPs manually prior to running bootstrap.sh.  I can get further and the mgmt UI is now responding, but I can't get S3 to work.

[2020-09-28 19:50] justinzw commented on #379
thanks @d283w for mentioning this.

@srmcdowell I'm wondering whether you can run `ip a l` and check to see that all interfaces have an IP address associated to it.

For reference -> Here is my output when I run it.

![image](https://user-images.githubusercontent.com/950172/94479059-10447000-0189-11eb-867d-e1d257c020aa.png)

[2020-09-29 04:06] justinzw commented on #373
@zeronewb is there something that you forgot to type here? If not - I'm going to resolve this issue.

[2020-09-30 18:47] d283w commented on #379
Something's going wrong with the process to modify haproxy.cfg and /etc/hosts

[0;31m----------[0;0m
    [0;31m      ID: Setup HAProxy config[0;0m
    [0;31mFunction: file.managed[0;0m
    [0;31m    Name: /etc/haproxy/haproxy.cfg[0;0m
    [0;31m  Result: False[0;0m
    [0;31m Comment: Unable to manage file: Jinja variable list object has no element 0[0;0m
    [0;31m Started: 18:09:57.

[2020-09-30 21:29] callahad commented on #243
I think it's based on the presence of a `CONTRIBUTING.md` for the first line and, traditionally, having a label literally named `good first issue` for the second. So I _do_ see a partial contributing banner on the issues page:

![2020-09-30_22-28](https://user-images.githubusercontent.com/24193/94741624-4f7ee680-036c-11eb-8859-ad7cefb12d94.png)

About a year ago GitHub began [using machine learnin

[2020-09-30 21:59] johnbent commented on #136
Hey @Saumya-Sunder , @yoramnovick has reported that there are still some links in cortx/doc/architecture.md as well as cortx-motr/doc/motr-design-doc-list.rst.  Can you please help fix and notify us here when done?  Thanks!

[2020-10-01 03:42] Saumya-Sunder commented on #136
Sure @johnbent I am on it.

[2020-10-01 17:46] venkuppu-chn opened #382 "Test dashboard"

[2020-10-01 17:48] #382 closed

[2020-10-01 19:26] johnbent commented on #130
@mukul-seagate11 , can we close this one yet?

[2020-10-01 19:28] #71 closed

[2020-10-02 04:01] mukul-seagate11 commented on #130
This issue has been addressed as default branch is 'main' branch for https://github.com/Seagate/cortx

[2020-10-02 04:01] #130 closed

[2020-10-02 05:49] PengMacro opened #383 "Installing Dependencies Error"
I am following [this](https://github.com/Seagate/cortx/blob/main/doc/InstallingDependencies.md#installing-dependencies) and got "bash: githubrelease: command not found" when I ran "githubrelease" command.

I tried to use pip instead of pip3 to [install ](https://pypi.org/project/githubrelease/)it and it works.

[2020-10-02 10:18] PengMacro commented on #383
Then I got the below error:
![image](https://user-images.githubusercontent.com/37490734/94913084-40805d00-046e-11eb-82a7-a9203cb1b747.png)

Also, I wonder do we really need step1? (considering we have "githubrelease download" command in step2) If so, how to download it? use "curl" command?
![image](https://user-images.githubusercontent.com/37490734/94912816-d7004e80-046d-11eb-8935-448d7436723e.png

[2020-10-02 10:32] mukul-seagate11 commented on #383
Actually step 1 is to download & install CORTX Build Dependencies related to binaries packages where step 2 is installing githubrelease binary package so both are two separate steps

[2020-10-02 12:02] shailesh-vaidya commented on #257
@Saumya-Sunder  I feel we have fixed all internal links by now.  Could you please point me if there are any location with internal links. I will take a look.

[2020-10-02 12:22] shailesh-vaidya commented on #296
@Saumya-Sunder
http://cortx-storage.colo.seagate.com/releases/ links will not be accessible from outside. Hence we need to put alternative for that in document.
Also [Create a VM](https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md#1-single-node-setup) will not be applicable.

[2020-10-02 12:33] shailesh-vaidya commented on #288
@gauravchaudhari02 @mukul-seagate11  AFAIK we have validated that adding `daysUntilClose: false` fix auto closing issue.  We may start enabling stale bot for repositories.

[2020-10-02 13:09] msconsults opened #384 "Supported S3 API calls"
Hello together,

I'm working a lot of times with AWS and I'm searching for the supported S3 API list of cortx to check if it's fit for my on-prem workloads.
Can you provide it, please?

Thanks and best regards, Marc

[2020-10-02 13:14] shailesh-vaidya commented on #383
From error message looks like variable GITHUB_TOKEN does not have proper value. below command should print your token.
`echo $GITHUB_TOKEN `
If not please execute,
`export GITHUB_TOKEN=<YOUR GITHUB TOKEN>`
`githubrelease --github-token $GITHUB_TOKEN  asset Seagate/cortx download build-dependencies`

[2020-10-02 20:05] #373 closed

[2020-10-02 20:05] johnbent commented on #373
Closing this.  @zeronewb please reopen if you still have any concerns or questions here.

[2020-10-02 20:11] johnbent commented on #379
@srmcdowell , can you please try the instructions from @d283w and @justinzw to see if that works for you?

[2020-10-02 20:21] #379 closed

[2020-10-02 20:34] johnbent opened #385 "doc/be has some good docs"
doc/be has some good docs but many of them seem like they should be migrated to children repos and all of them need to be reachable from existing documentation.

[2020-10-02 20:35] johnbent commented on #371
Thanks @huanghua78 , yes, the answer in the FAQ should include a link to that document as well.

[2020-10-02 20:36] johnbent commented on #371
Hey @sainarasim , can you take this one please?

[2020-10-02 20:43] johnbent commented on #266
@yanqingfu , by the way, where did you find a link to https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md?  Those instructions are very specific to internal Seagate and won't work for the community so we should figure out how it is reachable and either remove the link or we should update the instructions so that they work for community members.

[2020-10-02 20:45] johnbent commented on #145
@huanghua78 , have these been merged yet?

[2020-10-02 20:47] johnbent commented on #145
@huanghua78 , I don't see 'doc/hld' in either cortx parent or cortx-motr repo.  Where should I be looking?  Do we still need to migrate them from "gerrit-dev/architecture" branch?  @mukul-seagate11 , have we not finished the migration?

[2020-10-02 20:49] #121 closed

[2020-10-02 20:50] justinzw commented on #121
No longer an issue as this file was modified.

[2020-10-02 20:58] justinzw commented on #7
Closing this as this is described in our coding style file.

[2020-10-02 20:58] #7 closed

[2020-10-02 20:58] #45 closed

[2020-10-02 21:00] justinzw commented on #65
Now that we are open source if we remove you from the Seagate org then you won't need SSO anymore. FWIW I also see this issue

[2020-10-02 21:00] #65 closed

[2020-10-02 21:03] #66 closed

[2020-10-02 21:04] johnbent commented on #85
@shailesh-vaidya is this fixed in the nice release dependencies page that you and @Saumya-Sunder worked on?

[2020-10-02 21:14] johnbent commented on #243
https://support.github.com/ticket/personal/0/856384 <- asked Enterprise support about this

[2020-10-03 02:44] PengMacro commented on #383
@shailesh-vaidya
I have configured my github token but still got the error. By the way, I installed githubrelease using pip instead of pip3 since the pip3 version did not work for me.
![image](https://user-images.githubusercontent.com/37490734/94981461-2d19d400-04f8-11eb-86a1-14fd5ecf51b8.png)

[2020-10-03 03:43] PengMacro commented on #383
@mukul-seagate11
I see. Could you tell me exactly how should I download & install CORTX Build Dependencies? Should I download every rpm below and manually install them using "yum localinstall" command?
![image](https://user-images.githubusercontent.com/37490734/94982490-779f4e80-0500-11eb-8f7e-e934661de56a.png)

[2020-10-03 04:50] mukul-seagate11 commented on #145
@johnbent, I can see the same in master_backup branch as, https://github.com/Seagate/cortx/blob/master_backup/doc/SuggestedDocumentConversions.md where links are broken so let me get that fixed in main

[2020-10-03 06:04] shailesh-vaidya commented on #383
@PengMacro  -  error message looks different from earlier one. Current one seems to be bash PATH related issue. By default `githubrelease` command is installed at `/usr/local/bin/githubrelease` . Can you check if its available,

[code]
Installing from pip or pip3 should not cause any issue. However please let us know issue with pip3 installation. We can check what's causing problem.

[2020-10-03 09:36] PengMacro commented on #383
If I use pip3 to install githubrelease, it is not working (caused above error).
Here is the output:
[code]

If I use pip to install it, it works.
[code]

Also, do you know what should I do for [step1](https://github.com/Seagate/cortx/blob/main/doc/InstallingDependencies.md)? I remembered I skipped this step before and both motr and s3server are working properly.

[2020-10-03 15:36] shailesh-vaidya commented on #383
@PengMacro  Ok. So hope issue with `githubrelease ` command is resolved and you are able to download packages using mentioned steps. Let us know if issue still there.

We need to install various dependency packages while building CORTX components. [steps#1](https://github.com/Seagate/cortx/blob/main/doc/InstallingDependencies.md#installing-dependencies) ensures that you have yum repository configu

[2020-10-03 18:34] vvv commented on #65
@justinzw What are the side effects of being removed from Seagate GitHub org?

[2020-10-04 15:00] huanghua78 commented on #145
There is no "doc/hld/hld-template.rst.in in dev/architecture branch" in the doc.
This ticket can be closed.

[2020-10-04 15:00] #145 closed

[2020-10-04 23:57] Jeetandra commented on #93
hey everyone, I have re-forked from crotx-motr project and have included the changes. They are now available at https://github.com/Jeetandra/cortx-motr/
I'll start working on adding support for el8 for cortx-s3server

[2020-10-06 01:59] kevin-a-nelson opened #387 "Unable to connect to https://<management IP>:28100/#/preboarding/welcome"
OS: macOS Catalina 10.15.7
Hypervisor: VMware Fusion Professional Version 12.0.0

Steps to reproduce:

**1. Follow the onboarding process in the link below until step 9.**

https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst

**2. Get the management IP**

<img width="1103" alt="Screen Shot 2020-10-05 at 8 50 41 PM" src="https://user-images.githubusercontent.com/45378

[2020-10-06 03:27] PengMacro commented on #383
Thanks for the help!

[2020-10-06 03:27] #383 closed

[2020-10-07 21:26] johnbent commented on #387
Hey Kevin,

Thanks for reporting this!  @justinzw has been working to replicate this.  Unfortunately, we don't have great access to Mac so our testing on Mac was not as good as it should have been.  By the way, there is also lots of discussion happening about this in Slack as well as in https://github.com/Seagate/cortx/discussions/379.

Please let us know if you figure this out or rest assured tha

[2020-10-08 05:39] justinzw commented on #387
Thanks @kevin-a-nelson I'm able to reproduce this issue on my mac and am following up with VMware to understand whether this might be VMware Fusion blocking that port.

[2020-10-12 18:43] johnbent opened #397 "OVA 1.0.1 has changed and now the documentation is broken"
1.0.1 has been changed in https://github.com/Seagate/cortx/releases/tag/VA and now our documentation in https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst is broken.

Specifically, there is no cortx/opensource! user/password as is specified in step 3 of the instructions.

[2020-10-12 18:44] johnbent commented on #397
Thanks to @ImSoGoofy  for reporting this!

[2020-10-13 02:19] pradeep-gothoskar commented on #397
@johnbent  - Shouldn't this be assigned to Venky - who can update the documentation ?
Or is the Ova CORTx functionality is broken ?

[2020-10-13 05:59] shailesh-vaidya commented on #397
Artifacts uploaded to https://github.com/Seagate/cortx/releases/tag/VA is not changed.  Tested with downloading artifacts and verified sha256sum.

[code]

[2020-10-13 06:53] mukul-seagate11 commented on #397
@all, there is no change from credentials as well as documentation perspective as,

![image](https://user-images.githubusercontent.com/65269273/95825698-e7a6a380-0d4e-11eb-9a25-51669f7e6d88.png)

[2020-10-15 04:02] justinzw commented on #397
Closing issue because it doesn't seem to occur as reported.

[2020-10-15 04:02] #397 closed

[2020-10-15 09:50] korenlev opened #401 "documentation issue (dev DM deploy)"
https://github.com/Seagate/cortx/blob/main/doc/VIRTUAL_MACHINE.md
PRE-BUILD [MOTR], link to:
https://github.com/Seagate/cortx/blob/main/doc/CortxMotrQuickStart.md --> (404 error)

[2020-10-19 14:51] Saumya-Sunder commented on #257
Hey @shailesh-vaidya this is an old file, marked for deletion : https://github.com/Seagate/cortx/blob/main/doc/LocalVMSetup.md. We've only kept it on because it might be linked on other docs. I am adding the link to the new doc at the top of this doc so that contributors can access the correct article if they land here.

[2020-10-19 20:43] johnbent commented on #401
Thanks @korenlev !

[2020-10-19 20:43] #401 closed

[2020-10-20 21:00] johnbent commented on #371
This was fixed by Sai.  Thanks Sai.

[2020-10-20 21:00] #371 closed

[2020-10-21 02:04] justinzw opened #415 "s3authserver service does not start when restarting CORTX"
Steps: Follow proper shutdown and restart of CORTX.
https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst

Issue: s3authserver service did not start

![image](https://user-images.githubusercontent.com/950172/96663965-a55d0380-1306-11eb-8496-a4b8e161ae68.png)

[2020-10-21 04:05] gregnsk opened #417 "A partner can't install the OVA on ESXi 6.5"
From the partner:
---------------
I'm unable to run this on ESX.  It's been exported as a hardware version 17, so only the latest ESXi 7.0 or Fusion/Workstation can run it.  We run ESXi 6.5 in the lab. I tried to get it to import my messing with the ovf file a bit, but it doesn't look like I'm going to be able to get this to deploy.
---------------

[2020-10-22 04:11] VenkyOS commented on #275
This issue is fixed.

[2020-10-22 04:11] #275 closed

[2020-10-22 04:12] VenkyOS commented on #256
This document does not exist.

[2020-10-22 04:12] #256 closed

[2020-10-22 10:39] korenlev opened #422 "GUI: 'manual onboarding tasks in settings' can not be performed"
per https://github.com/Seagate/cortx/blob/main/doc/Preboarding_and_Onboarding.rst
if someone is coming back to GUI after preboarding but before onboarding, using 'Settings' 'manually' does not work :(error - '..did not perform onboarding' and any change applied is not accepted,

[2020-10-22 10:56] korenlev opened #423 "ldap admin password in VM vapp"
hi
# ldap admin used by apps to update ldap data
dn: cn=sgiamadmin,dc=seagate,dc=com

what is the default password, where is this documented please ?

[2020-10-22 13:30] korenlev opened #424 "cortx-manager build.sh failure"
per:
https://github.com/Seagate/cortx-manager/blob/main/CORTXManagerQuickstartGuide.md#12-Install-Cortx-Manager
sudo cicd/build.sh results:

failure: repodata/repomd.xml from cortx_commons: [Errno 256] No more mirrors to try.
http://cortx-storage.colo.seagate.com/releases/cortx/uploads/centos/centos-7.7.1908/repodata/repomd.xml: [Errno 14] curl#6 - "Could not resolve host: cortx-storage.colo.seaga

[2020-10-22 14:39] sachitanands commented on #423
Hi @korenlev
ldap password is set during ansible script of s3server (<cortx-s3server>/scripts/dev/init.sh)
this password was taken from user as mentioned in [Setup document](https://github.com/Seagate/cortx-s3server/blob/dev/docs/CORTX-S3%20Server%20Quick%20Start%20Guide.md#12-installing-dependencies) (pls check "**_Before you begin_**" section) e.g "Enter new password for openldap IAM admin: ldap

[2020-10-23 05:05] mukul-seagate11 commented on #415
@justinzw, yes I too observed the same as,

[root@myvm ~]# systemctl is-active s3authserver
failed
[root@myvm ~]# hctl status
Cluster is not running.

[2020-10-23 14:41] fyqphd opened #426 "could not open /dev/vmmon error when run ova"
followed this guidance https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst

downloaded vmware fusion and cortx-va-1.0.1.zip
imported cortx-va-1.0.1 to vmware fusion

![Screenshot 2020-10-23 at 10 29 06 PM](https://user-images.githubusercontent.com/49628448/97017579-adc07300-1580-11eb-8860-a41c1bcc54e3.png)

when run the vm, the following error shows

![Screenshot 202

[2020-10-23 20:14] johnbent opened #428 "Videos file in github"
@Saumya-Sunder , can you please create a nice github page for us where we list all of our videos?  It basically just needs to be another view into the videos that we have in our youtube channel: https://www.youtube.com/playlist?list=PLOLUar3XSz2M_w5OxQLNDBTpSrsGbjDWr.

Can you make it be a nice list ordered by most recent at the top and have for each video the following:
* thumbnail image
* title

[2020-10-23 20:24] justinzw commented on #426
Hi @fyqphd  Thank you for reporting this and also trying out the instructions.

We've had some difficulties running the OVA on older versions of VMware Fusion.

Which version of VMware Fusion are you using?
If you don't have the latest version  - 12.

Could you try downloading the latest version and see whether it works?
https://www.vmware.com/products/fusion/fusion-evaluation.html

[2020-10-23 21:21] johnbent opened #429 "Integrations page improvements"
Hello @Saumya-Sunder ,

Can you please take a pass on our integrations page (https://github.com/Seagate/cortx/blob/main/doc/integrations/README.rst) and make it look a bit nicer?

The only thing I can think of to make it look nicer is to add the Splunk logo but please feel free to add additional ways to improve the aesthetics if you can think of any.

![image](https://user-images.githubusercontent

[2020-10-24 00:17] fyqphd commented on #426
@justinzw   I beleive I did download the version 12

<img width="1053" alt="Screenshot 2020-10-24 at 8 17 21 AM" src="https://user-images.githubusercontent.com/49628448/97063283-67473480-15d1-11eb-8494-17a3b78e83ed.png">

[2020-10-24 04:15] voyager529 commented on #417
Not a fix, but a workaround I was able to get working successfully...

1. Open the OVF in 7-zip.
2. Extract the OVA file.
3. Open the OVA in a text editor.
4. Find the string "vmx-17" and replace it with "vmx-10".
5. Save/Close text editor.
6. Add the edited OVA back into the OVF using 7-zip.
7. Delete the .mf file in the OVF.
8. Deploy to ESXi Host.

[2020-10-24 04:30] voyager529 opened #430 "Noobish question: where does the data /actually/ live in the OVF deployment?"
So, I spun up Cortx on my ESXi host...but having read basically-everything I could find, I'm still missing an a-HA! moment somewhere...

For a bit of context, I have an ESXi host that lives on my lab LAN, along with a FreeNAS build. I've got Minio running on the FreeNAS via its S3 communications option. The ESXi doesn't have a meaningful amount of storage available to it, so the ultimate goal is t

[2020-10-25 02:12] yanqingfu commented on #428
very nice videos, seems video 4 and video 5 are duplicate

[2020-10-25 02:52] yanqingfu opened #434 "Red Hat CloudForms link in https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md"
since we don't have instructions about red hat cloudforms

should we remove the link associated with red hat cloudforms ?

[2020-10-26 16:46] korenlev commented on #415
hi friends,

this workaround has been working for me (3 files)  :

cat /etc/systemd/system/cortx_start.service

[Unit]
Description=cortx hctl start
After=network.target

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/var/tmp/cortx_start
TimeoutStartSec=30

[Install]
WantedBy=default.target

[root@koren-cortx ~]# cat /var/tmp/cortx_start

#!/bin/bash
hctl start
sleep 10s
/var/tmp/services-run-c

[2020-10-26 16:47] korenlev commented on #417
verified voyager529 suggestion on vsphere 6.5  - works

[2020-10-26 16:49] korenlev commented on #423
perfect , thanks much @sachitanands for the info, let's close issue

[2020-10-26 16:50] #423 closed

[2020-10-26 19:30] gregnsk commented on #430
@voyager529 , thank you for your interest in CORTX.

The VM is provided just to demonstrate basic CORTX functionality but is not intended for production use. It doesn't provide high availability, performance or capacity and there is no guarantee for long term data preservation.

CORTX is an object storage layer which doesn't care much about the underlying storage. We focus on making it shine with

[2020-10-26 19:36] #430 closed

[2020-10-26 21:52] justinzw commented on #426
Thanks @fyqphd for checking.

Could you try these instructions and see whether they work?

https://kb.vmware.com/s/article/80467

[2020-10-27 09:50] PengMacro opened #439 "Multi-node Configuration File"
I am trying to test multi-node and need to edit the configuration file.
https://github.com/Seagate/cortx/blob/main/doc/scaleout/Configuration_File.rst
How do I find my cluster_ip and mgmt_vip?

![image](https://user-images.githubusercontent.com/37490734/97285139-d8742b00-180f-11eb-83b5-9e7e7fa840bf.png)

[2020-10-27 12:14] #426 closed

[2020-10-27 12:28] fyqphd commented on #387
could you try use Safari browser？when I use google chrome, couldn't open

[2020-10-27 12:56] justinzw opened #441 "Split OVAs into different releases and other release process changes"
We should change the way we mark releases and not bundle a bunch of OVAs into one "release"
https://github.com/Seagate/cortx/releases/tag/VA

For example let's look at https://github.com/tensorflow/tensorflow/releases

A few things they do that I feel we should:

1) They mark the latest release with the tag "Latest Release"
![image](https://user-images.githubusercontent.com/950172/97304440-f1cda50

[2020-10-27 13:44] shailesh-vaidya commented on #441
@just-now  Yes we should generate GitHub release for each new OVA.  We should also consider below points,

- Versioning -  We used [VA](https://github.com/Seagate/cortx/releases/tag/VA) and [JBOD](https://github.com/Seagate/cortx/releases/tag/JBOD) tag names for current releases. We should use [semantic versioning](https://semver.org/) for generating release tag.
- Release Notes - We should add re

[2020-10-27 16:19] justinzw commented on #422
@korenlev This is the issue that you mentioned to me right? I'll test it out in the new OVA

[2020-10-27 17:15] korenlev commented on #422
sorry , not this one , i meant the comments here:

https://github.com/Seagate/cortx/issues/415

https://github.com/Seagate/cortx/discussions/425

‫בתאריך יום ג׳, 27 באוק׳ 2020 ב-18:19 מאת ‪Justin Woo‬‏ <‪
notifications@github.com‬‏>:‬

[2020-10-28 15:51] johnbent opened #444 "Better link to ICS"
For our monthly meetings (https://github.com/Seagate/cortx/blob/main/doc/meetings/README.rst), we have an ICS file which people should be able to click on and add to their calendars.  It works for phones and tablets but not for desktops/laptops.  Fix this link (or add more links) to make it a single click for people to add this to their calendars.

[2020-10-29 04:03] justinzw commented on #424
This is because it is pointing to an internal resource to Seagate. @shailesh-vaidya  will investigate. Thank you for reporting.

[2020-10-29 04:05] justinzw commented on #434
Thanks for reporting this. We will look into this.

[2020-10-29 04:09] justinzw commented on #439
@ypise  would you know the answer to this question?

[2020-10-29 05:41] ypise commented on #439
Greetings @PengMacro,
cluster_ip and mgmt_vip are expected to be provided by the Network Administrator managing your system environment.
These have to be static IPs and should not be assigned to any specific MAC on a DHCP server so that these could be assigned to any qualifying system in the multi-node node cluster.

If you have setup a private network, these values could be any IP addresses in sa

[2020-10-29 18:09] raikrahul opened #447 "Correct the Link pointed via _Server network striping_ in cortx/doc/be/sns-io-repair-rebalance.md"
Needs fixing at line 5.

Make it point to a usable URL.

[2020-10-29 18:12] raikrahul opened #448 "Fix the links in /doc/be/sns-io-repair-rebalance.md#references"
https://github.com/Seagate/cortx/blob/main/doc/be/sns-io-repair-rebalance.md#references

None of the links mentioned open up.

[2020-10-29 19:52] raikrahul opened #449 "Correct the JIRA link at main/doc/be/authserver_notes.rst#ceph-cortx-s3-failures"
https://github.com/Seagate/cortx/blob/main/doc/be/authserver_notes.rst#ceph-cortx-s3-failures

Must not point to an accessible page

[2020-10-29 22:05] johnbent commented on #448
Thanks for reporting this @raikrahul !

[2020-10-30 03:57] yanqingfu commented on #266
@johnbent https://github.com/Seagate/cortx/blob/main/doc/VIRTUAL_MACHINE.md#testing-the-cluster

https://github.com/Seagate/cortx/blob/main/doc/VIRTUAL_MACHINE.md seems didn't link to anywhere

[2020-10-30 04:06] mukul-seagate11 commented on #266
@madhavemuri @sachitanands, please assist to address the issue or route to the concern person

[2020-10-30 04:19] sachitanands commented on #415
Issue was s3authserver was trying to start before its dependent service (slapd) hence s3authserver was failing with LDAPConnectionException error after reboot.
Expected behavior is dependent service should start first and then s3authserver should start.
We are updating our OVA documentation to provide the correct steps to start these services in sequence.
PR: https://github.com/Seagate/cortx/pull/

[2020-10-30 04:42] madhavemuri commented on #266
This issue is resolved already.
I think this can be closed.

[2020-10-30 05:01] #266 closed

[2020-10-30 13:08] Saumya-Sunder commented on #449
@raikrahul it's fixed here https://github.com/Seagate/cortx/blob/main/doc/be/authserver_notes.rst#ceph-cortx-s3-failures

[2020-10-30 13:08] #449 closed

[2020-10-30 14:11] #259 closed

[2020-10-30 14:16] Saumya-Sunder commented on #447
Thank you @raikrahul I am moving the file to a .md file! Appreciate your feedback :)

[2020-10-30 20:47] justinzw commented on #251
Already done.

[2020-10-30 20:47] #251 closed

[2020-10-30 20:49] johnbent commented on #225
@Saumya-Sunder , can you take this one please?

https://github.com/Seagate/cortx/search?q=master

Clean up all of these except for the one that says, "Our convention is to not use master".  Obviously, that should remain.  So please clean them up so that the link (https://github.com/Seagate/cortx/search?q=master) shows only one result. Thanks!

[2020-10-30 22:09] Saumya-Sunder commented on #225
Hey @johnbent done here https://github.com/Seagate/cortx/pull/453

[2020-10-31 00:53] yanqingfu opened #454 "wrong date of week in https://github.com/Seagate/cortx/blob/main/doc/meetings/README.rst"
wrong weekday in https://github.com/Seagate/cortx/blob/main/doc/meetings/README.rst
Tuesday should be Thursday

[2020-10-31 00:54] yanqingfu commented on #454
now fixed

[2020-10-31 00:54] #454 closed

[2020-11-02 04:45] PengMacro commented on #439
I created three networks containing four nodes (3 servers, 1 client). Below is the output of "ip a" from one server. Can I simply choose any of ip to be management, public data or private data ip? For instance, is the below config.ini working?

[code]

[code]

[2020-11-02 05:39] Saumya-Sunder commented on #225
Fixed here https://github.com/Seagate/cortx/pull/453

[2020-11-02 05:39] #225 closed

[2020-11-02 12:45] Saumya-Sunder commented on #447
@huanghua78 I see a link to this [doc](https://seagatetechnology-my.sharepoint.com/:w:/g/personal/hua_huang_seagate_com/Eb0CTiI3VbdAhLzn8NufzisBj_OFeA4bnKw3Pu0X0jJGVA?e=4%3A8psKWK&at=9&CID=c7fca889-7248-8d1b-0701-0641fb87566d) that I need to convert into a .md file. Also there is another link in the doc [here](https://docs.google.com/a/xyratex.com/Doc?docid=0ATg1HFjUZcaZZGNkNXg4cXpfMTc5ZjYybjg4Y3Q

[2020-11-02 14:23] Saumya-Sunder commented on #429
Hi @johnbent done https://github.com/Seagate/cortx/pull/457

[2020-11-02 14:29] Saumya-Sunder commented on #109
This is automatically resolved here https://github.com/Seagate/cortx/blob/main/CONTRIBUTING.md as @johnbent edited the Contributing guide and merged it with Quickstart.md

[2020-11-02 14:29] #109 closed

[2020-11-02 17:38] Saumya-Sunder commented on #428
Yeah, videos 4 and 5 are duplicate. Could we have someone delete one of the videos @johnbent ?

[2020-11-03 04:31] sachitanands commented on #415
Hi @justinzw @mukul-seagate11 since we have merged this PR with required changes, Can we close this issue?

[2020-11-03 05:03] mukul-seagate11 commented on #415
Closing the PR as the issues has already been taken care & addressed in doc

[2020-11-03 11:49] kaplanlior opened #459 "readme.md link to youtube is broken"
Refers to https://cortx.link/XGVHVq which doesn't work.

Should refer to https://www.youtube.com/playlist?list=PLOLUar3XSz2M_w5OxQLNDBTpSrsGbjDWr

[2020-11-03 13:09] suntins commented on #439
@PengMacro Could you please show the output from command "ip r". Thanks

[2020-11-03 13:15] PengMacro commented on #439
@suntins
[code]

If you want to access those machines, please give the public key. Thanks!
(ssh pcpeng@pc739.emulab.net, pcpeng@pc721.emulab.net, pcpeng@pc722.emulab.net)

[2020-11-03 14:25] justinzw commented on #459
Thanks @kaplanlior for fixing this.

@novium258 could you fix that on your end?

@kaplanlior I love the feedback on the documentation. If you see anything that needs improvements don't hesitate to let us know. + @johnbent as an FYI.

[2020-11-03 18:02] johnbent commented on #459
Thanks!  @Saumya-Sunder fixed this!

[2020-11-03 18:02] #459 closed

[2020-11-05 04:11] ypise commented on #439
@PengMacro
The configuration that you have suggested looks good and should work.

In general, I would like to highlight that Management network is comparative a slower network to Data network.
Data network subnet needs to be high capacity high performance network for actual business data transfers. Whereas Management network is a control network for monitoring and correction services.

[2020-11-05 12:26] shailesh-vaidya commented on #424
Hi @korenlev Sorry for delayed response on this. I could not reproduce this issue locally yet. From above error, issue is due to yum repo with `http://cortx-storage.colo.seagate.com/releases/cortx/uploads/centos/centos-7.7.1908/` url.

Can you please follow below steps,

- Identify repo name for `http://cortx-storage.colo.seagate.com/releases/cortx/uploads/centos/centos-7.7.1908/` URL

` yum repol

[2020-11-05 20:45] johnbent commented on #444
https://office-watch.com/2017/web-links-adding-outlook-appointments-tricks-and-traps/  might be useful for Outlook events.

When it was still an open linkedin event, there was 3 links I think:
Add to Outlook
Add to Google Calendar
Download ICS

This link above might help for the first one.

https://stackoverflow.com/questions/35853870/href-to-add-to-calendar-from-web-not-working-with-native-google

[2020-11-05 20:46] johnbent commented on #444
https://stackoverflow.com/questions/10488831/link-to-add-to-google-calendar also might be useful

[2020-11-12 16:46] Saumya-Sunder commented on #424
@shailesh-vaidya do I need to document this?

[2020-11-12 16:52] johnbent commented on #424
@Saumya-Sunder , please try to follow the the cortx-manager quick start guide and see if it works for you outside of the Seagate environment.  If not, do the above instructions from Shailesh help to fix?  If so, please do update the documentation so it works for people outside Seagate?

[2020-11-13 10:27] PengMacro opened #469 "Document error in "CORTX v1.0 Virtual Clusters Setup""
![image](https://user-images.githubusercontent.com/37490734/99062259-56eaff80-2568-11eb-86c6-4da76b42c4dc.png)

I think this should be 0x20 (same for the below mocat command).

[2020-11-13 14:17] Saumya-Sunder commented on #387
Hey @justinzw have you made any progress on this issue? I would like to link it to the file as a resolved issue.

[2020-11-13 17:02] Saumya-Sunder commented on #428
Done. Closing this as @novium258 confirmed that one of the duplicate videos have been deleted.

[2020-11-13 17:02] #428 closed

[2020-11-16 16:49] korenlev opened #471 "lyve pilot registration does not attach to correct S3 URL"
while cortx-GUI used to https://VM-IP:28100 , the registration process is trying (and failing ofc) to connect to 127.0.0.1:5000 for creating the new S3 account, suggest it should get the same $VM-IP from the browser

[2020-11-16 17:00] korenlev commented on #471
csm_agent CRITICAL [rest_middleware] Unhandled Exception Caught: Cannot connect to host 127.0.0.1:5000 ssl:None [Connect call failed ('127.0.0.1', 5000)] #012 Traceback (most recent call last):#012  File "/root/.local/lib/python3.6/site-packages/aiohttp/connector.py", line 936, in _wrap_create_connection#012  File "/usr/lib64/python3.6/asyncio/base_events.py", line 794, in create_connection#012

[2020-11-16 17:06] korenlev opened #472 "Virtual-Applicance 1.0.2, first GUI access, before S3 account created, exception/error"
When user access s3_account screen (to create a new s3 account), exception (in red) is popped up, csm_agent log here:

Oct 24 10:38:38 2020-10-24 10: 38:38 csm_agent INFO [send] Message Publish to Xchange: sspl-in,Key: actuator-req-key_nodef6eba51e-99dd-4a2c-8357-10da50591c27, Msg Details: {'username': 'sspl-ll', 'expires': 3600, 'description': 'Seagate Storage Platform Library - Low Level - Actua

[2020-11-16 17:28] korenlev commented on #415
guys, https://github.com/Seagate/cortx/pull/445 is a good solution/doc for a proper manual shutdown and restart, however users might expect VM restart to work automatically without ever touching any CLI...
where do i contribute my 2 scripts above to be included (if approved) in the next OVA release ?

[2020-11-17 05:36] mukul-seagate11 commented on #471
@kupranay, please take care of the issue

[2020-11-17 05:37] mukul-seagate11 commented on #469
@VenkyOS, please check with component team & update the doc

[2020-11-17 05:55] kupranay commented on #471
Thanks @korenlev for raising the issue. UDX registration is not supported on OVA isntallation or VM.
When you access UDX registration page through UI, it should show message that this feature is not available on the installation.
Please confirm if this message if not coming on UI as well as please share the  XHR copy or csm-agent.log file.

[2020-11-17 07:08] VenkyOS commented on #469
@PengMacro - Can you please provide the link to the concerned document.

[2020-11-17 08:25] korenlev commented on #471
Good to know guys, message does not display
Koren

בתאריך יום ג׳, 17 בנוב׳ 2020, 07:55, מאת kupranay ‏<notifications@github.com

[2020-11-17 08:27] kupranay commented on #471
Thanks @korenlev , we will keep this issue open to check why message is not displayed. Please update the logs file if possible
@soniyamoholkar  please check why messages are not shown

[2020-11-17 08:29] PengMacro commented on #469
https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md

[2020-11-17 08:31] mukul-seagate11 commented on #472
@korenlev, Its seems server is not provisioned correctly so kindly attach the logs file so that component can debug the issue

[2020-11-17 13:20] Saumya-Sunder commented on #415
reopening the ticket and tagging Justin and John.

[2020-11-18 16:20] johnbent opened #478 "Missing submodule?"
Do we need a submodule for utils?  https://github.com/Seagate/cortx-utils?

@gauravchaudhari02 ?

[2020-11-18 17:37] gauravchaudhari02 commented on #478
Sure @johnbent. I will add it

[2020-11-19 04:12] johnbent commented on #478
Close.  Thanks @gauravchaudhari02 !  Please close this Issue once merged.

[2020-11-19 07:59] gauravchaudhari02 opened #480 "Duplicate codeowners file"
@johnbent seems like we have two `CODEOWNERS` file present in cortx repository as follow,

https://github.com/Seagate/cortx/blob/main/CODEOWNERS
https://github.com/Seagate/cortx/blob/main/.github/CODEOWNERS

We could remove one sitting at the root of the repository

[2020-11-20 13:59] shailesh-vaidya commented on #480
@gauravchaudhari02  Seems GitHub supports CODEOWNERS file from both root and .github folder. https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-file-location
However for clean way we should remove https://github.com/Seagate/cortx/blob/main/CODEOWNERS

[2020-11-20 14:01] gauravchaudhari02 commented on #480
Agree with you @shailesh-vaidya. 👍🏼

[2020-11-20 14:58] johnbent commented on #480
Agree it is cleaner as @shailesh-vaidya says.  :)

[2020-11-20 17:30] johnbent commented on #480
Fixed: https://github.com/Seagate/cortx/commit/2371b60a462ea3f68c27657bdb7304394ace6839

[2020-11-20 17:30] #480 closed

[2020-11-21 06:41] PengMacro opened #481 "Multi-node Setup Error"
I am trying to test [multi-node](https://github.com/Seagate/cortx/blob/2e7048bcda1893a65641a90283554c1bf528871b/doc/scaleout/Installing_CORTX_Software.rst) but got [error](https://github.com/Seagate/cortx/files/5577118/command.output.txt) when run "provisioner" command.
[Here](https://github.com/Seagate/cortx/files/5577126/config_log.zip) is my config.ini and setup.log.

I used the network alias i

[2020-11-23 17:49] johnbent commented on #481
Plus @huanghua78 and @ipoddubnyy and @suntins .

[2020-11-23 17:50] johnbent commented on #481
To save folks a click, here is the reported error:

2020-11-21 05:01:34,150 - ERROR - provisioner failed
{'srvnode-1': '\x1b[0;31msrvnode-3:\x1b[0;0m\n\x1b[0;36m----------\x1b[0;0m\n    \x1b[0;36m      ID: Rescan SCSI\x1b[0;0m\n    \x1b[0;36mFunction: module.run\x1b[0;0m\n    \x1b[0;36m  Result: True\x1b[0;0m\n    \x1b[0;36m Comment: scsi.rescan_all: [\'- - - > /sys/class/scsi_host/host0/scan\']\x

[2020-11-23 17:50] #478 closed

[2020-11-23 17:52] johnbent opened #482 "Show people how to watch Discussions only"
For community members who want to 'subscribe' to the CORTX mailing list, github Discussions is the best way to do this.  @Saumya-Sunder , can you add a screenshot to SUPPORT.md and document how to do this?

![image](https://user-images.githubusercontent.com/2047294/99997107-ec14a200-2d79-11eb-9543-872eb51ca251.png)

![image](https://user-images.githubusercontent.com/2047294/99997133-f46cdd00-2d79-

[2020-11-23 17:55] Saumya-Sunder commented on #482
Sure @johnbent. I will add the steps right after the link on discussions link. Would that be ok?

[2020-11-23 17:58] johnbent commented on #482
Exactly.  As a sub-bullet or something.
________________________________
From: Saumya Sunder <notifications@github.com>
Sent: Monday, November 23, 2020 10:55 AM
To: Seagate/cortx <cortx@noreply.github.com>
Cc: John Bent <john.bent@seagate.com>; Mention <mention@noreply.github.com>
Subject: Re: [Seagate/cortx] Show people how to watch Discussions only (#482)

Sure @johnbent<https://github.com/johnb

[2020-11-24 12:04] suntins commented on #481
@PengMacro please take a note on the prerequisite hardware requirement. The JBOD setup is required minimum 7x disks.

Please run the command below to check:

# multipath -ll | grep mpath | wc -l

[2020-11-24 23:14] johnbent commented on #481
Hello @suntins , since there is a config file, is it possible to run with a different number of disks?

https://github.com/Seagate/cortx/blob/main/doc/scaleout/Configuration_File.rst

[2020-11-24 23:24] suntins commented on #481
I don't think so. Look like the deployment script - SaltStack has checking on this as a prerequisite requirement.

Thank you very much.

Best Regards,

Sakchai S.

________________________________
From: John Bent <notifications@github.com>
Sent: Wednesday, November 25, 2020 06:14
To: Seagate/cortx <cortx@noreply.github.com>
Cc: Sakchai Suntinuraks <sakchai.suntinuraks@seagate.com>; Mention <mentio

[2020-11-25 00:16] imvenkip opened #485 "Clovis string is showing in CORE Architecture document."
Clovis string is showing in CORTX CORE Arch document.
Mero string is showing in Images.
I believe, we have to replace clovis with Motr.
         https://github.com/Seagate/cortx/blob/main/doc/be/CORTX_CORE_ARCHITECTURE.rst

[2020-11-25 05:58] justinzw commented on #482
this is awesome, thanks for finding this @johnbent

[2020-11-25 08:22] PengMacro commented on #481
Thanks.

I was using 1 disk before and now switch to machines with more than 7 disks. But "multipath -ll | grep mpath | wc -l" outputs "2" in both cases.

Now I get this new error:

[root@s-1 cortx]# /usr/local/bin/provisioner setup_jbod --source iso --iso-cortx cortx-1.0.0-release-43.is                                                                                                o --iso-cortx-de

[2020-11-26 12:37] mukul-seagate11 commented on #481
As this issue looks from provisioner end so transferring in their repo

[2020-11-26 12:48] mukul-seagate11 commented on #434
@gauravchaudhari02, do we have update on this?

[2020-11-26 12:49] mukul-seagate11 commented on #424
@Saumya-Sunder, can you please update on this?

[2020-11-26 12:51] mukul-seagate11 commented on #417
@VenkyOS, can you please document this?

[2020-11-26 12:56] mukul-seagate11 commented on #415
This discussion is already been discussed in https://github.com/Seagate/cortx/discussions/473 so closing the issue

[2020-11-26 12:57] #415 closed

[2020-11-26 14:06] gauravchaudhari02 commented on #434
@Saumya-Sunder, Could you please resolve this?

[2020-11-26 14:08] Saumya-Sunder commented on #424
I will go through the document with @kupranay tomorrow, once it is fixed, I will test it out.

[2020-11-26 14:14] gauravchaudhari02 commented on #288
Its been taken care of. Closing this issue. Please reopen if you see this phenomenon again.

[2020-11-26 14:15] #288 closed

[2020-11-26 14:17] gauravchaudhari02 commented on #350
@Saumya-Sunder, I guess you were trying to write a GitHub Action for this right?

[2020-11-26 14:51] Saumya-Sunder commented on #434
Removed it here https://github.com/Seagate/cortx/pull/487

[2020-11-26 18:08] Saumya-Sunder commented on #119
Sure @mukul-seagate11 , will do.

[2020-11-27 00:57] PengMacro commented on #439
Moved to https://github.com/Seagate/cortx-prvsnr/issues/767

[2020-11-27 00:57] #439 closed

[2020-11-27 11:00] VenkyOS commented on #417
@mukul-seagate11 - The description provided by voyager529 was documented in the below mentioned file. Hope, this should suffice. Please refer the **VMware ESX** section.

https://github.com/Seagate/cortx/blob/main/doc/Importing_OVA_File.rst

[2020-11-27 13:16] VenkyOS commented on #469
@mukul-seagate11 and @justinzw - Can we assign this to somebody from the Motr team to get more clarity?

[2020-11-27 14:06] shailesh-vaidya commented on #85
@johnbent  - We have not added kernel-devel packages in Build dependencies page.

@ttwalkertt Sorry for quite delayed response on this one.  CentOS has moved to CentOS 7.8 and CORTX Team is also soon enable CentOS 7.8.2003 support with  3.10.0-1127 kernel.
For current issue 3.10.0-1062.el7 kernel packages are removed from release mirrors however they are available at [vault ](https://vault.centos.

[2020-11-28 03:01] VenkyOS commented on #469
The below mentioned PR addresses the issue.

[Issue](https://github.com/Seagate/cortx/pull/489)

[2020-11-28 03:01] #469 closed

[2020-11-30 09:21] VenkyOS commented on #85
@johnbent - Shall I document the information provided by @shailesh-vaidya? Should it be documented in Motr Quick Start Guide?

[2020-11-30 12:11] mukul-seagate11 commented on #417
As the issue is addressed in https://github.com/Seagate/cortx/blob/main/doc/Importing_OVA_File.rst so closing the issue accordingly

[2020-11-30 12:11] #417 closed

[2020-11-30 13:32] huanghua78 commented on #485
This is fixed by https://github.com/Seagate/cortx/pull/486

[2020-11-30 20:18] johnbent commented on #85
@VenkyOS , please test the motr quick start guide using your local VM and if these instructions make the quick start guide better, please add them accordingly.  Please do not just add them without testing though.

[2020-12-01 01:21] #485 closed

[2020-12-01 01:22] johnbent commented on #447
Hey @Saumya-Sunder , has this been fixed yet?

[2020-12-01 04:09] VenkyOS commented on #85
@johnbent - Sure. I will test using the local VM.

[2020-12-01 05:14] shailesh-vaidya commented on #257
@Saumya-Sunder Could you please take a look if this issue still persists.

[2020-12-01 07:47] huanghua78 commented on #85
I have tested and verified the "https://github.com/Seagate/cortx-motr/blob/main/doc/Quick-Start-Guide.rst" is fine.

Please refer to https://github.com/Seagate/cortx-motr/issues/217#issuecomment-736285749

[2020-12-01 12:46] Saumya-Sunder commented on #448
Done https://github.com/Seagate/cortx/pull/491

[2020-12-01 12:46] #448 closed

[2020-12-01 12:47] Saumya-Sunder commented on #447
Hey @johnbent , its done here https://github.com/Seagate/cortx/pull/491. I have shared the issue I am facing with Plant UML diagram alignment here: https://liveuml.com/view/5fc5fdf04796fa7b0d135704

[2020-12-03 19:15] justinzw opened #493 "yum repos need to be hosted outside of Seagate network"
**Repro steps:**

Following these instructions: https://github.com/Seagate/Cortx/blob/main/doc/Cluster_Setup.md

This step fails `sudo yum install -y cortx-hare`

with this error: `http://cortx-storage.colo.seagate.com/releases/cortx/github/release/rhel-7.7.1908/last_successful/repodata/repomd.xml: [Errno 14] curl#6 - "Could not resolve host: cortx-storage.colo.seagate.com; Unknown error"
Trying o

[2020-12-03 19:17] justinzw commented on #493
@mukul-seagate11 @shailesh-vaidya

Would one of you be able to the repo to github for us?

[2020-12-04 04:05] shailesh-vaidya commented on #493
@justinzw  -  https://github.com/Seagate/Cortx/blob/main/doc/Cluster_Setup.md is referencing to Seagate internal repository link at https://github.com/Seagate/Cortx/blob/main/doc/Cluster_Setup.md#12-install-the-rpms  . Need to fix this.

Currently we are only releasing [OVA](https://github.com/Seagate/cortx/releases/tag/VA) and [JBOD](https://github.com/Seagate/cortx/releases/tag/JBOD) artifacts.

[2020-12-08 04:43] nileshgovande commented on #115
no response from @mehjoshi for 2 months. Closing

[2020-12-08 14:40] Saumya-Sunder commented on #493
@shailesh-vaidya should I document the steps?

[2020-12-09 12:11] mukul-seagate11 commented on #482
@Saumya-Sunder, can you please document the same as suggested

[2020-12-09 12:13] mukul-seagate11 commented on #447
@Saumya-Sunder, can you please update if its fixed?

[2020-12-09 12:18] mukul-seagate11 commented on #444
@Saumya-Sunder, can you document the same

[2020-12-09 12:20] mukul-seagate11 commented on #441
@shailesh-vaidya, please check & update

[2020-12-09 12:22] mukul-seagate11 commented on #434
@Saumya-Sunder, you can close the issue if its fixed from your end

[2020-12-09 12:24] mukul-seagate11 commented on #424
@Saumya-Sunder, please update if you are done with testing?

[2020-12-09 12:29] mukul-seagate11 commented on #387
@justinzw, can you update on the issue or assign to the concern person?

[2020-12-09 12:30] mukul-seagate11 commented on #385
@Saumya-Sunder, can you update on the issue?

[2020-12-09 12:31] mukul-seagate11 commented on #377
@Saumya-Sunder, can you update & fix

[2020-12-09 12:35] mukul-seagate11 commented on #257
@Saumya-Sunder, can you update?

[2020-12-09 12:39] mukul-seagate11 commented on #247
@Saumya-Sunder, can you create the issue template as suggested?

[2020-12-09 12:40] mukul-seagate11 commented on #493
@shailesh-vaidya, cam you please update?

[2020-12-09 12:46] mukul-seagate11 commented on #312
let me check & update

[2020-12-09 13:00] Saumya-Sunder commented on #247
@mukul-seagate11 we had decided that @justinzw will manage this. @justinzw I think we have updated the issue template right?

[2020-12-09 13:03] Saumya-Sunder commented on #257
@mukul-seagate11 this is an old file, I need to create a new document for setting up single node VM. Any VM that is on a local instance is single node as per one SME, I forget their name. So what is the correct approach here? I am going around in circles, please route me to one person who can point me to a KB or a doc

[2020-12-09 13:09] Saumya-Sunder commented on #377
Done [here](https://github.com/Seagate/cortx/pull/506) @mukul-seagate11 . closing this issue.

[2020-12-09 13:09] #377 closed

[2020-12-09 13:12] #482 closed

[2020-12-09 13:13] Saumya-Sunder commented on #447
Done [here](https://github.com/Seagate/cortx/pull/491) closing the issue.

[2020-12-09 13:13] #447 closed

[2020-12-09 13:14] Saumya-Sunder commented on #444
It needs some digging as the links to add event on desktops is not working @mukul-seagate11 , I will close it once I have a proper working link.

[2020-12-09 13:16] Saumya-Sunder commented on #434
Done [here](https://github.com/Seagate/cortx/pull/487) closing the issue.

[2020-12-09 13:16] #434 closed

[2020-12-09 13:17] Saumya-Sunder commented on #424
This will take time, as I had to destroy my current vm and I will test the S3 by itself on Friday. Also, @nileshgovande is looped in, any issues I need to let him know the errors.

[2020-12-09 15:24] mukul-seagate11 commented on #312
Will test & implement via https://github.com/Seagate/cortx/security for repos as the feature is now GA

[2020-12-09 15:24] #312 closed

[2020-12-10 04:36] shailesh-vaidya commented on #493
Hi @Saumya-Sunder  - Yes. We need to update steps at https://github.com/Seagate/Cortx/blob/main/doc/Cluster_Setup.md#12-install-the-rpms
For all CORTX packages to use please add steps to build required packages or add link to component repository wiki links.

[2020-12-15 17:02] mssawant commented on #493
@Saumya-Sunder please find the steps for hare installation from sources at https://github.com/Seagate/cortx-hare/pull/1431/files?short_path=b335630#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

[2020-12-15 17:29] johnbent opened #516 "Create pages about hackathons"
1. Create a top-level page about hackathons in general
2. Link that from existing documentation
3. Create a child page about our first hackathon
    a. Use materials from https://drive.google.com/file/d/1OmWVKhKLBqmM9rn14iw2vBn0mOscuf1S/view
    b. Use materials from https://seagatetechnology.sharepoint.com/:f:/r/sites/CORTX/Shared%20Documents/Open%20Source?csf=1&web=1&e=bRW2YK

[2020-12-16 06:08] Saumya-Sunder commented on #493
Thanks @mssawant! Updated the guide in PR https://github.com/Seagate/cortx/pull/518 and closing the issue as it is addressed.

[2020-12-16 06:08] #493 closed

[2020-12-17 06:40] mukul-seagate11 commented on #516
@VenkyOS, please document the same as suggested

[2020-12-17 18:28] johnbent opened #522 "Add list of suggested integrations to integration page"
@Saumya-Sunder , can you please add a list of suggested integrations at the bottom of our integrations page?  With links.
HDF5 -> https://www.hdfgroup.org/downloads/hdf5/source-code/
And also pull the ones from the spreadsheet I just shared with you please that aren't yet crossed out.  Then replace all the text on that tab in that spreadsheet please with something that says, "Moved to our github i

[2020-12-17 18:32] Saumya-Sunder commented on #522
Sure @johnbent

[2020-12-18 09:15] VenkyOS commented on #516
@johnbent , @mukul-seagate11 - I have created the document as required. Please find below the PR link.

[Hackathon_Document](https://github.com/Seagate/cortx/pull/524)

[2020-12-19 05:30] johnbent opened #525 "Add a bot to acknowledge contributors across all our repos"
https://allcontributors.org/docs/en/bot/overview

[2020-12-19 05:33] johnbent commented on #525
This can also give us a badge that shows our contributors count:
![image](https://user-images.githubusercontent.com/2047294/102681704-f3647b00-4180-11eb-90ce-71f85b417934.png)

https://raw.githubusercontent.com/all-contributors/all-contributors/master/README.md

[2020-12-20 05:25] VenkyOS commented on #516
Closing this issue as this has been addressed.

https://github.com/Seagate/cortx/blob/main/doc/CORTX_Hackathon.rst

[2020-12-20 05:25] #516 closed

[2020-12-21 03:36] mukul-seagate11 commented on #525
@pujamudaliar, can we take this forward for all repos as suggested?

[2020-12-21 03:48] mukul-seagate11 commented on #522
@Saumya-Sunder, can you take this forward?

[2020-12-21 03:50] mukul-seagate11 commented on #444
@Saumya-Sunder, do you have any timeline so that we can take this forward?

[2020-12-21 03:54] mukul-seagate11 commented on #441
@shailesh-vaidya, please check so that this request can be forwarded?

[2020-12-21 03:57] mukul-seagate11 commented on #424
@Saumya-Sunder, please update, have you reached to S3 team to get the issue resolved

[2020-12-21 04:02] mukul-seagate11 commented on #387
@Saumya-Sunder, hope this issue is duplicate & resolved already addressed on 19/12 correct?

[2020-12-24 04:11] johnbent opened #533 "How to Debug CORTX Guide Needed"
@VenkyOS , please ask @just-now , @andriytk , and @huanghua78 whether there is any existing documentation about how to debug CORTX.  Please take whatever documents are found and consolidate them into a single guide and add that guide to this repo and link it accordingly.  Thanks!

[2020-12-24 04:24] VenkyOS commented on #533
@johnbent - Sure. I will proceed accordingly.

[2020-12-28 07:58] mukul-seagate11 commented on #533
@VenkyOS, Kindly take care & close

[2020-12-28 08:11] VenkyOS commented on #533
@mukul-seagate11 - I have started working on this. In this regard, spoke to the relevant stakeholders.

[2020-12-28 08:13] mukul-seagate11 commented on #444
@Saumya-Sunder, please take care & close

[2020-12-28 08:14] mukul-seagate11 commented on #441
@shailesh-vaidya, please check & close once you are back from holidays

[2020-12-28 08:15] mukul-seagate11 commented on #424
@Saumya-Sunder, please update & close accordingly

[2020-12-28 08:17] Saumya-Sunder commented on #444
@mukul-seagate11 I have let it remain open as I can create a calendar link for Gmail, iCalendar or mobile phones, however the link needs to be that for a single event and not a series of event. So this is an issue that I have no resolution for unless we decide to add links for events and update the event details on an ongoing basis.

[2020-12-28 08:17] Saumya-Sunder commented on #424
Tested on VM Workstation Pro 16, script works fine for me.

[2020-12-28 08:18] mukul-seagate11 commented on #387
Issue has been fixed & documented in https://github.com/Seagate/cortx/blob/main/doc/Preboarding_and_Onboarding.rst

![image](https://user-images.githubusercontent.com/65269273/103200429-52f61f80-4913-11eb-8c07-353d0bfde825.png)

[2020-12-28 08:18] #387 closed

[2020-12-28 08:24] Saumya-Sunder commented on #350
Yes, but the separate install steps did not work. I can sit with you and let you know where I got stuck. Maybe we can close it faster @gauravchaudhari02

[2020-12-28 08:28] Saumya-Sunder commented on #119
@gauravchaudhari02 @mukul-seagate11 I still have not got a single component rep to help me document the updated Single VM setup. Kindly provide me some resource who can help me to do the same.

[2020-12-28 19:23] johnbent commented on #424
@Saumya-Sunder , did you test from outside the Seagate network?  The reason it failed for @korenlev is because it tried to access an internal Seagate file: http://cortx-storage.colo.seagate.com/releases/cortx/uploads/centos/centos-7.7.1908/repodata/repomd.xml.

So, from the system where you did the testing, can you please try to just directly access this URL in your browser?  I just did and I can

[2020-12-28 19:30] Saumya-Sunder commented on #424
Hey @johnbent, so you mean, I do not get on Citrix or use Seagate VMs and then try?

[2020-12-28 19:36] johnbent commented on #424
Yes, that is what I mean.
________________________________
From: Saumya Sunder <notifications@github.com>
Sent: Monday, December 28, 2020 12:30 PM
To: Seagate/cortx <cortx@noreply.github.com>
Cc: John Bent <john.bent@seagate.com>; Mention <mention@noreply.github.com>
Subject: Re: [Seagate/cortx] cortx-manager build.sh failure (#424)

Hey @johnbent<https://github.com/johnbent>, so you mean, I do no

[2020-12-29 22:45] johnbent opened #537 "Add detection of abusive language to scripts/scrape_metrics.py"
https://github.com/vzhou842/profanity-check

[2020-12-30 05:30] johnbent commented on #533
@VenkyOS apparently there is a tool called m0reportbug which sounds like it should be included in this guide.

[2021-01-03 18:44] johnbent opened #538 "Get slack metrics"
Get slack metrics into metrics/scrape_metrics.py and then into the reports as well

[2021-01-04 03:46] mukul-seagate11 commented on #533
@VenkyOS, Can you evaluate m0reportbug as suggested & include the same in the doc

[2021-01-04 03:49] mukul-seagate11 commented on #247
@justinzw, Will you be taking care of this issue?

[2021-01-04 03:56] mukul-seagate11 commented on #424
@Saumya-Sunder, kindly take care as per suggested by John?

[2021-01-04 05:39] mukul-seagate11 commented on #119
@madhavemuri, can you look into this & assist Saumya in documenting the same as the issue is related to Lustre

[2021-01-04 07:19] madhavemuri commented on #119
I just verified this issue, seems not occurring with latest main branch.

TASK [motr-build : download Lustre src rpm] *****************************************************************************************
ok: [localhost]
stdout:  skipped, since /root/lustre-*.src.rpm exists

TASK [motr-build : install Lustre src rpm] ******************************************************************************

[2021-01-04 10:43] mukul-seagate11 commented on #119
@rupasree-roy, Can you verify If you are still experiencing similar issue? or provide more clarification if issue still exist

[2021-01-04 18:57] rupasree-roy commented on #119
@mukul-seagate11 I have created a centos VM from scratch and continuing my work there. Don't think will need a VM image for virtual box at this time. Thank you.

[2021-01-05 03:07] johnbent commented on #538
https://pypi.org/project/slack-sdk/

[2021-01-05 03:08] johnbent commented on #538
env var SLACK_OATH has been set and worked with https://gist.githubusercontent.com/Chandler/fb7a070f52883849de35/raw/f74bcec8c1c12ff2126212bb3d52e7f634e94b25/slack_history.py but that program is using the old API.  But at least the OATH token works.

[2021-01-05 03:27] #119 closed

[2021-01-05 03:35] mukul-seagate11 commented on #350
@Saumya-Sunder, can you work with @gauravchaudhari02 and close the same?

[2021-01-05 10:09] harrison-seow-seagate opened #539 "Running Cortx on Oracle VM VirtualBox"
Regarding to the Documentation [Cortx on OVA](https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst)
It seems that the released OVA file can run just fine on Oracle VM VirtualBox, I am wondering if there's any reason that no instructions are given for setup on Oracle VM VirtualBox?

Also, correct me if I'm wrong, running VMWare Workstation requires license fee and I th

[2021-01-05 11:13] mukul-seagate11 commented on #539
@VenkyOS, Can you check & verify from Oracle VirtualBox?

@harrison-seow-seagate,

You dont require VMware Workstation license as such for testing, you can even test with the trial version as well and would suggest to use the same

[2021-01-05 11:19] VenkyOS commented on #539
@mukul-seagate11 - I will look into this.

@harrison-seow-seagate - You are correct. Workstation does not require license for testing. OVA can be tested on WorkStation using the trial version. Information about Oracle VirtualBox was not documented initially. I will talk to the team and get the document updated.

Thanks

[2021-01-05 11:55] korenlev opened #540 "install dependencies on physical server fails per guide"
following this : https://github.com/Seagate/cortx/blob/main/doc/InstallingDependencies.md by https://github.com/Saumya-Sunder  , not sure what step 1. means, but did all step 2 on centos server and step 3 yields errror :

[root@rack-a-node-1 cortx-build-dependencies]# yum list cortx-py-utils
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
 * base: centos.spd.co.

[2021-01-05 11:58] korenlev commented on #540
+ what are the install steps coming next for all dependencies

[2021-01-05 15:11] harrison-seow-seagate commented on #539
Although I was able to get it running on Oracle VM VirtualBox, I had to boot the rescue OS and rename Network Devices, but other than that, S3 seems to work just fine from the testing.

[2021-01-05 15:58] johnbent commented on #539
@harrison-seow-seagate , submitting a PR to add the missing documentation for Oracle VM VirtualBox would be a great contribution!  👍

[2021-01-05 16:36] johnbent commented on #540
@daniarherikurniawan, did you get it working on bare metal?
@suntins, did you?
This document shows bare-metal install (but on a cluster of 3):[LINK](https://github.com/Seagate/cortx/blob/main/doc/scaleout/README.rst )
This document also might be useful: [LINK](https://github.com/Seagate/Cortx/blob/main/doc/Cluster_Setup.md)

[2021-01-05 17:47] korenlev commented on #540
Links not helpful , i need install guide on single server please

בתאריך יום ג׳, 5 בינו׳ 2021, 18:37, מאת John Bent ‏<notifications@github.com

[2021-01-05 17:57] johnbent commented on #540
Thanks @korenlev , unfortunately, I don't think that exists.  If you can get it working from these docs, then it would be awesome if you could help document what you did for the next person who wants to do this.

[2021-01-06 04:22] VenkyOS commented on #539
@johnbent - Can this issue be closed?

[2021-01-06 08:52] huanghua78 commented on #540
@korenlev What CORTX components are you trying to install and configure?

If you are trying to use CORTX-Motr, I don't think these dependencies are needed.

[2021-01-06 08:58] huanghua78 commented on #540
@johnbent @Saumya-Sunder we need to understand what components need this dependency list.
If they are needed by some specific component, we need to move this document to that specific component.
Otherwise, people will get confused. They will think this is the first step to try before trying CORTX-Motr, CORTX-Hare, etc. It seems @shailesh-vaidya prepared the original document. Maybe @shailesh-vaidy

[2021-01-06 11:35] korenlev commented on #540
I am trying to install all cortx , just like available in the OVA (VM),
someone built it right? He can help...

בתאריך יום ד׳, 6 בינו׳ 2021, 10:58, מאת Huang Hua ‏<notifications@github.com

[2021-01-06 12:11] shailesh-vaidya commented on #540
@huanghua78  - Other that CORTX-Motr and CORTX-Hare most of the component needs third party packages for build. Hence instead of Developer to search and download them individually we have added them in single location. This just to simplify the build process.

@korenlev  cortx-py-utils is not third party package but build from [cortx-utils](https://github.com/Seagate/cortx-utils) repo . Instructio

[2021-01-06 13:12] korenlev commented on #540
Guys, it will be great to get early look into docker build when u have it,
even test phase, hoping it will have all cortx components,  this can make
the install amazingly easy.

For now, please, if a developer that have a simple cheetsheet (just the
commands and repos erc) for install on vanilla centos it will be awsome and
help us build the intergration lab !

בתאריך יום ד׳, 6 בינו׳ 2021, 14:11,

[2021-01-06 13:19] korenlev commented on #540
Guys, it will be great to get early look into docker build when u have it,

Shailesh Vadiya‬‏ , maybe next week we can get on webex and give u access
to my server ?

[2021-01-06 13:21] shailesh-vaidya commented on #540
@korenlev  - Sure. Let me know your suitable time and we can sync-up over webex.

[2021-01-06 19:31] johnbent commented on #539
Sure.  It can be closed.  Thanks.
________________________________
From: VenkyOS <notifications@github.com>
Sent: Tuesday, January 5, 2021 9:23 PM
To: Seagate/cortx <cortx@noreply.github.com>
Cc: John Bent <john.bent@seagate.com>; Mention <mention@noreply.github.com>
Subject: Re: [Seagate/cortx] Running Cortx on Oracle VM VirtualBox (#539)

@johnbent<https://github.com/johnbent> - Can this issue b

[2021-01-06 21:04] johnbent commented on #540
@shailesh-vaidya and @korenlev , please do record this meeting and share it out with the rest of us afterwards.  I definitely want to make sure that everything learned is appropriately documented in github.  Koren, you are pushing us to do some very important things so thank you very much!

[2021-01-07 02:37] #539 closed

[2021-01-07 02:37] VenkyOS commented on #539
A PR has been raised in this regard.

[2021-01-07 06:05] korenlev commented on #540
Thanks john, I will record and document it all on sharepoint so everyone
can look and decide what/how to push forward..

Br
Koren

בתאריך יום ד׳, 6 בינו׳ 2021, 23:04, מאת John Bent ‏<notifications@github.com

[2021-01-07 10:38] kiwionly opened #544 "Docker image for CORTX"
Hi,

I just wondering is that a good idea to have a docker image for CORTX ? it might be more easy to for running as a Demo.

I had successfully running CORTX using vmware workstation follow this [instruction](https://github.com/Seagate/cortx/blob/e5bce45305a65cce7f9be553ecef8a44b9c3b2e4/doc/CORTX_on_Open_Virtual_Appliance.rst), but still is not so simple as every version of the vmware might have

[2021-01-07 10:55] kiwionly opened #545 "Link for "GitHub Tools and Procedures" no longer work"
Hi,

I just found out the link under the page **[Contribute to the CORTX Project](https://github.com/Seagate/cortx/blob/e5bce45305a65cce7f9be553ecef8a44b9c3b2e4/CONTRIBUTING.md)** under section **Contribution Process** the link for **GitHub Tools and Procedures** had no longer work.

Try search the page for faster locate the hyperlink,

[2021-01-07 12:21] mukul-seagate11 commented on #545
@kiwionly, the doc has been moved to https://github.com/Seagate/cortx/blob/main/doc/GitHub_Processes_and_Tools.rst

[2021-01-07 12:21] #545 closed

[2021-01-07 12:24] mukul-seagate11 commented on #544
@kiwionly, yes that's a good idea which is actually in our roadmap but currently we had tested on virtual machine's

[2021-01-07 15:34] johnbent commented on #545
Thank you very much for reporting this @kiwionly !  I have submitted a PR to fix this so now (thanks to you!) the next person attempting this will have a better experience.  :)

[2021-01-07 15:34] johnbent commented on #545
https://github.com/Seagate/cortx/pull/547

[2021-01-08 05:45] VenkyOS commented on #533
@johnbent and @mukul-seagate11 - I have spoken to @just-now about this. He would revert post the end of this week.

[2021-01-08 05:49] kiwionly commented on #544
noted.

[2021-01-08 05:49] #544 closed

[2021-01-08 16:41] johnbent opened #549 "Add submodule for cortx-experiments"
@gauravchaudhari02 , can you please add a submodule (just like the others) for cortx-experiments please?  I just want the community to see and be able to participate in the cool work happening there.

[2021-01-08 16:58] johnbent opened #550 "Need to scrape github Discussions"
scrape_metrics.py needs to be augmented to scrape Discussions as soon as that is available.

[2021-01-11 03:50] kiwionly2 opened #551 "Broken link on "Working with Git for CORTX""
Hi,

I just encounter a broken link from page "Working with Git for CORTX" when browse through document.

Path = **cortx/doc/working_with_git.md**
location =
1. Prerequisities
...
Generate SSH and **PAT** access for your GitHub Account.

The **PAT** link no longer work.

[2021-01-11 07:41] shailesh-vaidya commented on #441
- OVA Build frequency -  Every Sprint End ( 2 Weeks)

- OVA Versioning -   As mentioned in https://github.com/Seagate/cortx/issues/441#issuecomment-717253653  We should use semantic versioning for OVA . Currently we have released cortx-va-1.0.*.zip file at https://github.com/Seagate/cortx/releases/tag/VA .  We should create new GitHub releases names cortx-va-1.0.`Incremental number`  and upload co

[2021-01-11 07:49] VenkyOS commented on #551
The below mentioned PR will resolve this issue.

https://github.com/Seagate/cortx/pull/553

[2021-01-12 00:00] #551 closed

[2021-01-12 00:03] johnbent opened #555 "Need to scrape github wiki's also"

[2021-01-12 00:05] johnbent commented on #549
Thanks @gauravchaudhari02 !

[2021-01-12 00:05] #549 closed

[2021-01-12 00:08] johnbent opened #556 "Compare star and fork count"
using the api's like in the metrics directory, create an analysis comparing our growth in stars and forks to other open source projects.  The script should produce something like this:
DAY | STAR COUNT FOR REPO X | FORK COUNT FOR REPO X | STAR COUNT FOR REPO Y | FORK COUNT FOR REPO Y | ....
0 | 0 | 0 | 0 | ....

[2021-01-12 06:34] kiwionly2 opened #557 "Broken Link on /doc/architecture.md"
Hi,

I had encounter a broken link.

Path = /doc/architecture.md
link = CORTX Core Architecture Overview (/doc/CORTX_MOTR_ARCHITECTURE.rst)

This link have move to **seagate/cortx-motr/doc/CORTX_MOTR_ARCHITECTURE.rst**

Regards.

[2021-01-12 07:40] mukul-seagate11 commented on #557
@VenkyOS, please fix the broken link

[2021-01-12 09:26] VenkyOS commented on #557
This issue is fixed with the below mentioned PR.

[PR](https://github.com/Seagate/cortx/pull/558)

[2021-01-12 11:56] #557 closed

[2021-01-13 22:16] johnbent commented on #556
![image](https://user-images.githubusercontent.com/2047294/104516813-2fd59c00-55b2-11eb-8aff-3e8d36ec8f49.png)

BOOM!  Scripts in metrics dir.

[2021-01-13 22:16] #556 closed

[2021-01-13 22:18] johnbent opened #564 "Add a youtube banner"
We should add a channel to your youtube channel with our other banners:

![image](https://user-images.githubusercontent.com/2047294/104516895-5a275980-55b2-11eb-953e-ac798fd72ee8.png)

@TechWriter-Mayur, can you handle this please?

[2021-01-14 06:59] johnbent commented on #564
Thanks @TechWriter-Mayur !

[2021-01-14 07:06] TechWriter-Mayur commented on #564
Fixed in PR #566.

[2021-01-14 13:45] TechWriter-Mayur commented on #564
Fixed in PR #566.

[2021-01-14 17:16] johnbent opened #572 "scraping metrics is slow"
For queries to github which take a since field, start using that field and using pickles to save old stuff.
For example, change repo->get_commits() to:

cortx_community.get_commits(ps,repo):
   url = repo.get_url()
   (latest,items)=ps.get_items(url)
   new_items = repo.get_commits(since=latest)
   for item in new_items:
       latest = max(latest,item.timestamp)
   ps.add_items(url,latest,new_ite

[2021-01-14 17:52] johnbent commented on #564
Hey @TechWriter-Mayur , actually this looks great but you didn't use our vanity URL.  Can you please change the link to use: https://cortx.link/videos?

[2021-01-15 03:35] mukul-seagate11 commented on #572
@johnbent, to whom this issues needs to be assigned or direct to as I am unclear?

[2021-01-15 03:43] mukul-seagate11 commented on #540
@korenlev, I see that you will be recording and documenting all on sharepoint so can we close the issue as we good?

[2021-01-15 03:44] mukul-seagate11 commented on #525
@pujamudaliar, please take this forward for all repos to get added

[2021-01-15 03:49] johnbent commented on #572
I assigned it to myself.  Thanks.

[2021-01-15 03:53] mukul-seagate11 commented on #522
@Saumya-Sunder, please take this forward?

[2021-01-15 03:56] mukul-seagate11 commented on #424
@Saumya-Sunder, please take this forward

[2021-01-15 03:57] mukul-seagate11 commented on #385
@Saumya-Sunder, please update & close accordingly

[2021-01-15 03:59] mukul-seagate11 commented on #350
@Saumya-Sunder, please update & close accordingly

[2021-01-15 04:09] johnbent commented on #572
I might just close this one.  The metrics somehow broke in a very strange way.  I honestly suspect that github changed something on their back-end.  In the pygithub api, I used to do this to check the rate:
 gh.rate_limiting
And it worked!  But just yesterday, it stopped working.  It would query once and then cache the answer.  So I'd keep checking it and it would also look like the rate limiting

[2021-01-15 04:11] mukul-seagate11 commented on #296
@shailesh-vaidya, I do understand that this cannot be accessible from outside but cant we implement the same as we had build the CORTX packages locally using Docker Image for external community as a solution?

[2021-01-15 04:24] TechWriter-Mayur commented on #564
Just updated the vanity URL and created the PR #577

[2021-01-15 04:58] shailesh-vaidya commented on #296
@mukul-seagate11  - Yes.  Docker image to build CORTX outside Seagate is ready and currently under testing and docuementaion phase. Details are available at https://github.com/Seagate/cortx-re/issues/167

For this issue - We should include steps to build Motr, Hare before using them. Following links can be added with consultation of respective component teams.
Hare - https://github.com/Seagate/cor

[2021-01-15 05:18] mukul-seagate11 commented on #296
@PengMacro, So as suggested, Docker image to build CORTX for external community is ready and currently under testing and documentation phase so hope we are good to close the issue?

[2021-01-15 07:22] #296 closed

[2021-01-15 18:53] Saumya-Sunder opened #580 "Virtual Images error installing, port 8500 connection refused."
Hi,

Following the installation instructions for the VM image, I'm encountering a number of errors.   Whatever you're expecting to be on port 8500 seems absent (I've checked firewall rules + looked for a listen on that port).

All services described in the installation troubleshooting section are up, but the "cluster" is down.

I've had the same results with both of the virtual image packages.

Co

[2021-01-15 18:59] Saumya-Sunder commented on #540
@mukul-seagate11 I have a meeting with  @korenlev on Tuesday to document this properly, I will keep you updated.

[2021-01-18 01:32] huanghua78 commented on #85
I think this is fixed.

[2021-01-18 04:40] #85 closed

[2021-01-18 07:09] #564 closed

[2021-01-18 23:40] johnbent commented on #538
This has been mostly done in commit 136098c285556385e490bcc6e668c5d0d7f14851.  However, still want to separate out external/internal for the slack metrics.

[2021-01-19 01:19] johnbent commented on #538
As of commit 9d0742d11d0d0363d154c9af7f95a194e066bab8, we are now splitting slack activity into the various external buckets.  Now we just need to make a few corresponding graphs in the notebooks.

[2021-01-19 03:18] johnbent commented on #538
Done.

[2021-01-19 03:18] #538 closed

[2021-01-19 07:47] u-u-h commented on #257
I see cortx-storage.colo.seagate.com referenced in https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md, and that is a domain not accessible for end users like me. Any hints on how to which repos can be used for self-construction of VMs?

[2021-01-19 17:31] johnbent opened #591 "Get slack CSV file"
https://cortxcommunity.slack.com/admin/stats  <- can you see this page?  It allows us to download a CSV.  Can we programmatically download that CSV?  There are lots of good metrics in there.

[2021-01-19 20:08] johnbent commented on #591
curl -L -s -u "A01JCCAUFLH:$SLACK_OATHfoo" -X GET -d '' "https://a.slack-edge.com/bv1-9/primer-vendor.fcd05e5.primer.min.js" | gzip -d
![image](https://user-images.githubusercontent.com/2047294/105087160-4d45b280-5a57-11eb-89e3-c402541d9304.png)

curl -L -i -s -u "A01JCCAUFLH:$SLACK_OATH" -X GET -d '' "https://cortxcommunity.slack.com/admin/stats"

[2021-01-20 06:23] shailesh-vaidya commented on #204
We have published docker image to build entire CORTX at https://github.com/orgs/Seagate/packages/container/package/cortx-build
Instructions to build CORTX packages using this Docker image is documented at - https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst

[2021-01-20 06:32] shailesh-vaidya commented on #257
@u-u-h  Thanks for reaching out. We are in-process of updating [Cluster_Setup.md](https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md) with details.

We have published docker image to build entire CORTX . Instructions to build CORTX packages using this Docker image is documented at - https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst

You can try that out to buil

[2021-01-20 06:33] shailesh-vaidya commented on #540
@korenlev  We have published docker image to build entire CORTX at https://github.com/orgs/Seagate/packages/container/package/cortx-build as mentioned in https://github.com/Seagate/cortx/issues/540#issuecomment-755264463

Instructions to build CORTX packages using this Docker image is documented at - https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst

You can try that out an

[2021-01-20 06:34] shailesh-vaidya commented on #115
@nileshgovande @mukul-seagate11  Can we close this issue.

[2021-01-20 06:40] shailesh-vaidya commented on #204
@andriytk  @johnbent

We have published docker image to build entire CORTX at https://github.com/orgs/Seagate/packages/container/package/cortx-build

Instructions to build CORTX packages using this Docker image is documented at - https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst

Can we close this issue.

[2021-01-21 09:05] mukul-seagate11 commented on #115
@nileshgovande closing the issue as per your comment

[2021-01-21 09:05] #115 closed

[2021-01-21 18:25] johnbent opened #598 "Need more getting started guides"
We need the following getting started guides and the following bullet lists in our parent README:

- Download a CORTX VM image for easy testing
    - Run it on a single node [LINK](https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst)]
    - Run it on a cluster [NOT DONE]
- Download CORTX as prepackaged software releases
    - Run it on a single node [NOT DONE]
    -

[2021-01-21 18:25] johnbent commented on #598
These bullets should go in both our parent README and our parent QSG.

[2021-01-21 22:24] #598 closed

[2021-01-22 03:17] mukul-seagate11 commented on #598
@VenkyOS, do take care in your new PR as suggested

[2021-01-22 03:57] VenkyOS commented on #598
@mukul-seagate11 - Sure. I will look into this.

[2021-01-25 13:10] shailesh-vaidya commented on #540
@korenlev  Could you please let use know if you are able to build component packages using https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst

[2021-01-25 13:11] shailesh-vaidya commented on #204
@johnbent  Could you please confirm if we can close this issue.

[2021-01-25 13:22] korenlev commented on #540
iso creation fine
note: iso boot fails on bare metal server (not VM)
but howto install on bare metal server starting from centOS stage (vanilla centos) running on the server ?

[2021-01-25 13:31] shailesh-vaidya commented on #540
Hi @korenlev  This ISO is not bootable ISO. It's just collection of CORTX and Required Third Party rpm's packaged together.
You can use following guides to Deploy CORTX -
https://github.com/Seagate/cortx-prvsnr/wiki/Auto-Deploy-VM-Provisioner-CLI-Commands

[2021-01-25 13:57] korenlev commented on #540
yes, deploy on VM , i know this.

sorry, i am looking for install guide for a 'regular' server , starting from centos vanilla and all the way to complete cortx running on that server

[2021-01-25 15:24] johnbent commented on #204
@shailesh-vaidya , we are waiting for @hessio to reproduce this.  Also, we need the instructions for how to _run_ the software after it has been built.  I guess it is OK to close this and then have Patrick re-open if there are problems.  What about instructions for how to run it after it has been built?  Does that exist anywhere?

[2021-01-25 15:24] #204 closed

[2021-01-25 15:27] johnbent commented on #540
FYI @hessio is also working on this same thing and trying to make sure we have everything nicely documented starting at root document https://github.com/Seagate/cortx/blob/main/QUICK_START.md.

[2021-01-25 15:31] shailesh-vaidya commented on #204
@johnbent  - Sure. @hessio  Let me know if you face any issues.
We can use following docs to _run_ software after Release build is generated.  These docs are from Provisioning Team to deploy CORTX stack. However need to verify it once using Release build generated from docker image.
VM - https://github.com/Seagate/cortx-prvsnr/wiki/Auto-Deploy-VM-Provisioner-CLI-Commands
Hardware - https://github.

[2021-01-26 19:30] johnbent commented on #572
The metric scraping is slow but it works fine.  Closing this.

[2021-01-26 19:30] #572 closed

[2021-01-26 19:33] johnbent opened #613 "Metrics work TODO list"
- [ ] commits per week per repo
- [ ] star/fork counts for external folks only
- [ ] split engaged into 'conversing' and 'submitting' [distinction is Opening a Issue is more engaged than just conversing]
- [ ] running count of external submissions [PR's as well as opening an Issue]
- [ ] improve the reporting; single report?; publish to Serkay's web-page?

[2021-01-27 15:45] johnbent opened #629 "Install More Bots"
For all of our public repos, we should install the following bots:

- [ ] https://probot.github.io/apps/markdownify/
- [ ] https://probot.github.io/apps/all-contributors/
- [ ] https://github.com/behaviorbot/first-pr-merge
- [ ] https://github.com/behaviorbot/new-pr-welcome
- [ ] https://github.com/behaviorbot/sentiment-bot
- [ ] https://github.com/behaviorbot/welcome

[2021-01-27 15:49] johnbent opened #630 "Triage bot is failing?"
After creating a new Issue (https://github.com/Seagate/cortx/issues/629), I got an email that triage failed with a link to this:https://github.com/Seagate/cortx/actions/runs/515516207
![image](https://user-images.githubusercontent.com/2047294/106016203-729c7700-607c-11eb-94a6-f53119288abb.png)
Looks like a problem with our triage bot?

[2021-01-28 04:01] mukul-seagate11 commented on #630
@johnbent, I had removed the triage workflow from cortx repo,

![image](https://user-images.githubusercontent.com/65269273/106088200-82cf5780-614b-11eb-8615-daa894049737.png)

![image](https://user-images.githubusercontent.com/65269273/106088242-97135480-614b-11eb-8931-4b8a0e157023.png)

[2021-01-28 04:01] #630 closed

[2021-01-28 05:16] mukul-seagate11 commented on #629
![image](https://user-images.githubusercontent.com/65269273/106093297-02622400-6156-11eb-83e9-337c6da3c1d0.png)

[2021-01-28 06:16] mukul-seagate11 commented on #629
![Uploading image.png…]()

[2021-01-28 08:22] mukul-seagate11 commented on #629
Bots are installed as per EOS-17051

[2021-01-28 08:22] #629 closed

[2021-01-28 22:33] johnbent opened #657 "Add links to newsletters"
@TechWriter-Mayur , I added links in the community roadmap to finished items.  @novium258 added Newsletter PDFs in https://github.com/Seagate/cortx/tree/main/doc/PDFs/Newsletters.  Can you please add 'PDF' links under the checkmarks for each respective newsletter?

[2021-02-01 03:51] mukul-seagate11 commented on #629
sentiment bot has been included in cortx/config.yml,

![image](https://user-images.githubusercontent.com/65269273/106412912-cb01b900-646e-11eb-9f39-8e42ae69244a.png)

[2021-02-01 04:22] shailesh-vaidya commented on #424
@Saumya-Sunder Can we conclude on this. Let me know if anything needed from my side.

[2021-02-01 15:53] johnbent commented on #629
Awesome.  Thanks @mukul-seagate11 .  Is sentiment-bot install for just the parent repo or for all repos?  Did we ever test it?

[2021-02-02 04:06] johnbent opened #684 "Doc to convert"
You might be interested in http://gerrit.mero.colo.seagate.com/plugins/gitiles/mero/+/refs/heads/dev/layout-plan/layout/plan.h that defines never implemented 'layout plan' interface that would allow a generic and fault-tolerant implementation of function shipping.

@TechWriter-Mayur , can you convert this please and put somewhere appropriately into cortx-motr repo. And link to an existing document

[2021-02-02 05:01] mukul-seagate11 commented on #629
sentiment bot is installed for only parent repo right now and tested but seems not being populated based on sentiment word/phrase

[2021-02-02 06:21] #657 closed

[2021-02-02 23:54] johnbent commented on #444
@Saumya-Sunder and @novium258 , here is a paid service that seems to have what we need: https://www.addevent.com/plans-and-pricing.  Should we try to get it?

[2021-02-03 08:13] TechWriter-Mayur commented on #684
Hi John. The plan.h file is already available in the GitHub. Please follow below link to view the document: [Layout.h](https://github.com/Seagate/cortx-motr/blob/main/layout/layout.h)

[2021-02-03 20:58] johnbent opened #703 "Add links to FAQS under the history section"
https://arxiv.org/pdf/1807.03632.pdf
http://www.pdsw.org/pdsw-discs16/wips/danilov-wip-pdsw-discs16.pdf
https://www.hpcwire.com/2016/11/29/seagate-led-sage-project-delivers-update-exascale/
https://sagestorage.eu/sites/default/files/Sage%20White%20Paper%20v1.0.pdf

@sainarasim @gregnsk any other good papers from the historical period?

[2021-02-03 20:59] johnbent commented on #703
@Saumya-Sunder , can you take this one please?

[2021-02-03 21:29] Saumya-Sunder commented on #703
Sure @johnbent

[2021-02-03 23:39] gregnsk opened #704 "Missing a reference to OVF file creation using OVA"
From the https://github.com/Seagate/cortx/blob/main/doc/Importing_OVA_File.rst:
_If you are facing errors due to usage of old versions, perform the below mentioned procedure.
Right-click the .ovf file and edit it in a text editor (preferably, notepad)._

We release CORTX VM as the OVA. Please add a reference to OVA->OVF conversion

[2021-02-04 12:16] VenkyOS commented on #704
@gregnsk and @mukul-seagate11 - The below mentioned PR should sort this issue.

https://github.com/Seagate/cortx/pull/705

[2021-02-04 12:16] #704 closed

[2021-02-05 01:05] johnbent commented on #684
Thanks @TechWriter-Mayur !

[2021-02-05 01:05] #684 closed

[2021-02-05 01:07] johnbent opened #706 "Clean up https://github.com/Seagate/cortx/blob/main/doc/GitHub_Processes_and_Tools.rst"
Hey @Saumya-Sunder ,

Can you add a Table of Contents with Quick Links at the top of this page please?  Or can you do your nice 'Click To Expand' on all of the sections?  Right now, it is too hard to navigate and find what useful info is on this page?

Also, can you please add a section about 'WYSIWYG in GitHub' please?  And include the info in the email I just sent about the browser extensions (s

[2021-02-05 20:38] johnbent opened #708 "Document OVA to KVM conversion process"
When we do this, let's consider whether it is better to just add this documentation to the existing OVA document or add a new file and link it from the existing OVA document.  Just need to consider how concisely we can add this and how bloated the OVA already is.

Please use the info in the internal email exchange and first test, and then document how to do this.

[2021-02-05 20:38] johnbent opened #709 "Document OVA to KVM conversion process"
When we do this, let's consider whether it is better to just add this documentation to the existing OVA document or add a new file and link it from the existing OVA document.  Just need to consider how concisely we can add this and how bloated the OVA already is.

Please use the info in the internal email exchange and first test, and then document how to do this.

[2021-02-05 20:38] johnbent commented on #709
@Saumya-Sunder , @TechWriter-Mayur , @hessio , @justinzw

[2021-02-05 21:03] gregnsk commented on #709
I think it should be a separate page.
And it should include instructions also for VirtualBox (if we didn’t publish them yet)

From: John Bent <notifications@github.com>
Sent: Friday, February 5, 2021 12:38 PM
To: Seagate/cortx <cortx@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Seagate/cortx] Document OVA to KVM conversion process (#709)

When we do this, let's cons

[2021-02-06 00:56] justinzw commented on #708
@johnbent  I think this is a duplicate of https://github.com/Seagate/cortx/issues/709

[2021-02-06 00:56] #708 closed

[2021-02-06 01:16] johnbent commented on #708
Weird.  Right you are @justinzw !  Thanks for noticing and closing.

[2021-02-08 12:00] kiwionly2 opened #711 "Ready make docker image"
Hi,

I was reading [Release Build Creation](../blob/main/doc/Release_Build_Creation.rst), and seem like need to make docker image our self.

Just wondering do we got any ready make docker image can just load and run immediately ?

I was plan to run the docker image on Windows 10.

Regards,
kiwi

[2021-02-08 12:18] mukul-seagate11 commented on #711
Thanks for opening this issue. A contributor should be by to give feedback soon. In the meantime, please check out the [https://github.com/Seagate/cortx/blob/main/CONTRIBUTING.md](https://github.com/Seagate/cortx/blob/main/CONTRIBUTING.md) and explore other https://github.com/Seagate/cortx/

[2021-02-08 12:27] mukul-seagate11 commented on #711
@kiwionly2, You can incorporate OVA image as updated in [Release Virtual Appliance Releases · Seagate/cortx (github.com)](https://github.com/Seagate/cortx/releases/tag/VA) which is a Virtual Appliance based on CORTX software where you can import the same on VMware Workstation

Reference documentation:

[cortx/CORTX\_on\_Open\_Virtual\_Appliance.rst at main · Seagate/cortx (github.com)](https://git

[2021-02-08 13:18] kiwionly2 commented on #711
I mean something like https://hub.docker.com/_/rabbitmq

Which I could just run

[code]

[2021-02-08 18:01] justinzw commented on #711
Hi @kiwionly2 thank you for your interest and question. Unfortunately at this time we do not have the ability to run CORTX within a docker container.

As @mukul-seagate11 mentioned we do have the ability to run CORTX within a VM
https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst

Would this work for you? I'm going to close this issue for now as it's something we are

[2021-02-08 18:01] #711 closed

[2021-02-15 12:12] mukul-seagate11 commented on #709
@gregnsk, let me check the feasibility by importing OVA in VirtualBox or by tuning some config parameters so that the same can be documented

[2021-02-18 01:11] Saumya-Sunder commented on #706
Hey @johnbent , done here https://github.com/Seagate/cortx/pull/781/files

[2021-02-19 19:45] johnbent opened #785 "Unidentified team members"
Hello @PSO-Dmitry @Raja-Mohanty @rajeshdesh @sonalijadhav96 @sonalk0209 @vimleshsgt ,

The six of you are using github enterprises licenses for Seagate but we are unable to map your github IDs to your seagate email addresses.  Please either reply here with your email addresses or email them directly to me.  Thanks!

FYI @mukul-seagate11 and @Saumya-Sunder with whom I'm working to properly ensure l

[2021-02-20 03:15] rajeshdesh commented on #785
Hi @johnbent , @mukul-seagate11 , @Saumya-Sunder ,

My email ID registered with @rajeshdesh is: rajesh.deshmukh@seagate.com

What do I need to make the corrections?

[2021-02-20 04:03] johnbent commented on #785
You're good now.  Thanks!
________________________________
From: rajeshdesh <notifications@github.com>
Sent: Friday, February 19, 2021 8:16 PM
To: Seagate/cortx <cortx@noreply.github.com>
Cc: John Bent <john.bent@seagate.com>; Mention <mention@noreply.github.com>
Subject: Re: [Seagate/cortx] Unidentified team members (#785)

Hi @johnbent<https://github.com/johnbent> , @mukul-seagate11<https://gith

[2021-02-22 03:29] sonalk0209 commented on #785
Hi @John Bent<mailto:notifications@github.com> and @Mukul Malhotra<mailto:mukul.malhotra@seagate.com>

My mail id for my github id sonlak0209: sonal.kalbende@seagate.com
________________________________
From: John Bent <notifications@github.com>
Sent: Saturday, February 20, 2021 9:33 AM
To: Seagate/cortx <cortx@noreply.github.com>
Cc: Sonal Kalbende <sonal.kalbende@seagate.com>; Mention <mention@n

[2021-02-22 11:12] hessio opened #786 "HA service fails in Motr singlenode sanity test"
Problem: User runs command `sudo ./scripts/m0 run-st 52motr-singlenode-sanity` and they receive an error that HA service fails

Attached is an image of the error:

![motr error](https://user-images.githubusercontent.com/23244853/108700530-a2fdf680-74fe-11eb-8726-507acade0e93.png)

[2021-02-25 17:34] johnbent opened #795 "Flip order of meetings in MMAA meeting"
The meetings are current in calendar order.  They should be in reverse order so newest ones are at top.  Mayur can you please do the needful.

[2021-02-25 17:49] johnbent opened #797 "Please move wiki"
[https://github.com/Seagate/cortx/wiki/Build-Motr-from-Source-in-a-Cluster](https://github.com/Seagate/cortx/wiki/Build-Motr-from-Source-in-a-Cluster) I think this should be in the motr wiki not in the parent.  Patrick, can you move it please?  Also, you'll need to update all links to it.  There is one in the parent QSG.  Are there any others?

[2021-02-25 20:28] hessio commented on #797
Think this is the only link, no worries, I will move it!

[2021-02-26 12:26] PSO-Dmitry commented on #785
Replied internally.

[2021-02-26 16:06] johnbent commented on #797
Thanks Patrick!

[2021-02-26 16:06] #797 closed

[2021-02-26 16:08] #785 closed

[2021-02-26 16:09] johnbent commented on #709
@justinzw , is this done?

[2021-02-26 23:19] StephanSalas opened #800 "Encryption Support w/ Post-Quantum"
Are plans in the development roadmap to support post-quantum encryption for cortx? What plans do we currently have for distributed-storage encryption?

[2021-03-09 01:53] justinzw commented on #800
@StephanSalas  thanks for asking this. We don't have plans to support post-quantum encryption. But I'd love to learn more about it. What type of distributed storage encryption would you like us to support and what use cases are you interested in using this for?

[2021-03-09 03:44] harrison-seow-seagate opened #810 "CentOS 8 Life cycle"
It's been quite a while since the announcement of CentOS 8 EOL ([Table](https://wiki.centos.org/About/Product)) scheduled by December 2021.
Will Cortx stick to CentOS 7 (according to [LocalVMSetup](https://github.com/Seagate/cortx/blob/main/doc/LocalVMSetup.md)) for now while looking at other Linux distro or would go for CentOS Stream?

Consideration for [Rocky Linux](https://github.com/rocky-linu

[2021-03-09 05:23] mukul-seagate11 commented on #810
@shailesh-vaidya, can you address Harrison query as I see CentOS 8 in the roadmap but do we have any plan defined? I hope this might be a ARC call ?

[2021-03-11 18:06] justinzw commented on #810
Thanks @harrison-seow-seagate I agree we should probably support the latest CentOS but what are the benefits of supporting Rocky Linux over CentOS.

Thanks for suggesting this!

[2021-03-12 07:13] harrison-seow-seagate commented on #810
Hi @justinzw, the latest CentOS 8 will have no updates/maintenance by Dec 2021 (unless further migrate to CentOS Steam).
CentOS is famous for being a reliable Linux distribution (downstream of RHEL), but CentOS Stream is a development (upstream) branch of RHEL.

I would say it's generally a bad idea to use development branch for production use, also advised by Red Hat, to go for the paid RHEL if s

[2021-03-12 12:19] yanqingfu opened #820 "CORTX Quick Start Guide cluster link"
in https://github.com/Seagate/cortx/blob/main/QUICK_START.md

2. Build motr from the source: LINK
i.Run it on a single node: LINK
ii.Run it across a cluster: LINK

should we link i and ii to https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md?

[2021-03-12 12:57] hessio commented on #820
Yes I can work on getting this done. In [https://github.com/Seagate/cortx/blob/main/QUICK_START.md](https://github.com/Seagate/cortx/blob/main/QUICK_START.md) we want to have at least a minimum of 2 people in the "tested by" section before we direct people to the link. But this is a great find! Thanks for this.

[2021-03-12 15:50] yanqingfu opened #836 "Enable the EPEL repo, use:$ yum --enablerepo=extras install epel-release error"
[root@ssc-vm-1061 cortx]# yum --enablerepo=extras install epel-release
Loaded plugins: enabled_repos_upload, package_upload, product-id, search-disabled-repos, subscription-manager
This system is not registered with an entitlement server. You can use subscription-manager to register.

Error getting repository data for extras, repository not found
Uploading Enabled Repositories Report

[2021-03-12 20:03] hessio commented on #820
Hi @yanqingfu I am just after realizing that this is for internal only. You cannot access the repos outside of the Seagate network. Nonetheless we are super excited to see you contributing to the community and this was a great find nonetheless and a great question to ask.

[2021-03-12 21:19] johnbent commented on #820
@hessio , we should made this guide work for external parties.  Why doesn't it?  

@yanqingfu , please keep helping us make our quick start guide better!  It is a major gap that there is no way to build and run the entire stack.  Have you ever been able to do that?

[2021-03-13 03:10] yanqingfu commented on #820
@johnbent Hi John, I am able to run a single-node setup before as in the guide   https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md, but will try the setup for the latest release.

[2021-03-15 05:50] mukul-seagate11 commented on #525
@johnbent, contributor badges with count has been added for the repos as per,

![image](https://user-images.githubusercontent.com/65269273/111109264-6d3db200-8580-11eb-800b-f339226e5731.png)

https://github.com/Seagate/cortx/pull/828
https://github.com/Seagate/cortx-motr/pull/496
https://github.com/Seagate/cortx-prvsnr/pull/1002
https://github.com/Seagate/cortx-utils/pull/231
https://github.com/Se

[2021-03-15 05:50] #525 closed

[2021-03-15 18:33] #706 closed

[2021-03-16 05:11] TechWriter-Mayur commented on #795
@johnbent #816 was created and merged for the Upcoming and Previously recorded sessions. Can we close this request.

[2021-03-17 04:41] mukul-seagate11 commented on #836
@shailesh-vaidya, Can you look & verify the issue as reported?

[2021-03-17 14:58] johnbent opened #837 "Creating image for DAOS"
![daos](https://emoji.slack-edge.com/T4RUE2FDH/daos/f52b5ec2b04958f1.png)

[2021-03-17 14:58] #837 closed

[2021-03-17 15:53] johnbent opened #838 "Community testimonials"
FYI @sainarasim and @novium258 , let's collect a bunch of quotes here and then make a page out of it.  So far, we have:

Intel: “Open-source innovation in high-performance storage is critical to propel cloud, HPC, AI and communications networks to higher levels of performance in the coming data era,” says Bryan Jorgensen, VP in Intel’s data platforms group. “Intel plans to work within the CORTX Co

[2021-03-17 18:51] johnbent commented on #838
@Saumya-Sunder , can you do the needful and convert this into a page in doc called 'community_testimonials.md' and then also add a link from our top-level README please?  Sort them alpha by company.  Make it a bullet list.  Make the company name be bold please.  Like:

- **CEA**
  - "quote" by person
- **LANL**
  - "quote by person

Etc.

Pull from the spreadsheet but only from green rows please b

[2021-03-17 19:05] Saumya-Sunder commented on #838
Sure John, I'm on it.

[2021-03-17 19:52] Saumya-Sunder commented on #136
Completed in PR# https://github.com/Seagate/cortx/pull/839

[2021-03-18 04:20] shailesh-vaidya commented on #836
@yanqingfu  - It seems you are using SSC VM as `ssc-vm-1061`. On these VM's EPEL repo is already enabled. You can proceed to the next step as `yum install python-pip` . Please try that out and let me know if you face any issues.

@sachitanands We need to update the steps per environment.

[2021-03-18 04:53] nileshgovande commented on #836
Merged https://github.com/Seagate/cortx-s3server/pull/773 to s3

[2021-03-18 04:53] nileshgovande commented on #836
@mukul-seagate11 - Please close the issue.

[2021-03-18 10:26] hessio commented on #820
The repos that are being used are only available to people on the Seagate network. I am in the process of amending this to work for the open-source community.

[2021-03-18 11:52] yanqingfu commented on #836
@shailesh-vaidya no issue to proceed

[2021-03-18 11:52] #836 closed

[2021-03-22 18:58] #795 closed

[2021-03-24 10:26] harrison-seow-seagate opened #860 "Sanity Test fails with missing access key argument"
The sanity test `sh /opt/seagate/cortx/s3/scripts/s3-sanity-test.sh` in the Cortx on OVA [guide](https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst) Numbering 13, fails if no S3 account has been created. The script fails with the following error:

**Error Snippet**
[code]
According to the instructions, S3 account will not be created until Numbering 15, asking you to

[2021-03-24 13:28] sainarasim commented on #838
"CORTX is novel in its very concept. It is very exciting to try our application and explore its performance using this unique object data storage system" says Dr. Debasmita Samaddar, Exascale algorithms specialist, UK Atomic Energy Authority (UKAEA), a leader in fusion energy research and development.

[2021-03-24 22:28] johnbent opened #861 "Upcoming Events page"
@TechWriter-Mayur , can you please help with the following:

1.  Create a new wiki page called Upcoming\_Events.md
2.  Populate it with all the upcoming trainings and meet an architect meetings
    1.  I know this means we will have replicated work keeping these multiple pages up to date but we think it is worth the price
3.  Link to the new wiki page from the top-level README in an appropriate lo

[2021-03-26 10:49] harrison-seow-seagate opened #864 "Kernel Devel error when building Cortx in docker"
### Attempt 1
Following this [guide](https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst), I wanted to build Cortx using the cortx-build image. However, I encounter the following error:
[code]

### Attempt 2
So I thought perhaps it's missing the kernel devel, and I opened an interactive shell
`docker run --rm -v /var/artifacts:/var/artifacts -v /root/cortx:/cortx-workspace -i

[2021-03-26 11:33] mukul-seagate11 commented on #864
@shailesh-vaidya, please address the issue as reported?

[2021-03-26 14:42] shailesh-vaidya commented on #864
@harrison-seow-seagate  Thanks for trying out Docker image. To debug issue can you please post the output of following commands from the system on which you are executing `docker run` command.
[code]

[2021-03-26 23:48] justinzw opened #869 "Need document that explains how the different components in CORTX work"
From feedback from @harrison-seow-seagate there needs to be a document that describes the different components in CORTX and how they all work together.

cc @johnbent

[2021-03-29 15:14] hessio commented on #869
Hi @justinzw I can work on making one, however if you direct to any of these components' README there is a good explanation as to what the purpose of this component is.

[2021-03-29 15:15] johnbent commented on #869
It would be nice to have a single page that consolidates from each of the README's (and links to each of them).  Like components.md in the parent

[2021-03-30 00:10] whitesource-for-github-com[bot] opened #872 "CVE-2021-27291 (High) detected in Pygments-2.5.2-py2.py3-none-any.whl - autoclosed"
## CVE-2021-27291 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pygments-2.5.2-py2.py3-none-any.whl</b></p></summary>

<p>Pygments is a syntax highlighting package written in Python.</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/be/39

[2021-03-30 00:10] whitesource-for-github-com[bot] opened #873 "CVE-2021-20270 (High) detected in Pygments-2.5.2-py2.py3-none-any.whl - autoclosed"
## CVE-2021-20270 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>Pygments-2.5.2-py2.py3-none-any.whl</b></p></summary>

<p>Pygments is a syntax highlighting package written in Python.</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/be/39

[2021-03-30 02:25] harrison-seow-seagate commented on #864
Hi @shailesh-vaidya, please refer the output below, thanks.

[code]

[2021-03-30 04:55] shailesh-vaidya commented on #864
@harrison-seow-seagate  Thanks for the command output's. Seems you are trying to generate Build on `CentOS 7.7.1908` system. We need to use CentOS 7.8.2003 system to build CORTX.  The same is documented as Step#1 of [Procedure](https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst#procedure)

You can use image TAG to identify OS Version for it.  e.g.  `ghcr.io/seagate/cortx-bui

[2021-03-30 05:58] harrison-seow-seagate commented on #864
I see, thanks @shailesh-vaidya, I will try it out again in a newer version.

[2021-03-30 16:09] Saumya-Sunder commented on #838
Done [here](https://github.com/Seagate/cortx/pull/863) @johnbent please approve the changes. @mukul-seagate11 please close the issue once the PR is approved. I do not have access to close the issue.

[2021-03-30 20:11] #838 closed

[2021-03-31 08:33] max-seagate opened #878 "test issue"

[2021-03-31 15:01] johnbent commented on #878
@max-seagate , any reason you opened this issue?  I'm gonna close it.  Thanks.

[2021-03-31 15:01] #878 closed

[2021-04-02 18:06] johnbent commented on #869
Thanks @justinzw for creating this issue and thanks @hessio for doing the needful and thanks @harrison-seow-seagate for suggesting this!

[2021-04-02 18:06] #869 closed

[2021-04-05 06:42] shailesh-vaidya commented on #864
@harrison-seow-seagate  Please let us know if you are able to build CORTX packages on CentOS 7.8.2003 system. Let me know if any help needed.

[2021-04-05 06:46] harrison-seow-seagate commented on #864
Hi @shailesh-vaidya, I have a rather slow Internet speed, so it will take me some time to download the new OS and rebuild Cortx.
Thanks for asking, I will post it up if I face any issue.

[2021-04-05 07:22] max-seagate opened #887 "just PUT & GET some kv pairs into a DIX"
- The purpose of this task is to make a setup suitable for development
    environment.
  - The task

    - Make Hare CDF file for single node Motr/Hare setup
    - Bootstrap Motr/Hare cluster on a devvm
    - Make m0crate configuration ``.yaml`` file to PUT and GET a few kv pairs
      to/from an index
    - Run m0crate with this configuration file

  - Definition of done

    - Hare CDF file is

[2021-04-05 07:23] max-seagate opened #888 "Add a new Motr client application which is going to be used as a scheduler for multisite work"
- The purpose of the task is to make FDMI plugin application that is able to
    connect to a Motr/Hare cluster
  - The task

    - create a branch ``fdmi-plugin-multisite`` in Motr repo based on ``main``
    - add a new binary ``m0sched`` to ``fdmi/plugins`` directory
    - the binary MUST:

      - be built by default with Motr build
      - be included in Motr rpm
      - take 4 parameters: pro

[2021-04-05 07:23] max-seagate opened #889 "add sending, receiving and printing to stdout for FDMI records using hardcoded filter and hardcoded endpoints"
- The purpose of the task is to make FDMI-based DIX path work
  - The task

    - work continues in ``fdmi-plugin-multisite`` branch in Motr repo
    - single node setup with Motr/Hare is being used
    - make an FDMI filter that matches everything it receives
    - attach the filter on FDMI source side
    - make a new FDMI plugin that prints to stdout FDMI records received in hex
    - initialis

[2021-04-05 07:23] max-seagate opened #890 "send all KVS put records over FDMI and decode them at plugin side"

[2021-04-05 07:23] max-seagate opened #891 "a Python script to run m0sched and to process kv pairs received from Motr over FDMI"
- The purpose of the task is to make a path from FDMI code in C to scheduler
    code in Python for kv pairs received over FDMI.
  - The task

    - work continues in ``fdmi-plugin-multisite`` branch in Motr repo
    - single node setup with Motr/Hare is being used
    - add a Python 3 script ``m0scheduler`` which:

      - gets ``m0sched`` parameters from Hare
      - runs ``m0sched`` and attache

[2021-04-05 07:23] max-seagate opened #892 "S3server is a source of DIX PUT operations"
- The purpose of the task is to show that DIX PUT operations sent by S3server
    are being received by FDMI plugin application and are being interpreted and
    deduplicated correctly
  - The task

    - Make the following setup: Motr, Hare, S3server, ``m0scheduler``.
    - Run ``s3bench`` to create S3 workload
    - Ensure that ``m0scheduler`` receives all DIX PUT operations
    - Add ``s3bench`

[2021-04-05 07:24] max-seagate opened #893 "FDMI records are filtered on FDMI source side with a simple hardcoded filter"
- The purpose of the task is to show how filtering on FDMI source side works
  - The task

    - Make the following setup: Motr, Hare, S3server, ``m0scheduler``.
    - Add a simple ``strstr()`` -based hardcoded filter on FDMI source side to
      filter ``save_metadata()`` DIX PUT records and send only them, discarding
      the rest of DIX PUT records
    - Run ``s3bench`` to create S3 workload

[2021-04-05 13:01] harrison-seow-seagate commented on #864
Hi @shailesh-vaidya , I have just tested it out today and although the output is different but I'm still seeing a very similar RPM build error.

**Output Snippet**
[code]

**Machine Info**
[code]

 **Script to Reproduce**
[code]

[2021-04-05 14:17] shailesh-vaidya commented on #864
Hi @harrison-seow-seagate  - Hare Build was failing due to a new dependency added. It's fixed now. Please pull the latest image and try to build again.
You can use below commands,
[code]

[2021-04-05 17:33] kaustubh-d commented on #888
Please describe each task more clearly

[2021-04-06 02:53] harrison-seow-seagate commented on #864
Thanks @shailesh-vaidya, I pulled the latest image and it worked. I'll close this issue as it's resolved.

[2021-04-06 02:53] #864 closed

[2021-04-06 04:10] harrison-seow-seagate commented on #810
I'm not sure if this is categorized as an issue, perhaps this can be moved to discussion?

_However, I think it would be an issue if migration to CentOS 8 has started._

[2021-04-06 07:06] mukul-seagate11 commented on #810
It will be a discussion as the migration to CentOS 8 yet not started

[2021-04-06 07:07] #810 closed

[2021-04-06 16:48] max-seagate commented on #887
test highlight @somnathbghule

[2021-04-06 20:32] max-seagate commented on #892
Merged into #889.

[2021-04-06 20:56] max-seagate opened #900 "FOL record is decoded and printed to stdout from Motr server process"
- The purpose of the task is to understand what is currently added to FOL
    records
  - The task

    - Use Motr, Hare, m0crate setup
    - run ``m0crate`` with DIX PUT workload
    - print FOL records
    - decode ``m0_fol_frag::rp_data`` using xcode. Use ``be_fmt_decode()`` as
      an example

  - Definition of done

    - cluster CDF and ``hctl status`` output are posted to this issue
    -

[2021-04-07 16:17] somnathbghule commented on #887
I followed the Hare User Guide to create single node Motr/Hare cluster setup, here are the details,

pasting bootstrap logs:
[user@devvm ~]# hctl bootstrap --mkfs ~/CDF.yaml
2021-04-07 10:08:21: Generating cluster configuration... OK
2021-04-07 10:08:22: Starting Consul server on this node........... OK
2021-04-07 10:08:30: Importing configuration into the KV store... OK
2021-04-07 10:08:31: Start

[2021-04-07 19:48] max-seagate opened #901 "make design for scheduler written in Python + C and worker written in Python"
- The purpose of this task is to evaluate feasibility of Python as a language
    for scheduler logic and worker logic
  - The task

    - design scheduler logic
    - design C and Python interfaces between C part of the scheduler and Python
      part of the scheduler
    - design worker logic
    - design communication interface between scheduler and worker
    - design persistent state machines

[2021-04-08 04:23] mukul-seagate11 commented on #887
@max-seagate, I hope, component related issue should be created in respective component issues page

[2021-04-09 15:10] johnbent commented on #887
@kaustubh-d , should @max-seagate be using the Project board instead of Issues?

[2021-04-09 16:23] justinzw opened #904 "Images on main CORTX page are gone!"
In README.md we are missing images that used to be there:

![image](https://user-images.githubusercontent.com/950172/114211155-25a70d80-9915-11eb-896b-1b37616a857b.png)

https://github.com/Seagate/cortx/blob/assets/images/at_risk_data.jpg?raw=true

and

https://github.com/Seagate/cortx/blob/assets/images/cortx-logo.png?raw=true

are no longer there.

[2021-04-09 16:46] johnbent commented on #904
Saumya, can you please find and restore these images?  @Saumya-Sunder

[2021-04-09 17:16] Saumya-Sunder commented on #904
Sure @johnbent I am on it.

[2021-04-09 17:21] Saumya-Sunder commented on #904
Looks like these images were optimized by bot https://github.com/Seagate/cortx/pull/881 I am trying to see if the format has changed or they are still there. I will update the PR with changes here once done @johnbent and @justinzw

[2021-04-12 17:06] max-seagate opened #909 "add Python bindings for a Motr FDMI plugin"
- The purpose of this task is to add Python bindings to allow writing Motr
    FDMI plugins in Python.
  - The task

    - create Motr API which:

      - starts a Motr process
      - allows to receive FDMI records

    - create Python 3 bindings for the API
    - add tests for API and the bindings

  - Definition of done

    - It's possible to receive FDMI records in a Python script

  - Notes

[2021-04-14 07:14] kaustubh-d commented on #887
@johnbent  This issue is added to multisite project board but updates have to be on issue.

[2021-04-15 03:11] somnathbghule commented on #900
We are interested in the content of fol record,
fol record contains a list of all FOL record fragments in a record.

[code]
Each fol frag contains pointer to the data (fol record fragment for a fop).

[code]
fol record fragment for a fop (struct m0_fop_fol_frag) contains fop opcode and fop data pointer,
In KVS data case fop data pointer == m0_cas_op  pointer, so we could access kv records(struct m

[2021-04-19 05:42] somnathbghule commented on #888
Task completion list:
1. Added new motr client application m0sched and pushed changes to fdmi-plugin-multisite.
https://github.com/somnathbghule/cortx-motr/tree/fdmi-plugin-multisite
2. m0sched will be build along with motr.
3. added source changes so that m0sched will be part of motr rpm.
4. m0sched developed in such way that m0sched is running until ^C (SIGINT) or SIGTERM arrive.

m0sched execut

[2021-04-19 05:55] somnathbghule commented on #900
Task completion list:

1. cluster CDF and hctl status output are posted to this issue
[code]
2.  m0crate configuration file
[code]
3. output with decoded m0_fol_frag::rp_data for m0crate DIX PUT
[code]

[2021-04-21 13:23] somnathbghule commented on #889
Please find task completion details:

1. created hardcoded filter with hardcoded endpoint at FDMI source side.
2.  initialized and started the plugin in m0sched application.
3. run m0crate workload

On each fol record receive at plugin application side(m0sched), m0sched will create a filename with fol_rec_m0sched_* in /tmp directory.
[code]
**m0sched output**
[code]
**m0crate yaml configuration fi

[2021-04-22 02:07] #904 closed

[2021-04-22 02:24] johnbent opened #932 "NTP needed on OVA"
From @RodDaSilvaWCO : Suggestion:  install an ntp service on the Cortx VM and have it automatically syncing to internet time...  I was getting "time skew" errors until I did this when I was working with the VM.  Rose in the community also shared this workaround: [https://medium.com/@vuongtran/how-to-resolve-error-amazon-s3-requesttimetooskewed-5d723dc75735](https://medium.com/@vuongtran/how-to-res

[2021-04-22 02:29] johnbent opened #933 "Bucket Listing Can Silently Fail"
Thanks to @RodDaSilvaWCO for finding a reporting a bug where buckets can incorrectly appear empty.  The team is hard at work creating a more permanent fix (which only affects the released Virtual Machine by the way and not Lyve Rack).  In the meantime, here is a workaround:

1) Edit file /opt/seagate/cortx/s3/conf/s3config.yaml by changing the option S3\_MOTR\_MAX\_IDX\_FETCH\_COUNT value to 10 fr

[2021-04-22 06:56] ypise commented on #932
The chrony service is already present and the choice of time server can be set using the CSM web GUI.
CC: @kupranay

[2021-04-22 07:34] mukul-seagate11 commented on #932
@RodDaSilvaWCO, so the reference link, you had mentioned is of RHEL6 and as suggested you can also configure NTP using chrony which is present in OVA [RHEL7] as,

[root@s3 ~]# rpm -qa |grep chrony
chrony-3.4-1.el7.x86_64

[root@s3 ~]# systemctl status chronyd
● chronyd.service - NTP client/server
   Loaded: loaded (/usr/lib/systemd/system/chronyd.service; enabled; vendor preset: enabled)
   Active

[2021-04-22 10:00] somnathbghule commented on #890
Please find latest update on this,

- I used hardcoded filter at fdmi source side to send fdmi source records to plugin **m0sched** continuously.

-  Extracted index fid and kv pairs from the fol records in **m0sched** and printed in json format as shown below.

**m0sched output**
[code]

**m0crate yaml configuration file**
[code]

[2021-04-22 14:10] TechWriter-Mayur commented on #861
The page has been created and available on the wiki.

[2021-04-22 18:21] johnbent commented on #933
Better workaround:

If user has created many objects in bucket and if listing of objects in bucket doesn’t list any of the created objects, then as a workaround user may perform below actions for Motr specific, 

1) Edit file /etc/sysconfig/motr by changing the option MOTR\_M0D\_MAX\_RPC\_MSG\_SIZE value to 524288 (currently it is with default value(128K)) using privileage user 

example:

\[root@

[2021-04-22 18:29] johnbent commented on #932
Thanks to @r-wambui for providing the first solution to this problem!

[2021-04-24 08:47] ypise opened #936 "cortx-experiments presence fails stable builds"
**cortx-experiments** doesn't have a stable branch https://github.com/Seagate/cortx-experiments/branches/all?query=stable
This causes step #4 of [Release Build Creation](https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst#procedure) to fail.

This raises the real concern of, is **_cortx-experiments_** still required to be part of https://github.com/Seagate/cortx?

[2021-04-24 08:56] ypise commented on #932
@mukul-seagate11
There's a simpler way to do this.
Once OVA is imported, perform the onboarding steps:
1. https://github.com/Seagate/cortx/blob/main/doc/Preboarding_and_Onboarding.rst#onboarding step 5.
or
1. The time server can also be set using the Web GUI dashboard settings menu.

The complexity of chronyd config as mentioned above is abstracted by following either of these steps.

[2021-04-24 09:59] r-wambui commented on #932
@mukul-seagate11 I had configured on the web GUI dashboard but still got the same error. I probably had the wrong configuration for the time server.

time-server: time.seagate.com
timezone- GMT+3.00 Africa/Nairobi

[2021-04-24 10:05] mukul-seagate11 commented on #936
@ypise, stable branch has been created now, https://github.com/Seagate/cortx-experiments/tree/stable

[2021-04-24 10:07] #936 closed

[2021-04-24 10:26] ypise commented on #932
`time.seagate.com` won't work.
Try a server on public domain, possibly one from https://tf.nist.gov/tf-cgi/servers.cgi
Or based on your comment above a close proximity one for lower latency from one of: https://www.pool.ntp.org/zone/africa

[2021-04-25 17:30] ypise opened #939 "Release Build Creation doc expects root access"
https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst expects the commands to be run as root.
Any user with sudoer access should be able to execute these commands.

[2021-04-25 17:34] SrzStephen opened #940 "x-amz-copy-source not implemented"
Throwing this issue up since I'm going to be referring to it for my integration and is a blocker for a more complete Spark/Hadoop integration - specifically this blocks putting any objects into the CORTX storage using [S3A](https://hadoop.apache.org/docs/current/hadoop-aws/tools/hadoop-aws/index.html).

The issue is that the x-amz-copy-source PUT seems to not be implemented in CORTX yet.

The defa

[2021-04-25 17:36] ypise opened #941 "Release Build in containerized environment fails on EC2 instance with CentOS 7.9 OS"
Release Build in containerized environment fails on EC2 instance with CentOS 7.9 OS

This kernel-devel package is found under: https://vault.centos.org/7.7.1908/os/x86_64/Packages/

Package this rpm in image: ghcr.io/seagate/cortx-build:centos-7.8.2003

**NOTE**: Containerized builds should work irrespective of the version of host OS.

[2021-04-26 17:05] max-seagate opened #945 "FDMI-based replication prototype demo"
- The purpose of this task is to show what was done during FDMI-based
    replication prototype work.
  - The task

    - make a single node setup: Motr/Hare/S3 server/m0scheduler, ``s3bench``
    - set up and run ``s3bench`` to PUT 10 objects 16MiB each, then GET these
      10 objects.
    - show that ``m0scheduler`` shows jsons about object metadata for new
      objects
    - add details on ho

[2021-04-26 17:08] max-seagate opened #946 "FDMI-based replication prototype"
- The purpose of this task is to make end-to-end FDMI prototype to figure out
    what is missing that is needed for multisite work.
  - The task

    - Do #887, #888, #900, #889, #890, #891, #892, #893.
    - Show a demo #945.

  - Definition of done

    - All issues that are mentioned above are done.

  - Notes

    - Landing of the new code is not a part of this task.

[2021-04-26 17:12] #887 closed

[2021-04-26 17:13] #888 closed

[2021-04-26 17:18] #900 closed

[2021-04-27 04:14] somnathbghule commented on #891
Please find update on task completion:
- m0scheduler python3 script created in fdmi/plugins source dir, will be installed by default in motr rpm.
-  updated doc/m0sched with m0scheduler details.
-  m0scheduler execution prints dedup kv records.

**m0crate config file**
[code]

**m0scheduler output**
[code]

[2021-04-27 04:47] mukul-seagate11 commented on #939
@gowthamchinna, please address the issue reported?

[2021-04-27 04:52] mukul-seagate11 commented on #709
Instructions for VirtualBox (In section: For Oracle VM VirtualBox Users ONLY) is already updated in https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst

[2021-04-27 04:59] mukul-seagate11 commented on #540
@hessio , did you get a chance to test & update?

[2021-04-27 05:00] mukul-seagate11 commented on #709
@justinzw, did you get a chance to complete the "OVA to KVM conversion process" so once complete we can validate?

[2021-04-27 05:04] mukul-seagate11 commented on #861
@johnbent , If all good then can we close the Issue reported

@TechWriter-Mayur, please update the PR created for community reference

[2021-04-27 05:05] mukul-seagate11 commented on #932
@all, If all good then can the issue be closed?

[2021-04-27 05:08] mukul-seagate11 commented on #941
@ypise, similar issue with resolution is reported in https://github.com/Seagate/cortx/issues/864
please refer & validate the same steps as suggested

[2021-04-27 08:30] #946 closed

[2021-04-27 12:15] RodDaSilvaWCO commented on #932
Yes all good.

[2021-04-27 12:46] mukul-seagate11 commented on #932
Good to hear that the issues has been resolved

[2021-04-27 12:46] #932 closed

[2021-04-28 12:23] max-seagate commented on #901
Work in progress: https://github.com/Seagate/cortx-multisite/blob/main/doc/replication.rst and https://github.com/Seagate/cortx-multisite/blob/main/doc/replication-dld.rst.

[2021-04-28 12:28] max-seagate opened #966 "Analysis of FDMI prototype work"
- The purpose of this task is to document what's left to implement in FDMI
    for Multisite work.

  - The task:

    - document remaining requirements and how to achieve them
    - publish the document for review

  - Definition of done

    - the document is available for review

  - Notes

    - this doesn't include estimations for the FDMI work that has to be done

[2021-04-28 12:30] max-seagate commented on #966
The document: https://github.com/Seagate/cortx-multisite/blob/main/doc/fdmi.rst.

[2021-04-29 11:47] somnathbghule commented on #893
Please find update on task completion details:

- Added simple filter to filter s3 object (save_metadata) a hardcoded filter on FDMI source side
- To start with created another simple filter for m0crate  to filter kv records  based on matching key pattern, pasting output for the same,
[code]
- pasting m0scrate workload config file

[code]

[2021-04-29 16:18] #889 closed

[2021-04-29 17:49] max-seagate commented on #891
[code]

[2021-04-29 18:08] max-seagate commented on #891
[code]
I'm not able to reproduce the results above. This is what I see in `m0sched` traces for `866d8a9acaddbc3d9400d248b9c635daf0dfda90`.

[2021-04-30 06:43] somnathbghule commented on #891
**`Issue: m0sched crash is not being handled by m0scheduler.
`**
This issue has been fixed now, please checkout latest source.

[2021-04-30 09:11] #891 closed

[2021-04-30 09:19] #893 closed

[2021-04-30 15:58] max-seagate commented on #945
Changing demo definition: now source of events is `m0crate`. This makes the ticket equal to #891, which is done already.

[2021-04-30 15:58] #945 closed

[2021-05-02 14:44] adgang opened #985 "Virtual Box VMs may not have network devices setup right"
The `For Oracle VM VirtualBox Users Only' section in [VM setup documentation](https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst#cortx-on-open-virtual-appliance) is sometimes not reproducible.

1. Network devices can have different names(enp0s8, enp0s9, enp0s17 instead of  enp0s3, enp0s8, enp0s9)See [here](https://youtu.be/-JPrpL1_8Mg?t=801)
2. Restarting VM sometim

[2021-05-04 10:36] hessio commented on #820
Internal links removed. #857

[2021-05-04 10:36] hessio commented on #820
Internal links removed. [#857](https://github.com/Seagate/cortx/pull/857)

[2021-05-04 10:36] #820 closed

[2021-05-04 15:23] hessio commented on #540
I am still trying to have a guide that works for running this iso @mukul-seagate11

[2021-05-06 06:09] shailesh-vaidya commented on #939
@mukul-seagate11 Steps will work by appending `sudo` for commands and use directory with user having access. I see that @ypise already working on https://github.com/Seagate/cortx/pull/942 for it.

@ypise Just for note, We expect user to Build and then perform deployment also. For Deployment we need `root` user access as of now.

[2021-05-06 06:30] shailesh-vaidya commented on #257
@u-u-h Just want to touch base with you if you get chance to build entire CORTX using Docker image . Instructions to build CORTX packages using this Docker image is documented at - https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst

Let us know if you face any issues.

[2021-05-06 11:47] shailesh-vaidya commented on #941
@ypise  I validated CORTX build for both centos 7.9.2009 and centos 7.8.2003 and does not face any issues.

We need to use Docker image and Virtual Machine with same OS version. Means to generate CentOS 7.9.2009, We should setup CentOS 7.9.2009 VM and use Docker Image with tag [centos-7.9.2009](https://github.com/orgs/Seagate/packages/container/cortx-build/1259276?tag=centos-7.9.2009). I guess thi

[2021-05-06 12:00] ypise commented on #941
Sounds good.

[2021-05-06 12:00] #941 closed

[2021-05-10 23:40] johnbent opened #1001 "Pasting images"
Creating an issue as a easy way to get links to images

[2021-05-10 23:40] johnbent commented on #1001
![](https://user-images.githubusercontent.com/2047294/117737303-d1fb3e80-b1b6-11eb-81f1-36f182938e61.png)

[2021-05-10 23:49] johnbent commented on #1001
parlai

![](https://user-images.githubusercontent.com/2047294/117737939-1dfab300-b1b8-11eb-8ab3-56364e86c6d3.png)

[2021-05-10 23:54] #872 closed

[2021-05-10 23:54] #873 closed

[2021-05-10 23:55] johnbent commented on #1001
restic

![](https://user-images.githubusercontent.com/2047294/117738249-d58fc500-b1b8-11eb-802b-78128e92a018.png)

[2021-05-10 23:57] johnbent commented on #1001
yolo

![](https://user-images.githubusercontent.com/2047294/117738419-34edd500-b1b9-11eb-90f8-8eac4168006b.png)

[2021-05-11 00:06] mend-for-github-com opened #1002 "CVE-2020-11023 (Medium) detected in multiple libraries - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.7.2.min.js</b>, <b>jquery-1.12.4.min.js</b>, <b>jquery-3.2.1.min.js</b>, <b>jquery-3.3.1.slim.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.7.2.min.js</b></p></summary>

<p

[2021-05-11 00:06] whitesource-for-github-com[bot] opened #1003 "CVE-2018-14041 (Medium) detected in bootstrap-4.1.0.min.js"
## CVE-2018-14041 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-4.1.0.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-11 00:06] mend-for-github-com opened #1004 "CVE-2019-8331 (Medium) detected in bootstrap-3.3.7.min.js, bootstrap-4.1.0.min.js - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2019-8331 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.7.min.js</b>, <b>bootstrap-4.1.0.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing r

[2021-05-11 00:06] whitesource-for-github-com[bot] opened #1005 "CVE-2018-14040 (Medium) detected in bootstrap-4.1.0.min.js"
## CVE-2018-14040 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-4.1.0.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-11 00:06] whitesource-for-github-com[bot] opened #1006 "CVE-2018-14042 (Medium) detected in bootstrap-3.3.7.min.js, bootstrap-4.1.0.min.js"
## CVE-2018-14042 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.7.min.js</b>, <b>bootstrap-4.1.0.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing

[2021-05-11 00:06] whitesource-for-github-com[bot] opened #1007 "CVE-2021-23382 (Medium) detected in multiple libraries"
## CVE-2021-23382 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>postcss-6.0.23.tgz</b>, <b>postcss-8.2.12.tgz</b>, <b>postcss-7.0.21.tgz</b>, <b>postcss-7.0.35.tgz</b></p></summary>
<p>

<details><summary><b>postcss-6.0.23.tgz</b></p></summary>

<p>Tool for t

[2021-05-11 00:06] mend-for-github-com opened #1008 "CVE-2021-23364 (Medium) detected in browserslist-4.14.2.tgz - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2021-23364 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>browserslist-4.14.2.tgz</b></p></summary>

<p>Share target browsers between different front-end tools, like Autoprefixer, Stylelint and babel-env-preset</p>
<p>Library home page: <a href="https://r

[2021-05-11 00:06] whitesource-for-github-com[bot] opened #1009 "CVE-2021-23343 (Medium) detected in path-parse-1.0.6.tgz"
## CVE-2021-23343 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>path-parse-1.0.6.tgz</b></p></summary>

<p>Node.js path.parse() ponyfill</p>
<p>Library home page: <a href="https://registry.npmjs.org/path-parse/-/path-parse-1.0.6.tgz">https://registry.npmjs.org/

[2021-05-11 00:06] whitesource-for-github-com[bot] opened #1010 "CVE-2021-23368 (Medium) detected in postcss-7.0.21.tgz, postcss-7.0.35.tgz"
## CVE-2021-23368 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>postcss-7.0.21.tgz</b>, <b>postcss-7.0.35.tgz</b></p></summary>
<p>

<details><summary><b>postcss-7.0.21.tgz</b></p></summary>

<p>Tool for transforming styles with JS plugins</p>
<p>Library home

[2021-05-11 00:11] johnbent commented on #1001
mydrive

![](https://user-images.githubusercontent.com/2047294/117738828-27851a80-b1ba-11eb-815a-5704b1a89440.png)

[2021-05-11 00:11] johnbent commented on #1001
fluentd

![](https://user-images.githubusercontent.com/2047294/117739258-34563e00-b1bb-11eb-9330-f6ee034bb371.png)

[2021-05-11 00:18] mend-for-github-com opened #1011 "CVE-2018-20677 (Medium) detected in bootstrap-3.3.7.min.js - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2018-20677 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-11 00:18] mend-for-github-com opened #1012 "CVE-2018-20676 (Medium) detected in bootstrap-3.3.7.min.js - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2018-20676 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-11 00:18] whitesource-for-github-com[bot] opened #1013 "CVE-2016-10735 (Medium) detected in bootstrap-3.3.7.min.js"
## CVE-2016-10735 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.7.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2021-05-11 00:18] mend-for-github-com opened #1014 "CVE-2019-11358 (Medium) detected in jquery-1.12.4.min.js, jquery-3.2.1.min.js - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.12.4.min.js</b>, <b>jquery-3.2.1.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.12.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home p

[2021-05-11 00:18] whitesource-for-github-com[bot] opened #1015 "CVE-2020-11022 (Medium) detected in jquery-1.12.4.min.js, jquery-3.2.1.min.js"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.12.4.min.js</b>, <b>jquery-3.2.1.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.12.4.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home p

[2021-05-11 00:18] mend-for-github-com opened #1016 "CVE-2015-9251 (Medium) detected in jquery-1.7.2.min.js, jquery-1.12.4.min.js - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.7.2.min.js</b>, <b>jquery-1.12.4.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.7.2.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home pag

[2021-05-11 00:19] mend-for-github-com opened #1017 "CVE-2017-16137 (Medium) detected in debug-2.6.7.tgz - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed - autoclosed"
## CVE-2017-16137 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>debug-2.6.7.tgz</b></p></summary>

<p>small debugging utility</p>
<p>Library home page: <a href="https://registry.npmjs.org/debug/-/debug-2.6.7.tgz">https://registry.npmjs.org/debug/-/debug-2.6.7.t

[2021-05-11 00:19] whitesource-for-github-com[bot] opened #1018 "CVE-2017-16138 (High) detected in mime-1.3.4.tgz"
## CVE-2017-16138 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>mime-1.3.4.tgz</b></p></summary>

<p>A comprehensive library for mime-type mapping</p>
<p>Library home page: <a href="https://registry.npmjs.org/mime/-/mime-1.3.4.tgz">https://registry.npmjs.org/mime

[2021-05-11 00:19] whitesource-for-github-com[bot] opened #1019 "CVE-2017-16119 (High) detected in fresh-0.5.0.tgz"
## CVE-2017-16119 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>fresh-0.5.0.tgz</b></p></summary>

<p>HTTP response freshness testing</p>
<p>Library home page: <a href="https://registry.npmjs.org/fresh/-/fresh-0.5.0.tgz">https://registry.npmjs.org/fresh/-/fresh-0

[2021-05-11 00:22] johnbent commented on #1001
jupyter

![](https://user-images.githubusercontent.com/2047294/117739959-a24f3500-b1bc-11eb-9cdf-bf50602589df.png)

[2021-05-11 00:29] johnbent commented on #1001
![](https://user-images.githubusercontent.com/2047294/117740445-b21b4900-b1bd-11eb-9d12-5b7ce5ac1dc5.png)

[2021-05-11 00:31] whitesource-for-github-com[bot] opened #1020 "CVE-2018-20225 (High) detected in pip-19.2-py2.py3-none-any.whl"
## CVE-2018-20225 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>pip-19.2-py2.py3-none-any.whl</b></p></summary>

<p>The PyPA recommended tool for installing Python packages.</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/3a/6f/35de4f49

[2021-05-11 00:31] whitesource-for-github-com[bot] opened #1021 "CVE-2019-20916 (High) detected in pip-18.1-py2.py3-none-any.whl - autoclosed"
## CVE-2019-20916 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>pip-18.1-py2.py3-none-any.whl</b></p></summary>

<p>The PyPA recommended tool for installing Python packages.</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages/c2/d7/90f34cb0

[2021-05-11 00:40] johnbent commented on #1001
![](https://user-images.githubusercontent.com/2047294/117741252-37ebc400-b1bf-11eb-8298-66ef3f8fd01f.png)

[2021-05-11 01:14] whitesource-for-github-com[bot] opened #1023 "CVE-2012-6708 (Medium) detected in jquery-1.7.2.min.js"
## CVE-2012-6708 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.7.2.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js">https://cdnjs.cl

[2021-05-11 01:14] whitesource-for-github-com[bot] opened #1024 "CVE-2020-7656 (Medium) detected in jquery-1.7.2.min.js"
## CVE-2020-7656 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.7.2.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js">https://cdnjs.cl

[2021-05-11 01:14] whitesource-for-github-com[bot] opened #1025 "CVE-2019-11002 (Medium) detected in materialize-css-1.0.0.tgz"
## CVE-2019-11002 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>materialize-css-1.0.0.tgz</b></p></summary>

<p>Builds Materialize distribution packages</p>
<p>Library home page: <a href="https://registry.npmjs.org/materialize-css/-/materialize-css-1.0.0.tgz">h

[2021-05-11 01:15] whitesource-for-github-com[bot] opened #1026 "CVE-2019-11003 (Medium) detected in materialize-css-1.0.0.tgz"
## CVE-2019-11003 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>materialize-css-1.0.0.tgz</b></p></summary>

<p>Builds Materialize distribution packages</p>
<p>Library home page: <a href="https://registry.npmjs.org/materialize-css/-/materialize-css-1.0.0.tgz">h

[2021-05-11 01:15] whitesource-for-github-com[bot] opened #1027 "CVE-2019-11004 (Medium) detected in materialize-css-1.0.0.tgz"
## CVE-2019-11004 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>materialize-css-1.0.0.tgz</b></p></summary>

<p>Builds Materialize distribution packages</p>
<p>Library home page: <a href="https://registry.npmjs.org/materialize-css/-/materialize-css-1.0.0.tgz">h

[2021-05-11 01:15] mend-for-github-com opened #1028 "CVE-2020-7768 (High) detected in grpc-js-1.0.5.tgz"
## CVE-2020-7768 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>grpc-js-1.0.5.tgz</b></p></summary>

<p>gRPC Library for Node - pure JS implementation</p>
<p>Library home page: <a href="https://registry.npmjs.org/@grpc/grpc-js/-/grpc-js-1.0.5.tgz">https://registry

[2021-05-11 01:15] whitesource-for-github-com[bot] opened #1029 "CVE-2020-7720 (High) detected in node-forge-0.9.2.tgz"
## CVE-2020-7720 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-forge-0.9.2.tgz</b></p></summary>

<p>JavaScript implementations of network transports, cryptography, ciphers, PKI, message digests, and various utilities.</p>
<p>Library home page: <a href="http

[2021-05-11 01:15] mend-for-github-com opened #1030 "CVE-2020-8237 (High) detected in json-bigint-0.3.1.tgz"
## CVE-2020-8237 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>json-bigint-0.3.1.tgz</b></p></summary>

<p>JSON.parse with bigints support</p>
<p>Library home page: <a href="https://registry.npmjs.org/json-bigint/-/json-bigint-0.3.1.tgz">https://registry.npmjs.or

[2021-05-11 16:46] #1003 closed

[2021-05-11 16:46] #1004 closed, assigned to nobody

[2021-05-11 16:46] #1006 closed

[2021-05-11 16:46] #1007 closed

[2021-05-11 16:46] #1008 closed, assigned to nobody

[2021-05-11 16:46] #1009 closed

[2021-05-11 16:46] #1011 closed, assigned to nobody

[2021-05-11 16:46] #1012 closed, assigned to nobody

[2021-05-11 16:46] #1014 closed, assigned to nobody

[2021-05-11 16:46] #1016 closed, assigned to nobody

[2021-05-11 16:46] #1017 closed, assigned to nobody

[2021-05-11 16:46] #1026 closed

[2021-05-11 16:46] #1027 closed

[2021-05-11 16:46] #1028 closed, assigned to nobody

[2021-05-11 16:46] #1029 closed

[2021-05-11 16:46] #1030 closed, assigned to nobody

[2021-05-11 16:46] #1002 closed, assigned to nobody

[2021-05-11 16:47] #861 closed

[2021-05-12 03:55] harrison-seow-seagate commented on #985
Hi @adgang, the Oracle VM VirtualBox instructions was initially documented using cortx ova 1.0.2, which for some reason has different device names compared to cortx ova 1.0.3. (So this part may need to improve, if anyone knows the reason behind).

Restarting the VM switches the IP address seems reasonable to me, maybe you want to further elaborate what kind of trouble are you having?

[2021-05-12 05:16] christina-00 opened #1036 "Missing stable branch in cortx-build:centos-7.8.2003"
Execute Step 4 in [Release Build Creation](https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst) throws the following error.
[root@ssc-vm-4297 cortx]# docker run --rm -v /var/artifacts:/var/artifacts -v /root/cortx:/cortx-workspace ghcr.io/seagate/cortx-build:centos-7.8.2003 make checkout BRANCH=stable
*************** checkout code *********************
pushd cortx-workspace &

[2021-05-12 06:27] adgang commented on #985
Actually, I was able to see enp0s3, enp0s8, enp0s9 device names when I ran Cortx in an earlier VM using Cortx ova 1.0.3.

What I mean by the `Restarting VM sometimes switches the IPs` issue is that if I had been using one IP, ip1, for management portal and another, ip2, for public services(like s3), after restarting VM, the management portal no longer is available on ip1 but is on ip2.

[2021-05-12 06:35] mukul-seagate11 commented on #985
@adgang, the instructions are already documented in https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst in steps 6. "For Oracle VM VirtualBox Users ONLY"

[2021-05-12 07:06] shailesh-vaidya commented on #1036
@christina-00  This is caused due to newly added submodule `cortx-multisite` . Let me get this fixed.

[2021-05-12 07:23] harrison-seow-seagate commented on #985
As the network is setup using DHCP, IP changes are bound to happen during restart, static IP configuration could be harder to maintain as it may not work for different VM with different network setups.

[2021-05-12 10:17] christina-00 opened #1038 "Unable to send test email in CORTX notifications setting"
When configuring the Notification settings at [CORTX Onboarding](https://ssc-vm-4297.colo.seagate.com:28100/#/onboarding) page with the following information, hit "Authentication failed" error. What is the correct configuration?

![image](https://user-images.githubusercontent.com/67787582/117958290-74e5c100-b34d-11eb-9278-a7412da7f945.png)

[2021-05-13 16:11] justinzw commented on #1036
Thanks @shailesh-vaidya is there a workaround here? What is the fix so @christina-00 can go about building this?

[2021-05-13 16:14] justinzw commented on #1038
@christina-00 I just wanted to check is this indeed an available smtp server?

Do you really have the domain "testmail.com"?

[2021-05-14 07:48] christina-00 commented on #1038
I don't think "testmail.com" is a valid domain. The above configurations are given by the CORTX Test team. I tried with "seagate.com" and it doesn't work as well.

[2021-05-14 14:42] #985 closed

[2021-05-14 14:52] justinzw commented on #1038
Thanks @christina-00  I think it needs to be a valid smtp server. Can you email me the instructions from the CORTX test team?
I'll try them out.

justin.woo at seagate dot com

[2021-05-18 04:56] shailesh-vaidya commented on #1036
@christina-00 - You can use below command to check-out `stable` branch code for all components as of now,
[code]

[2021-05-18 10:08] #1036 closed

[2021-05-19 04:39] shailesh-vaidya commented on #1038
@kupranay - We are trying to configure SMTP in single node CORTX deployment and it's not working. I tried configuration from QA team and asked @christina-00 to try it out. However it's not working. Could you please ask someone help into this.

[2021-05-19 12:44] #1038 closed

[2021-05-19 12:45] justinzw commented on #1038
With the right configurations. @christina-00 managed to configure the notifications.

[2021-05-19 20:50] johnbent commented on #1001
![image](https://user-images.githubusercontent.com/2047294/118882535-8846de00-b8b1-11eb-863a-74b409affdff.png)

[2021-05-25 10:44] max-seagate commented on #892
@somnathbghule had demonstrated it.

Source code: https://github.com/Seagate/cortx-motr/tree/somnath/fdmi-plugin-multisite.

[2021-05-25 10:44] #892 closed

[2021-05-25 10:45] max-seagate commented on #909
Deferred because other tasks got more priority. Closing for now, will reopen if/when needed.

[2021-05-25 10:45] #909 closed

[2021-05-26 04:52] mukul-seagate11 commented on #939
Can this issue be update?

[2021-05-26 04:54] mukul-seagate11 commented on #709
@justinzw, I hope we can close this issue?

[2021-05-26 04:57] mukul-seagate11 opened #1064 "Separate Wiki pages for OVA as per different releases"
Separate Wiki pages for OVA as per different releases so that the any feature should not be overridden in one Wiki, https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst

We can take example & reference from https://access.redhat.com/documentation/en-us/red_hat_ceph_storage/4/

[2021-05-26 05:10] #800 closed

[2021-05-26 05:12] #709 closed

[2021-05-26 05:13] johnbent commented on #591
Fixed in a new python program in metrics/

[2021-05-26 05:13] #591 closed

[2021-05-26 05:14] johnbent commented on #555
Merged into #613

[2021-05-26 05:14] #555 closed

[2021-05-26 05:15] johnbent commented on #550
Merged into #613

[2021-05-26 05:15] #550 closed

[2021-05-26 05:18] mukul-seagate11 commented on #540
@bariarviv, have you come across similar issue as according to @justinzw its install successfully on physical server?

[2021-05-26 05:22] mukul-seagate11 commented on #522
@Saumya-Sunder, any further update on this?

[2021-05-26 05:24] mukul-seagate11 commented on #444
@Saumya-Sunder, any further update or if done then this issue be closed?

[2021-05-26 05:37] mukul-seagate11 commented on #1064
@TechWriter-Mayur, lets sync up & create seperate Wiki pages as discussed with John today

[2021-05-26 09:37] ypise commented on #939
The documents have been updated and this issues is no longer relevant.

[2021-05-26 09:37] #939 closed

[2021-05-28 11:08] christina-00 opened #1068 "Location of CORTX Technical Overview & brainshark video"
https://github.com/Seagate/cortx/blob/main/doc/architecture.md
1. Should the **CORTX Technical Overview** belongs under **Seagate** folder? Currently, it is pointing to **Saumya Sauder**?
2. The brainshark link is not accessible outside of Seagate network. Should we make it accessible?

![image](https://user-images.githubusercontent.com/67787582/119973926-a5348d00-bfe6-11eb-9bb1-a6e76aacca48.png)

[2021-05-28 11:28] christina-00 opened #1069 "Error adding new S3 account in CORTX GUI"
I am using a Seagate cloud VM. Hit the following error when trying out the guide at https://github.com/Seagate/cortx/blob/main/doc/testing_io.rst

![image](https://user-images.githubusercontent.com/67787582/119977030-7fa98280-bfea-11eb-8dad-1a06b79b0911.png)

[2021-05-28 13:09] mukul-seagate11 commented on #1069
@christina-00, Check whether below service is running,

systemctl status s3authserver

and If in failed/stopped state then start the service,

systemctl status s3authserver

Also, check whether port, 9080 is open & listening

[2021-05-28 14:08] christina-00 commented on #1069
It seems to be down. What is the command to start the service?

I tried to start the cortx cluster but it seems there are other components (ioservice, confd, s3server) which are not running even after I started it.

[2021-05-28 14:34] TechWriter-Mayur commented on #1069
@christina-00 : try to run to start S3authserver:

`systemctl start s3authserver`

[2021-05-28 15:16] hessio commented on #1068
Thanks @christina-00 yes I think you are right I don't think this should point to @Saumya-Sunder branch, and also you are correct this BrainShark video is not available to the open-source community and I think we should remove it.

[2021-05-28 16:16] justinzw commented on #1069
@christina-00 it seems odd that multiple systems seem down. Maybe you can give us access to the machine and we can ssh into it to debug. Feel free to share with me the connection details over e-mail.

[2021-05-28 19:22] justinzw commented on #1068
@johnbent @novium258  Should we put the brainshark video up on youtube? or is it already out of date.

[2021-05-28 20:55] johnbent commented on #1068
@justinzw , we should definitely add it to youtube.  @TechWriter-Mayur , can you please do the needful?

[2021-05-29 10:53] christina-00 commented on #1069
@justinzw @TechWriter-Mayur @mukul-seagate11 It's working right now. My VM is affected by an outage according to the lab admin. I think that's probably the reason why I was unable to start the CORTX cluster. All components except the m0_client are started now. The s3authserver is also up and running now. I am able to add the S3 account.

[2021-05-29 11:09] christina-00 commented on #1069
However, I do see a warning like below after the S3 account is created successfully. I wasn't able to connect using Cyberduck after that. Can anyone shed some light on this?
![image](https://user-images.githubusercontent.com/67787582/120067980-f1e49a80-c0b0-11eb-8ff2-f777a521e47d.png)
![image](https://user-images.githubusercontent.com/67787582/120068030-307a5500-c0b1-11eb-9ab1-fffe9b059d48.png)
![

[2021-05-30 11:38] mukul-seagate11 commented on #1069
@christina-00, I see you are testing on SSC VM as we have to troubleshoot as well as debug the network & firewall settings from infra perspective as in your error message SSC VM connection is getting refused so I would suggest, you to use the hypervisor's install locally i.e. VMware Workstation as the community will be tested with same use case

[2021-05-31 02:18] christina-00 commented on #1069
@mukul-seagate11 I do see few obstacles when using SSC VM. Some of the guideline (for eg, changing hostname, setting up email notification) would not work due to limitations with SSC VM. I am thinking we should discourage Seagators from using SSC VM going forward if this is causing too much issues. What do you think?

[2021-05-31 04:19] mukul-seagate11 commented on #1068
https://github.com/Seagate/cortx/pull/1071 raised for the issue reported, Patrick close once done

[2021-05-31 11:59] hessio commented on #1069
I strongly agree with you @christina-00 but I think the issue with this right now is the security. I think it would be great if we could all use the same systems or at least very similar. I will try to bring this issue up with others @christina-00 thanks for your input. [😊](https://emojipedia.org/smiling-face-with-smiling-eyes/)

[2021-05-31 12:16] TechWriter-Mayur commented on #1068
@novium258 Can we add Seagate Brainshark course video to YouTube?

[2021-06-01 06:30] AshwiniS-Borse commented on #1069
Not sure what QA is expected to do here. Assigning to @DeepakChoudahry, please assign it

[2021-06-02 02:34] novium258 commented on #1068
@TechWriter-Mayur Yes, definitely put in the ticket to get it up!

[2021-06-03 04:22] #1068 closed

[2021-06-04 01:43] yoketong-t opened #1078 "Bootstrap script in Virtual Appliance v1.0.3 not working out of the box"
Following the guide @ [CORTX on Open Virtual Appliance](https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst), I was able to import the OVA into VMware Workstation 14 Pro. I have made sure that the network configuration are correct (DHCP + bridging to the correct NIC).

However, as I attempt to run the bootstrap.sh script (/opt/seagate/cortx/provisioner/cli/virtual_ap

[2021-06-04 20:27] justinzw commented on #1078
Hi @yoketong-t  thank you for reporting this issue and fixing it on your system. This is indeed odd and not something we have reproduced on our systems using the same setup. I'll reach out and schedule a meeting with you to look at this together.

[2021-06-14 09:52] mukul-seagate11 commented on #1078
@justinzw, does this issue has been addressed as the its from 1.0.3 release?

[2021-06-16 12:38] mukul-seagate11 commented on #1064
OVA Wiki pages are separated as per https://github.com/TechWriter-Mayur/cortx/tree/R2-OVA-Branch/doc/OVA

[2021-06-16 12:38] #1064 closed

[2021-06-16 12:41] mukul-seagate11 commented on #1069
@sachitanands, please address as per reported

[2021-06-16 12:43] mukul-seagate11 commented on #703
@Saumya-Sunder, any update on this

[2021-06-16 12:44] mukul-seagate11 commented on #540
@all, can we have update on this?

[2021-06-21 05:04] nileshgovande commented on #1069
1)What type of deployment it is ? R1 (cortx-1.0) or R2 (main) ?
2)OVA or provisioning setup ?

It looks like Cyberduck seems to contact management IP. Is it supposed to work that way ?

[2021-06-21 10:05] mukul-seagate11 commented on #1069
@christina-00, many fixes has gone in OVA R1 & R2 and now new version of OVA R1 is published so try a fresh build on hypervisor

[2021-06-21 10:05] #1069 closed

[2021-06-21 16:10] daniarherikurniawan opened #1087 "Link to deploy CORTX OVA is not pointing to a valid path"
The link to Run a pre-built CORTX OVA on a single node is not working. Apparently, the page is now moved to another dir.
Original path = https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst
New path      = https://github.com/Seagate/cortx/blob/main/doc/OVA/1.0.4/CORTX_on_Open_Virtual_Appliance.rst

This page contains the invalid link: https://github.com/Seagate/cortx/

[2021-06-21 16:54] johnbent commented on #1087
Thanks Dan!  Yes, please go ahead and scan and find all broken links!

[2021-06-21 23:05] daniarherikurniawan commented on #1087
Thanks, I will work on this tomorrow.

[2021-06-21 23:05] #1087 closed

[2021-06-25 02:52] johnbent opened #1094 "Combine coding guidelines"
@Saumya-Sunder , can you please copy everything from this [confluence page](https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/219612844/Coding+Guidelines) into our [github page](https://github.com/Seagate/cortx/blob/main/doc/CodeStyle.md)?  But please eliminate any redundancy.  If there are any contradictions, please ask myself or @ujjwalpl for guidance.  Then delete everything in

[2021-06-25 18:49] Saumya-Sunder commented on #1094
Hey @johnbent, sure.

[2021-06-25 23:28] whitesource-for-github-com[bot] opened #1099 "CVE-2020-28469 (High) detected in glob-parent-2.0.0.tgz, glob-parent-3.1.0.tgz"
## CVE-2020-28469 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>glob-parent-2.0.0.tgz</b>, <b>glob-parent-3.1.0.tgz</b></p></summary>
<p>

<details><summary><b>glob-parent-2.0.0.tgz</b></p></summary>

<p>Strips glob magic from a string to provide the parent pat

[2021-06-25 23:29] whitesource-for-github-com[bot] opened #1100 "CVE-2021-33502 (High) detected in normalize-url-3.3.0.tgz, normalize-url-1.9.1.tgz"
## CVE-2021-33502 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>normalize-url-3.3.0.tgz</b>, <b>normalize-url-1.9.1.tgz</b></p></summary>
<p>

<details><summary><b>normalize-url-3.3.0.tgz</b></p></summary>

<p>Normalize a URL</p>
<p>Library home page: <a href="

[2021-06-25 23:29] whitesource-for-github-com[bot] opened #1101 "CVE-2021-33503 (High) detected in urllib3-1.26.4-py2.py3-none-any.whl"
## CVE-2021-33503 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>urllib3-1.26.4-py2.py3-none-any.whl</b></p></summary>

<p>HTTP library with thread-safe connection pooling, file post, and more.</p>
<p>Library home page: <a href="https://files.pythonhosted.org/pack

[2021-06-25 23:29] whitesource-for-github-com[bot] opened #1102 "WS-2021-0153 (High) detected in ejs-2.7.4.tgz"
## WS-2021-0153 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ejs-2.7.4.tgz</b></p></summary>

<p>Embedded JavaScript templates</p>
<p>Library home page: <a href="https://registry.npmjs.org/ejs/-/ejs-2.7.4.tgz">https://registry.npmjs.org/ejs/-/ejs-2.7.4.tgz</a></

[2021-06-25 23:29] whitesource-for-github-com[bot] opened #1103 "CVE-2021-33587 (High) detected in css-what-3.4.2.tgz"
## CVE-2021-33587 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>css-what-3.4.2.tgz</b></p></summary>

<p>a CSS selector parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/css-what/-/css-what-3.4.2.tgz">https://registry.npmjs.org/css-what/-/css-w

[2021-06-30 14:30] #1103 closed

[2021-06-30 14:40] mukul-seagate11 commented on #540
As there was no update so please feel free to reopen the issue if this issue is being encountered again.

[2021-06-30 14:40] #540 closed

[2021-06-30 14:43] mukul-seagate11 commented on #522
@Saumya-Sunder, do you have any update on this issue?

[2021-06-30 14:45] mukul-seagate11 commented on #441
This issue has been resolved

[2021-06-30 14:45] #441 closed

[2021-06-30 14:47] mukul-seagate11 commented on #424
As there is no update so closing the issue, please feel free to reopen if encounter any issue

[2021-06-30 14:47] #424 closed

[2021-06-30 14:48] mukul-seagate11 commented on #350
As there is no update, hence closing the issue

[2021-06-30 14:48] #350 closed

[2021-06-30 14:48] mukul-seagate11 commented on #385
As there is no update, hence closing the issue

[2021-06-30 14:48] #385 closed

[2021-06-30 14:50] mukul-seagate11 commented on #257
Do we have any update on this issue or can be closed?

[2021-06-30 14:51] mukul-seagate11 commented on #247
This issue has been resolved

[2021-06-30 14:51] #247 closed

[2021-06-30 14:52] #243 closed, assigned to justinzw

[2021-07-05 03:52] mukul-seagate11 commented on #522
As I see no update on the issue so closing accordingly

[2021-07-05 03:52] #522 closed

[2021-07-05 03:54] mukul-seagate11 commented on #257
As we see no update on the issue after reminder so closing the same accordingly,
please feel free to reopen the issue if you encounter any issue

[2021-07-05 03:54] #257 closed

[2021-07-05 03:59] mukul-seagate11 commented on #1094
@Saumya-Sunder, Is anything pending on this issue otherwise please update & close accordingly

[2021-07-05 06:29] shailesh-vaidya opened #1107 "Documentation naming convention."
We should define and follow the standard naming conventions for naming documents. Currently few are all small, all capital and mix.
[code]